[2022-08-16 14:16] Yuhta commented on #2303
Thanks for spotting this, looks like this is a bug in `UniqueValueHasher`, we put the hash and value in wrong order.  I will fix it soon.

[2022-08-17 05:29] kgpai opened #2310 "Enable Simd for Neq"
Currently Simd for Neq is disabled due to an xsimd bug: https://github.com/xtensor-stack/xsimd/issues/805
This will be re-enabled when this PR (https://github.com/xtensor-stack/xsimd/pull/806) is merged and XSIMD updated.

[2022-08-17 13:42] #2303 closed

[2022-08-18 11:19] ChengjieLi28 opened #2322 "Cannot build velox on Apple M1 Max"
Hi, I am trying to build velox on MacBook Pro M1 Max.
I have installed all the prerequisites and run the command mentioned [#2016](https://github.com/facebookincubator/velox/issues/2016) successfully:
`sudo INSTALL_PREREQUISITES=N CPU_TARGET="arm64" ./scripts/setup-macos.sh`.

Then I run
`CPU_TARGET="arm64" make EXTRA_CMAKE_FLAGS="-DVELOX_BUILD_MINIMAL=ON"`
But I got these errors:
[logs.txt](https

[2022-08-18 15:57] kgpai commented on #2322
Thanks @ChengjieLi28 , I am working on a fix in this PR: https://github.com/facebookincubator/velox/pull/2318

[2022-08-19 04:34] ChengjieLi28 commented on #2322
Hi @kgpai , Thanks for your fix. With this commit 8a71886b8d4f5cfc41f3b3289e7d51bf3097e1f4, I can run `CPU_TARGET="arm64" make EXTRA_CMAKE_FLAGS="-DVELOX_BUILD_MINIMAL=ON"` successfully.

But when I execute `CPU_TARGET="arm64" make release EXTRA_CMAKE_FLAGS="-DVELOX_BUILD_BENCHMARKS_LARGE=ON -DVELOX_ENABLE_BENCHMARKS=ON -DVELOX_ENABLE_BENCHMARKS_BASIC=ON"` for TPCH benchmark, I got these errors:
[

[2022-08-19 05:18] yingsu00 opened #2329 "Improve ParquetRowReader::filterRowGroups()"
Issue 1
It'll be better to match the split range before match each ColumnChunk's Statistics.

Issue 2
It'll be clearer and more efficient to move columnReader_->filterRowGroups() in the for loop and only calls it when the current RowGroup passes split match. This would save the cost of std::find() over all excluded RowGroups

[2022-08-19 08:13] ChengjieLi28 opened #2332 "Cannot build velox with substrait"
I found a build issue for velox with substrait.
When I execute the command CPU_TARGET="arm64" make debug EXTRA_CMAKE_FLAGS="-DVELOX_BUILD_TESTING=OFF -DVELOX_ENABLE_SUBSTRAIT=ON" NUM_THREADS=16 MAX_HIGH_MEM_JOBS=8 MAX_LINK_JOBS=16 on my M1 MacBook Pro, I got the following errors:
[logs.txt](https://github.com/facebookincubator/velox/files/9380116/logs3.txt)

And I try to use Intel CPU device to bu

[2022-08-19 10:54] yingsu00 commented on #2329
Working on a fix... Assigning to myself.

[2022-08-19 10:54] majetideepak commented on #2329
The lower bound > upper bound. Is this a valid split range?
The split ranges will span the entire file size. Looking at only column 0's offset should work.

This makes sense since stat computation is relatively expensive.

[2022-08-19 10:58] yingsu00 commented on #2329
It was a typo. The second should be 52,269,596 + 26,134,798. It falls into RowGroup 0. I have a fix for this.

[2022-08-19 11:08] majetideepak commented on #2329
This is not in the range of  [52,269,596, 52,269,596 + 26,134,798]. So it will be eliminated right?

[2022-08-19 11:10] yingsu00 opened #2335 "SelectiveStructColumnReader::filterRowGroups() return duplicate RowGroup Ids"
`SelectiveStructColumnReader::filterRowGroups()` go over the stats column by column, and merge the RowGroup Ids to be skipped from each column to the final `strideToSkip_`. This could produce many duplicates in the list. For example, a table has 3 columns, and all columns returns a list of {0, 1, 2, ... 9}, then the final `strideToSkip_` became {0, 0, 0, 1, 1, 1,....9,9,9}. This is not only ineffi

[2022-08-19 11:12] yingsu00 commented on #2335
Related issue https://github.com/facebookincubator/velox/issues/2329

I'm working on a fix. Assigning to myself.

[2022-08-19 17:16] kgpai commented on #2322
@Yuhta Can arrow's find boost be somehow messing around with this ?

[code]

[2022-08-19 17:16] kgpai commented on #2322
@ChengjieLi28 I will try and replicate this on my M1; Please give me a day or two.

[2022-08-20 10:21] yingsu00 commented on #2329
Actually this is a severe bug. It fails to add rowgroups that should be read and read a lot less data than it should. In the attached example, the split range is [26134798, 52269596]. There are 2 row groups in the table. row group 0 is in range [4, 133677309], row group 1 in [133677309, 261347983]. filterRowGroups() should add RG0 to rowGroupIds, and skip RG1. But it fails to add any of the RGs an

[2022-08-20 10:42] yingsu00 opened #2345 "ParquetTpchTest does not test multiple rowgroups"
We need to manually create small row groups and include multiple rowgroups in the test.

[2022-08-20 11:34] yingsu00 opened #2346 "Replace DuckDB Parquet writer to Arrow writer for ParquetTpchTest"
Parquet spec requires each ColumnChunk's file_offset to be set correctly.  This is the Parquet cpp generated from thrift definition:
[code]
By specification, the file_offset of the RowGroup is optional. However DuckDB writes it for all RowGroups but does NOT write the required file_offset of the ColumnChunk. Take Q3 for example, the metadata being parsed is in the following picture:
The table has

[2022-08-20 11:36] yingsu00 commented on #2346
cc @oerling @majetideepak

[2022-08-20 11:45] yingsu00 commented on #2335
This bug is DWRF only and does not affect the correctness. To fix it, it requires some refactoring and needs to be thought over. I will defer the fix to later. Unassigning me for now.

[2022-08-20 11:46] yingsu00 commented on #2335
cc @oerling

[2022-08-20 11:46] yingsu00 commented on #2345
cc @oerling @majetideepak @jwyles-ahana

[2022-08-20 15:11] majetideepak commented on #2329
Isn't this expected? Split range [0, 26134798] will read RG0 and split range  [130673990, 156808788] will read RG1.

[2022-08-20 23:52] yingsu00 commented on #2329
Split ranges [0, 26134798] were not handled by this reader instance. A reader never processes more than 1 split. In the above example, this reader instance needs to read split range [26134798, 52269596], which falls in RG0 and shall read RG0 only. But it didn't recognize any  RGs and put zero RG into the rowGroupIds to be read. This results in no data being read at all.

[2022-08-21 00:09] majetideepak commented on #2329
I don't believe every reader instance should process at least one Row Group. I also think a Parquet RowGroup is indivisible. It cannot be processed across two reader instances.
This is how I believe the processing works. A Parquet file is set up to be processed across multiple consecutive split ranges.
Example: Say there is a foo.parquet file of size 1000 bytes with two RowGroups with file_offsets

[2022-08-21 17:26] majetideepak commented on #2346
@yingsu00 Please add tests to https://github.com/facebookincubator/velox/blob/main/velox/dwio/parquet/tests/reader/E2EFilterTest.cpp if you want to add tests with dictionary encoding and to use the Arrow writer. There are already some tests there with dictionary encoding.

The ParquetTpchTest is currently passing. Is there an issue with the test setup that is hiding the issue you posted? Do you ha

[2022-08-22 06:13] yingsu00 opened #2348 "[Design] Fast C++ Bit Unpacking"
ying@ahana.io

Parquet uses Rle and Bitpacking encoding extensively. The usages in Parquet V1 include
 - Decoding repetition levels to interpret nested structures
 - Decoding definition levels to interpret nulls
 - Dictionary ids

It’s crucial to have a fast bit unpacking library for the Parquet reader. In this doc we present the design and lessons learnt from implementing this little lib.

# Bulk

[2022-08-22 08:54] yingsu00 commented on #2348
cc @oerling

[2022-08-22 13:19] majetideepak opened #2350 "Add Decimal Type support in Native Parquet Reader"

[2022-08-22 13:19] majetideepak opened #2351 "Add Complex Types support to Native Parquet Reader"

[2022-08-22 14:19] mbasmanova commented on #2073
Re-opening as the fix got reverted. CC @bikramSingh91 @tanjialiang

[2022-08-22 14:30] majetideepak commented on #2345
The current ParquetTpchTest already does this.
See https://github.com/facebookincubator/velox/blob/main/velox/dwio/parquet/tests/reader/ParquetTpchTest.cpp#L65

[2022-08-23 07:51] yingsu00 commented on #2346
@majetideepak I actually made a mistake in describing the issue. There was no failure for this particular case and sorry for the confusion. This issue is mainly for ParquetTpchTest to use Arrow Parquet writer. DuckDB writes RG file_offset but not ColumnChunk file_offset which is different from the spec. Another hope was to make this test cover the multiple RG case. E2EFilterTest already covers mul

[2022-08-23 07:59] yingsu00 commented on #2351
I'm working on it

[2022-08-23 08:02] yingsu00 commented on #2329
Sorry for the confusion. I did make a mistake in how Velox handles the RowGroup elimination. There was no functional error here. I'll close this issue now.

[2022-08-23 08:02] #2329 closed

[2022-08-23 08:02] #2345 closed

[2022-08-23 08:25] LastSmiling opened #2363 "Is DateDiffFunction need timezone?"
in function
[code]

when use TimeStamp type, it will use timezone, but,  timestamp1 and timestamp2 use the same tz,  so whether the absolute difference between  the two timestamp values is the same whatever the tz is.

on the other side,  the below function is confusing

[code]
it can just be simplified to ?
[code]

[2022-08-23 16:09] jwyles-ahana commented on #2262
I am going to start working on array_union.

[2022-08-23 17:04] kagamiori commented on #2363
Hi @LastSmiling, Thank you for reaching out! These are good questions. At first sight, it looks like both the `call()` that takes `Timestamp` arguments and `Timestamp::toTimezone()` can indeed be simplified. CC @mbasmanova for opinions.

[2022-08-23 18:35] aditi-pandit commented on #2262
There was a prior PR https://github.com/facebookincubator/velox/pull/867 that was abandoned. Maybe you can check with @kagamiori about it.

[2022-08-23 18:39] mbasmanova commented on #2363
@LastSmiling You are welcome to submit a PR to simplify this code.

[2022-08-23 19:51] kagamiori commented on #2262
@aditi-pandit Thank you for bringing up this! It was a PR I didn't finish. I originally planned to rewrite it as a simple function once it's supported. (I just confirmed that it's not supported yet currently.) Do you need this function soon? Please feel free to take it over, or let me know if you want me to finish #867.

[2022-08-23 20:29] aditi-pandit commented on #2262
There isn't an urgency for the array_union function rightaway. We were just picking stuff from Masha's list above.

[2022-08-23 20:34] jwyles-ahana commented on #2262
I will leave array_union to @kagamiori and instead start on array_average instead.

[2022-08-24 01:58] LastSmiling commented on #2363
@mbasmanova  my pleasure to do this   :)

[2022-08-24 08:28] ChengjieLi28 commented on #2322
Hi, @kgpai . Is there any update please?

[2022-08-24 12:18] mbasmanova commented on #1634
Another query that hits the same problem:

[code]

[2022-08-24 21:53] mbasmanova commented on #1634
Some prep work to enable fixing this problem: #2379

[2022-08-25 13:45] rui-mo opened #2385 "Final avg for nulls on top of a row_constructor projection"
Hi,
We found one issue on final avg for nulls with row_constructor.

As below, we are using final avg on top of a row_constructor projection.
[code]
When the values of `c1` and `c2` are all null, the output of row_constructor projection (`p0`) does not reflect the validity information because its null buffer is set to nullptr (link: [RowFunction](https://github.com/facebookincubator/velox/blob/mai

[2022-08-25 13:47] rui-mo commented on #2385
Try to fix this issue in https://github.com/facebookincubator/velox/pull/2386.

[2022-08-25 13:57] mbasmanova commented on #2385
This difference does not affect the result of final avg actually. Do you think they needed to aligned?

I don't see a reason for partial results to match DuckDB.

[2022-08-25 14:00] mbasmanova commented on #2385
I think the problem is in how the application is unpacking and re-assembling partial results. I assume partial agg returns a row vector with some entries being null. The application then unpacks it into two null scalars (count and sum). This transformation looses some information, specifically a null flag in the original row. Hence, combining the count and sum back doesn't work correctly. I sugges

[2022-08-25 15:13] rui-mo commented on #2385
Hi Masha, thanks for your suggestion.

Looks like if we extract an extra column for is_null, the batch could be uncompatible with our current shuffle code. Because the input and output fields in shuffle are already decided by Spark, we may need to replan it in this case.
If we still unpack it into count and sum, and assemblle back using `if (sum is null, null, row_constructor(count, sum))`, looks

[2022-08-25 15:22] mbasmanova commented on #2385
@rui-mo Would you share the input data and query that produces the wrong result? I assume the query is SELECT a, avg(b) FROM t, but what are the values for 'a' and 'b'?

[2022-08-25 15:33] rui-mo commented on #2385
This issue only happens when the input of final avg is the assembled row vector of sum and count using `row_constructor`. I think It could be reproduced with below test. Most values in the  sum column are set to null.

[code]

[2022-08-25 15:44] LastSmiling commented on #2363
sorry, I miss understanding the DateDiffFunction before.  Cause the daylight saving,  the timezone parameter in DateDiffFunction is  necessary.

so i will give a pr only to simplify the Timestamp::toTimezone function

[2022-08-25 15:53] mbasmanova commented on #2385
@rui-mo Rui, thank you for clarifying. It sounds like the problem happens only if input to final aggregation is different from the output of the partial aggregation. If that's the case, could you adjust the logic between partial and final aggregation to ensure the partial results are not modified?

[2022-08-25 15:58] mbasmanova commented on #2363
@LastSmiling Thank you for the update.

[2022-08-25 22:08] majetideepak opened #2388 "Portability issues with int128 type"
The current Velox Long Decimal type uses `int128_t` type. However, we are seeing a couple of portability issues around int128 types. Some of them are:
1) Address sanitizer does not support int128_t well.
2) int128_t requires alignment on x86_64.

I want to discuss these issues further and would like to conclude if it is meaningful to continue to use this type for development or use 2 int64_t type

[2022-08-25 22:08] majetideepak commented on #2388
@mbasmanova @Yuhta @xiaoxmeng Since you are seeing most of these issues in your internal tests, can you share your thoughts?

[2022-08-25 22:16] Yuhta commented on #2388
So far I don't see these 2 limitations as showstopper.
For 1 we just need to use the new `mul` defined in `DecimalUtil.h`.
For 2 we need to be careful and annotate the alignment (`__attribute__ ((aligned (16)))` or `alignas(16)`) wherever needed.

[2022-08-25 22:52] mbasmanova commented on #2388
My preference would be to switch to 2 64-bit integers, but I'm fine continuing with int128 for some more time to see if things get better.

[2022-08-26 02:03] rui-mo commented on #2385
Yes, they are different in our use case. The output of partial avg is separated into sum and count for shuffle. Sum and count are then assembled back for final avg. This is our current logic.
[code]

[2022-08-26 18:59] #1634 closed

[2022-08-26 20:15] Yuhta commented on #2388
FYI I probably found the root cause of 1.  It's the FB internal system that does not link `clang_rt` by default.  Once I add this, no more annotation will be needed for this purpose.

[2022-08-26 21:55] Yuhta commented on #2388
Bad news, due to some conflicts with Rust code, we still need to keep the annotations.

[2022-08-27 00:29] #2363 closed

[2022-08-29 16:55] mbasmanova commented on #2385
@rui-mo Rui, thank you for explaining. It seem that we need a different solution which would preserve the null-ness of the intermediate results. Have you looked into a possibility of changing the Spark query plan? We have introduced a change to Presto that allows to override the intermediate result types for aggregation functions. Perhaps, something similar can be done in Spark.

[2022-08-29 18:00] mbasmanova commented on #1634
@frankobe Frank, this problem should be fixed now. The fix has 3 parts: #2379, #2380, #2384 and applies to all types of exchanges including broadcast, partitioned and merge (exchange of sorted data). I'm going to close #1886.

[2022-08-29 20:49] Yuhta commented on #2388
Just an update on this, I get some point of contact who will be fixing the Rust build system so that we can link compiler builtins properly.  I will put some placeholder/slow implementation this week in `CheckedArithematic.h` to unblock the PRs for now (annotation is still needed for now).

Once everything is sorted out, no annotations will be needed and we will use `__builtin_mul_overflow` with `

[2022-08-30 21:03] Yuhta opened #2414 "Function is only resolved by name with presto_cpp"
In the issue related to https://github.com/prestodb/presto/pull/18207, function signature is ignored during the matching and only name is matched, which results in some hard-to-understand error message.  We should double check the function is resolved with the whole signature not just the name.

[2022-08-30 21:04] mbasmanova commented on #2414
Curious, what is the error message?

[2022-08-30 21:05] mbasmanova commented on #2414
I wonder if the error comes from Aggregate::intermediateType call in HashAggregation constructor.

[code]

CC: @xiaoxmeng

[2022-08-30 21:09] Yuhta commented on #2414
People get "The type of the percentile argument of approx_percentile must be DOUBLE" for raw input and "Unsupported input type for approx_percentile aggregation ARRAY" for final aggregation.

[2022-08-30 21:09] mbasmanova commented on #2414
Or, perhaps, the error comes from Aggregate::create call in HashAggregation constructor which looks up aggregate function using just the name and then calls the factory method to create an instance of the function, which may throw.

[code]

[2022-08-30 21:12] mbasmanova commented on #2414
Both these errors seem to come from registerApproxPercentile, which is called from Aggregate::create. We can enhance, Aggregate::create to check if argTypes match one of the aggregate function's signatures before trying to instantiate Aggregate instance. This logic would be similar to what we have currently in Aggregate::intermediateType, but error messages could be better, perhaps, similar to wha

[2022-08-30 21:46] kevinwilfong opened #2415 "Data Race in OperatorStats when stopping Task with unGroupedExecution."
One of our users was running tests with TSAN enabled an found a data race when they use LocalExchange and the Driver is stopping.

When Driver::close() is called it closes all of the operators, including LocalExchange which closes its LocalExchangeQueue.  When the LocalExchangeQueue is closed, it notifies all the producers/consumers via their Promises.  This causes BlockingState::setResume() to be

[2022-08-30 21:47] majetideepak opened #2416 "Add documentation for Decimal Type Signature"
The document below needs to be updated with the decimal type signature and type calculation.
https://facebookincubator.github.io/velox/develop/scalar-functions.html

[2022-08-30 22:00] bikramSingh91 opened #2417 "consider adding metrics in expressions keep track of the usage of optimizations"
Currently the metrics in expression only keep track of rows and vectors that are actually operated on. This can be a pretty small number if optimizations like peeling, common sub expression, memoization kick in. It would be great to expose these metrics as well to provide more observability into the extent of these optimizations' efficacy.

Noting down a few thoughts:
there can be a huge differenc

[2022-08-31 17:28] Yuhta opened #2430 "Use transparent `row` type instead of `varbinary` as intermediate type for `approx_percentile`"
The reason we need to do this is to support intermediate aggregation.  Currently some intermediate aggregation has only `varbinary` as both input and output; in such case there is no way for us to recover the value type from the type signature.  In `approx_percentile`, we need to recover the value type because the merge is type-aware and the final result contains original values.

#### Note
- Need

[2022-08-31 18:40] kagamiori opened #2431 "BaseVector::setNull() and FlatVector::set() lack checks that buffers being singly-referenced before modifications"
`values_` buffer and `nulls_` buffer of a vector may be shared with other vectors during an expression evaluation. For example, the result of `cast(array(varchar) as array(bigint))` share the `nulls_` buffer with the input vector. So when a vector wants to modify a buffer, it must first check whether the buffer is singly-referenced (i.e., `Buffer::referenceCount_ == 1`). If not, meaning there are

[2022-08-31 18:46] mbasmanova commented on #2431
Also, FlatVector::set() doesn't check if values_ buffer is null and crashes if it is.

CC: @majetideepak @aditi-pandit

[2022-09-01 01:46] rui-mo commented on #2385
@mbasmanova Masha, thank you for the helpful suggestion. We agree we should change the Spark query plan to support struct as the intermediate type of aggregation. But it still takes some time for us to support struct type in our columnar shuffle. Before that completes, we plan to specially handle this case to make the query result correct. Do you think that makes sense? Maybe we can close this iss

[2022-09-01 09:49] rui-mo opened #2438 "Different rules for nulls handling in anti join"
We found Velox's rules for null handling in anti join seemed to be **matched** with `not in` semantics in Duckdb or Spark.

[code]

But **not matched** with `not exists` semantics in Duckdb or Spark.

[code]

In Spark BHJ, there is a parameter naming `isNullAwareAntiJoin` controlling the behavior of anti join. If true, it behave as `not in` rules, else as `not exists` rules. This parameter is true

[2022-09-01 09:50] rui-mo commented on #2438
cc @FelixYBW

[2022-09-01 14:57] mbasmanova commented on #2385
@rui-mo Sounds good to me.

Do you have a way to special case this some how in Gluten? Curious, how that trick works.

Let's close.

[2022-09-01 15:05] mbasmanova commented on #2270
Fixed in #2393 and #2392

[2022-09-01 15:05] #2270 closed

[2022-09-01 16:30] majetideepak opened #2440 "PrestoSerializer implementation for UnscaledLongDecimals is incorrect"
Presto Java UnscaledDecimal128 representation uses the `signed magnitude representation`. See https://github.com/prestodb/presto/blob/master/presto-common/src/main/java/com/facebook/presto/common/type/UnscaledDecimal128Arithmetic.java#L36
Velox UnscaledLongDecimal uses int128_t which uses `2's complement representation`.
So PrestoSerializer must specialize UnscaledLongDecimal handling.

[2022-09-01 18:13] Yuhta commented on #2388
Issue 1 is solved.  There is no longer need to exclude the sanitizer.  For 2 we should experiment annotate `UnscaledLongDecimal` and see if the alignment can be transitively specified.

[2022-09-02 03:33] leoluan2009 opened #2448 "Unused variable VELOX_BUILD_BENCHMARKS_LARGE in CMakeLists.txt"
VELOX_BUILD_BENCHMARKS_LARGE is not used in project, can we remove it for code clean?
https://github.com/facebookincubator/velox/blob/main/CMakeLists.txt#L96

cc @mbasmanova @majetideepak

[2022-09-02 07:50] rui-mo commented on #2385
For the temporary solution, currently just like the PR shows, we extraly check the validity of the `sum` vector in Velox.  In this way, the nulls will not be accessed.

[2022-09-02 15:07] majetideepak commented on #837
This is now supported via Apache Arrow.

[2022-09-02 15:07] #837 closed

[2022-09-02 15:08] majetideepak commented on #2448
@leoluan2009 we will be adding a nightly test for this target. So let's keep it.

[2022-09-02 15:12] leoluan2009 commented on #2448
Ok, make sense, I will close this issue.

[2022-09-02 15:22] majetideepak commented on #2448
@leoluan2009 I was wrong. We only use `VELOX_ENABLE_BENCHMARKS` and `VELOX_ENABLE_BENCHMARKS_BASIC`.
Let's remove this.

[2022-09-02 23:31] leoluan2009 commented on #2448
@majetideepak  ok, I will submit a pr, thank you!

[2022-09-06 13:59] mbasmanova commented on #2385
@rui-mo Rui, thank you for clarifying. Closing the PR as discussed above.

[2022-09-06 13:59] #2385 closed

[2022-09-06 19:30] mbasmanova commented on #2438
@rui-mo Rui, thank you for brining this up. I took a look and here is what I'm seeing.

I looked into 2 similar queries: one using NOT EXISTS and another using NOT IN.

[code]

In Presto, NOT EXISTS query is planned as LEFT JOIN + FILTER:

[code]

while NOT IN query is planned as SEMI JOIN + FILTER using REPLICATE NULLS AND ANY option for the build-side exchange:

[code]

Prestissimo, converts SEM

[2022-09-06 19:32] mbasmanova commented on #2438
CC: @bikramSingh91

[2022-09-07 06:56] #2440 closed

[2022-09-07 13:20] rui-mo commented on #2438
@mbasmanova Masha, thanks for your detailed and helpful guiding. I have a question on this workaround. Looks like Presto has an extra boolean column to indicate whether a row is selected.

Can Velox's left join have an extra boolean column to represent whether the stream keys can be found in the build side? If not, should I use a filter for null to check whether a row should be selected? Thanks ag

[2022-09-07 13:25] mbasmanova commented on #2438
@rui-mo Rui,

To get that boolean, add a Project node to the join build side to add a boolean column with constant value "true":

                         - Project[projectLocality = LOCAL] => [subquerytrue:boolean, field_6:integer]
                                 subquerytrue := BOOLEAN'true'

Then, make sure to include this boolean in the output of the left join. Rows that had a match will have

[2022-09-07 13:30] rui-mo commented on #2438
Thanks Masha, understood. Do you think this part of logic should be added during Substrait-to-Velox conversion, or before that, in the Substrait plan generation process (in Gluten)?

[2022-09-07 13:33] mbasmanova commented on #2438
I suggest to put that into plan generation (Gluten).

[2022-09-07 13:37] mbasmanova commented on #2438
@rui-mo On a related topic, Substrait doesn't seem to clearly define semantics for the anti join:

https://substrait.io/relations/logical_relations/#join-types

I wonder if this is an omission or by design. The wording suggests NOT EXISTS semantics, but I'm not sure. What do you think?

[2022-09-07 13:40] mbasmanova commented on #2438
@rui-mo For the workaround using left join, it is also necessary to add distinct aggregation to the build-side to ensure there are no duplicate join keys on the build side.

[2022-09-07 13:48] mbasmanova commented on #2438
Here is nice description of the differences between NOT IN and NOT EXISTS from Databricks.

https://databricks-prod-cloudfront.cloud.databricks.com/public/4027ec902e239c93eaaa8714f173bcfc/2728434780191932/1483312212640900/6987336228780374/latest.html

[code]

In Velox, kAnti join matches Databrick's Null Aware Anti Join semantics. One option is to rename kAnti to kNullAwareAnti and add a new kAnti

[2022-09-07 14:08] mbasmanova commented on #2310
Fixed in #2397

[2022-09-07 14:08] #2310 closed

[2022-09-07 14:09] mbasmanova commented on #2192
@kgpai Krishna, is there anything left to do here? If not, should we close this issue?

[2022-09-07 15:24] mbasmanova commented on #2415
@kevinwilfong Kevin, thank you for a detailed description of the problem. It seems that the issue happens whenever a Task is terminate while some operators are blocked. In this case, Task::terminate closes the drivers by calling Driver::closeByTask which clears operator stats. If the driver gets unblocked at the same time, the callback in BlockingState::setResume will attempt to update operator st

[2022-09-07 15:37] mbasmanova commented on #2415
For reference, here is a document about Task, Driver, Operator lifecycle:

https://github.com/mbasmanova/velox-1/blob/main/velox/exec/TaskDriverOperatorLifecycle.md#task-driver-operator-lifecycle

[2022-09-07 16:02] kgpai commented on #2192
We can close this.

[2022-09-07 16:02] #2192 closed

[2022-09-08 04:14] spershin opened #2478 "TestHiveQueriesUsingJSON.testDecimalLiterals fails"
The test fails on the latest Presto Native + the latest Velox.

https://github.com/prestodb/presto/runs/8241037975?check_suite_focus=true

Error:    TestHiveQueriesUsingJSON.testDecimalLiterals:16->TestHiveQueries.testDecimalLiterals:349->AbstractTestQueryFramework.assertQuery:149 For query:
 SELECT * from (values decimal'123.12', decimal'-0.0004', NULL,CAST('922337203685477580' as DECIMAL(18,0)),

[2022-09-08 13:16] rui-mo commented on #2438
@mbasmanova Masha, thank you for your great help.

This definition from Substrait seems to be correct for both `not in` and `not exists` in a common case.

In Spark, if the anti join is single-key and without filter, `not in` is planned as BroadcastHashJoin with `isNullAwareAntiJoin` enabled. In this case, matched result can be got from currenct Velox's anti join.

We already supported to send the

[2022-09-08 18:09] karteekmurthys commented on #2478
Taking a look at this issue. This could be related what we noticed while testing decimal arithmetic e2e. The prestodb uses signed-bit representation while velox uses 2s complement representation of integers. However, it was an issue with 128-bit numbers. Here the value is quite small.

[2022-09-08 18:12] majetideepak commented on #2478
@karteekmurthys I am working on a PR for this.

[2022-09-08 18:14] majetideepak commented on #2478
I opened an issue on the Presto side. The deserializer code there needs the fix. Closing this.
https://github.com/prestodb/presto/issues/18312

[2022-09-08 18:14] #2478 closed

[2022-09-09 20:01] mbasmanova commented on #2438
I'm not sure that one type of join can cover both NOT IN and NOT EXISTS semantics. Opened an issue to ask for clarification:

https://github.com/substrait-io/substrait/issues/325

[2022-09-10 15:34] Aitozi commented on #1752
Hi @lsyldliu @FelixYBW, nice to see the discussion here. Are there any ongoing work around the Velox intergrated with Flink?  We also try to explore the vector execution engine to accelerate the Flink batch/streaming sql

[2022-09-10 20:21] Throwaway8 opened #2505 "error: invalid new-expression of abstract class type ‘facebook::velox::dwrf::proto::orc::PostScript’"
/usr/include/c++/11/bits/unique_ptr.h: In instantiation of ‘typename std::_MakeUniq<_Tp>::__single_object std::make_unique(_Args&& ...) [with _Tp = facebook::velox::dwrf::proto::PostScript; _Args = {facebook::velox::dwrf::proto::PostScript}; typename std::_MakeUniq<_Tp>::__single_object = std::unique_ptr<facebook::velox::dwrf::proto::PostScript>]’:
/home/throwaway/system/velox/./velox/dwio/dwrf/co

[2022-09-10 21:11] Throwaway8 commented on #2505
on ubuntu 22.04

[2022-09-12 02:54] kesavkolla opened #2506 "Language interoperability"
Is there any plan to provide other programming language bindings for velox? I am looking for rust bindings so that I can use velox in rust.

[2022-09-12 16:15] pedroerp commented on #2506
@kgpai has started looking into Python bindings and there were discussions in the past with the Intel team about generalizing the Java bindings from Gluten, but we haven't discussed about Rust yet (though it would be nice to support).

Is it something you would be interested in contributing?

[2022-09-12 16:17] mbasmanova commented on #2505
@Yuhta @kgpai Jimmy, Krishna, would you take a look?

[2022-09-12 16:22] pedroerp commented on #2505
Looks like this has a duplicate discussion associated as well:

[2022-09-12 16:30] Yuhta commented on #2505
Likely an incompatibility between compiler and protobuf.  What is the compiler version and can you upload the full build log?

[2022-09-12 23:19] kgpai opened #2521 "Remove Gflags as a dependency"
See discussion here : https://github.com/facebookincubator/velox/discussions/2520

[2022-09-13 06:01] darionyaphet opened #2524 "Mac M1 build failed"
Hi, I'm trying to built `velox` on MacBook Pro M1.

I have running `CPU_TARGET="arm64" ./scripts/setup-macos.sh` It seems ok~

[code]

After that, running `make`, but it failed:

[code]

am I running it wrong?

[2022-09-13 06:30] darionyaphet commented on #2524
clang --version                                                                                                                                                                             1 ↵

[code]

clang++ --version

[code]

[2022-09-13 06:30] leoluan2009 commented on #2448
fixed in https://github.com/facebookincubator/velox/pull/2454

[2022-09-13 06:30] #2448 closed

[2022-09-13 11:55] mbasmanova commented on #2524
@Yuhta @kgpai Jimmy, Krishna, would you take a look?

[2022-09-13 13:48] mbasmanova commented on #2438
@rui-mo Rui, the semantics of anti joins are super tricky. Hence, before adding support for NOT EXISTS anti join, I decided to document the semantics to make sure I get it right. It would be great if you could review: https://github.com/facebookincubator/velox/pull/2527

[2022-09-13 16:36] Yuhta commented on #2524
Looks like an incompatible version of gtest.  What is the commit hash for gtest in your repo?

[2022-09-13 16:53] Yuhta commented on #2438
@rui-mo I am going to work on this.

[2022-09-13 23:33] kagamiori opened #2534 "Precision and scale variables in Decimal type signatures are not declared in function signatures"
Decimal type signatures in a function signature often come with a precision and a scale variables. But currently, these variables are not declared when building the function signature, neither through `FunctionSignatureBuilder` nor through the `registerFunction` API. SignatureBinderTest.cpp contains an example as follows. The variables `a_precision`, `a_scale`, `b_precision`, and `b_scale` are nei

[2022-09-13 23:42] mbasmanova commented on #2534
Here is some relevant documentation from Substrait: https://substrait.io/expressions/scalar_functions/#parameterized-types

[2022-09-14 04:33] majetideepak commented on #2534
@kagamiori @mbasmanova For templated signatures `array(T)` and Map `map(K, V)`, we add them to variables because they need to resolve to Velox types. The SignatureBinder logic treats them as `bindings`. For decimals, that is not the case. The variables are always constants and their inference logic is different. They are not bindings. We felt the explicit declaration `typeVariable("a_precision")`

[2022-09-14 07:06] darionyaphet commented on #2524
Thanks for your replies. After remove `googletest` and `folly` it work well. thanks a lot.

[2022-09-14 07:09] #2524 closed

[2022-09-14 11:36] majetideepak commented on #2534
@kagamiori I slept over this and I like your idea to generalize the logic of the correctness check of these variables. Let me take a stab at this.

[2022-09-14 15:05] rui-mo commented on #2438
@mbasmanova @Yuhta Thank you very much for your time. We just implemented the workaround to replace anti join with left outer join with aggregation, project and filter. Initial tests showed the incorrect result issue for `not exists` we met could be resolved.

[2022-09-14 20:20] #1697 closed

[2022-09-14 20:25] pramodsatya commented on #872
Working on PRs #1763, #2453 for resolving the issue.

[2022-09-14 22:42] kgpai commented on #833
This can be closed, as simd is portable via xsimd.

[2022-09-14 22:42] #833 closed

[2022-09-14 22:44] kgpai commented on #1592
@majetideepak @mbasmanova This pr should have fixed issue #2133 (requires you to rerun setup-macos.sh). Reopen if you still see the problem.

[2022-09-14 22:44] #1592 closed

[2022-09-15 00:01] kgpai commented on #154
Looks like this issue was resolved with https://github.com/facebookincubator/velox/pull/299 . Closing.

[2022-09-15 00:01] #154 closed

[2022-09-15 01:49] #1704 closed

[2022-09-15 09:05] JkSelf opened #2552 "Is Window function sum supported?"
Does velox only support the `row_number` window function now? Are `sum ` aggregate function supported in window function?

[2022-09-15 11:58] mbasmanova commented on #2552
At the moment only row_number is supported. We are working on adding more functions including adding support for aggregate functions. CC: @aditi-pandit

[2022-09-15 12:17] rui-mo commented on #1985
We may still need this PR.

[2022-09-15 12:19] rui-mo commented on #1257
@zhejiangxiaomai Do you know whether we still need this change?

[2022-09-15 12:19] rui-mo commented on #1254
This issue is still needed.

[2022-09-15 12:20] rui-mo commented on #1515
This issue is still needed.

[2022-09-15 12:21] rui-mo commented on #1573
We may can still keep this issue for future discussion on how to add the validation logic to Velox.

[2022-09-15 12:22] rui-mo commented on #1436
Closing this issue.

[2022-09-15 12:22] #1436 closed

[2022-09-15 12:23] rui-mo commented on #1047
This issue is still needed.

[2022-09-15 14:20] zhejiangxiaomai commented on #1257
exactly, we need this now.

[2022-09-15 15:29] pedroerp commented on #1436
Btw, I know @usurai has been working on ORC support.

[2022-09-15 21:41] randosrandom opened #2556 "[Bug] docker-compose build failure"
Hi there,

I am new to velox and I was hoping to contribute in my small. To start, I was building velox through docker-compose, but I encountered an error, namely:

[code]
Apparently the problem was trivial, caused by the fact that the image `amd64/ubuntu:22.04` does not come with `wget` already installed. I managed to solve it by just adding the installation of `wget` in the file `scripts/setup-u

[2022-09-15 21:43] kgpai commented on #2556
Hi @randosrandom , Please feel free to submit a PR with fix .

[2022-09-16 00:44] JkSelf commented on #2552
Got it. Thanks for the quickly response.

[2022-09-16 00:51] mbasmanova commented on #2552
You are welcome. I'll close the issue. Feel free to reopen if you have any follow-up questions.

[2022-09-16 00:51] #2552 closed

[2022-09-16 01:35] rui-mo commented on #1436
Got it, thanks. We noticed related PRs on ORC support, but now we are mainly testing on Parquet and DWRF format.

[2022-09-16 04:29] eedalong opened #2564 "Velox can only be built in Ubuntu20.04?"
Velox can only be built in Ubuntu20.04?

[2022-09-16 04:39] senthh opened #2565 "Splitting functionalities of setup-macos.sh into two different shell script"
We see more issues while running setup-macos.sh as below,

1. Brew can't be executed as Admin user

2. cmake fails if we dont have Admin rights as below,
_CMake Error at cmake_install.cmake:64 (file):
  file INSTALL cannot make directory "/usr/local/include": Permission denied._

So splitting brew functionalities from setup-macos.sh and make it as separate file will lead to avoid above errors. Als

[2022-09-16 08:21] rui-mo opened #2567 "CastIntByTruncate affects string to date casting"
Hi,
We set below config to true to cast from float/double to integer by truncating. But found this setting also affects the behavior of casting from string to date, which causes failure in our test.

[code]

We believe this config is meant to take effect for casting from double/float to integer. Should some special handling being added in [CastExpr](https://github.com/facebookincubator/velox/blob/

[2022-09-16 08:23] rui-mo commented on #2567
cc @FelixYBW

[2022-09-16 09:26] eedalong opened #2569 "Build failed"
I try to build this project, but ran into this problem

![image](https://user-images.githubusercontent.com/39682259/190605210-bfa63378-f75b-4728-8b77-0e82f8904c4a.png)

[2022-09-16 11:12] ChengjieLi28 commented on #2332
Close this issue since #2383 has been merged. Thanks @zhejiangxiaomai .

[2022-09-16 15:28] randosrandom opened #2571 "[Possible build issue] "docker compose run" uses too much RAM"
Hi there,

I was creating the velox services through `docker compose` (in this context it should be the same using the old `docker-compose`), but during compilation of the source files, the used RAM reached peaks of 10/11GB, hitting my Docker limit. After a while, the operating system killed the whole process:

[code]
Interrogating the kernel through `dmesg`:

[code]
The problem is attributable to

[2022-09-16 15:45] kgpai commented on #2564
Velox can be built on various distributions of Linux(Ubuntu 18+, Centos 7+, ManyLinux2014+..) / MacOS . At the moment these are only supported OS's. Let me know if you have any OS specific request.

[2022-09-16 15:58] kgpai commented on #2565
Hi @senthh ,

Firstly,  Please feel free to contribute a patch to fix this. As far as the points you raise :

 1. While this is true, the setup-macos scripts are geared towards normal development users and non admin accounts.
 2. We are working on improving our build system, and moving away from installing globally (in /usr/local/include) and also using brew ; However we expect this to be only don

[2022-09-16 16:14] kgpai commented on #2571
cc @raulcd

[2022-09-16 16:15] kgpai commented on #2569
Hi @eedalong can you paste the whole stack trace here ?

[2022-09-16 17:17] pedroerp opened #2572 "VectorFuzzer: Add support for uneven dictionary generation"
VectorFuzzer can generate dictionaries with multiple levels, but today the indirection and base vectors always have the same size. To increase entropy, let's extend it to allow the generation of dictionaries where the base vector size could be smaller or larger than the indirection size.

Relevant code pointer:

[2022-09-16 23:36] pedroerp commented on #1053
Closing this one for now. Please re-open if there are any further questions.

[2022-09-16 23:36] #1053 closed

[2022-09-16 23:38] pedroerp commented on #549
Functions have all been migrated. Closing it.

[2022-09-16 23:38] #549 closed

[2022-09-16 23:39] pedroerp commented on #1859
Closing it. Please re-open if you have additional questions.

[2022-09-16 23:39] #1859 closed

[2022-09-16 23:52] pedroerp commented on #2072
That's a great summary, thanks @zhanglistar . Converting this to a github Discussion.

[2022-09-17 00:00] pedroerp commented on #2050
@zhanglistar great to hear, we can most definitely use the help!

Both Presto and Spark integrations are quickly maturing and can already run TPC-H (and most TPC-DS). We're now iterating on performance to ensure there are no unexpected bottlenecks.

Moving this to a github Discussion.

[2022-09-17 00:06] pedroerp commented on #1732
@sungho-park-23 these are the microbenchmarks we currently run for each PR, you can use them as an example:

Happy to review and help iterate if you're willing to put a PR together with a microbenchmark to reproduce the performance issue you reported.

[2022-09-17 04:39] eedalong commented on #2569
Seems this is cause by mismatch of libzstd version.

[2022-09-17 05:03] ValZapod commented on #1328
This is fixed in https://reviews.llvm.org/rG955cff803e081640e149fed0742f57ae1b84db7d

[2022-09-17 07:18] raulcd commented on #2571
Thanks for the report @randosrandom ! I did notice the compilation using a lot of resources too. The current docker-compose mimics the local build where Makefile find the available processors and uses all of them:
`NUM_THREADS ?= $(shell getconf _NPROCESSORS_CONF 2>/dev/null || echo 1)`
I do think that limiting it or allowing users to configure the amount of threads to use would be a helpful addit

[2022-09-17 08:03] randosrandom commented on #2571
Hi @raulcd,

In the `docker-compose.yml` I simply modified the entrypoint command as below:
[code]
so I simply overridden the NUM_THREADS variable in the Makefile, passing it as an argument of make.

To generalize it, in the `docker-compose.yml` we can do something like:

[code]
so that, if `NUM_THREADS` exists in the environment, we override the number of the threads to use in the Makefile, other

[2022-09-17 08:13] raulcd commented on #2571
Yes, that makes sense to me. This is what I was thinking! Thanks!

[2022-09-17 17:15] randosrandom commented on #2571
Hi @raulcd @kgpai,

I provided the PR, which is linked above, please let me know if it is ok.

Just one question that may sound naive, but I am new to velox (and open-source in general):
I also have another pull request open (#2568), but the latest PR contains also the previous commit. Should I remove the old PR? What is the best thing to do in such cases?

Thank you!

[2022-09-17 18:32] kgpai commented on #2571
FYI,
In the command listed above , lets make sure that `ctest -j16 -VV --output-on-failure` also uses NUM_THREADS instead of hard coding the test runs to 16 .

@randosrandom ; No you do not have to remove it , you will probably have to merge from main/update if the dependent PR undergoes changes.

[2022-09-17 19:25] randosrandom commented on #2571
Ok @kgpai,

I did not used NUM_THREADS in test, since they are lightweight (for what I experienced) so we can safely allow the maximum number of threads. But if you think it's cleaner to use the same number of threads, I can add this modification.

Thanks!

[2022-09-17 20:51] randosrandom commented on #2572
Hi @pedroerp,

I am new to velox so I am not familiar with the code base at all. However, since the issue is labeled as "good first" I took a look at the code you pointed. First I don't understand the following check
https://github.com/facebookincubator/velox/blob/2c733afd03e82b6d52f83871036409a55e0d7584/velox/vector/fuzzer/VectorFuzzer.cpp#L395-L397
Should not it be `vectorSize == 0 || size > 0`

[2022-09-18 15:30] Throwaway8 commented on #2505
just seeing this thanks i will check my protobuf version with the one velox uses

[2022-09-19 01:47] aditi-pandit commented on #2552
Thanks @JkSelf. Will prioritize adding this sooner.

[2022-09-19 04:16] senthh commented on #2565
@kgpai Thanks for thr kind response. Sure I will look the possibilities of fixing this issue.

[2022-09-19 16:40] majetideepak commented on #2534
@laithsakka If you are referring to this PR https://github.com/facebookincubator/velox/pull/2278, we only need the signature to be strongly typed for scalar functions. The strongly typed signatures are automatically added in the TypeAnalysis phase.
We need this because we register scalar functions for both `UnscaledShortDecimal` and `UnscaledLongDecimal` native types.  We need the strong type to p

[2022-09-19 16:43] kgpai commented on #2569
Seems like it, One problem could be you have mutliple zstd libraries installed and we are picking up wrong one. Again full stack trace might help.

[2022-09-19 16:51] #2556 closed

[2022-09-19 21:23] jwyles-ahana opened #2587 "Adding Parameterized Benchmarks"
I am working on reproducing the BenchmarkParquetPageSource.java benchmark from Presto in Velox. There is a problem though: the benchmark is parameterized, and folly/Benchmark.h that we are using in other benchmarks in Velox does not seem to support parameterized benchmarks. Google benchmark on the other hand does, but would be adding another dependency to use it. This issue is to start a conversat

[2022-09-19 22:44] #2534 closed

[2022-09-20 17:13] mbasmanova opened #2595 "Review the need to adjust final selection in Expr::applyFunctionWithPeeling"
See https://github.com/facebookincubator/velox/pull/2592#pullrequestreview-1114176395

[2022-09-20 20:19] aditi-pandit opened #2596 "Failures with Velox debug build"
After changes on account of https://github.com/facebookincubator/velox/pull/2383/files#diff-d64ce655bc0bc5dd0e053d5b13f7491c470f97a05b783a1bd0fd9dd262b46cad, some cleanup of protobuf setup was needed for builds to proceed.

Specifically, I uninstalled (using brew) versions protobuf and protobuf@3 previously used by Velox, and then re-installed protobuf for cmake and builds to proceed.
protoc --ver

[2022-09-20 20:21] mbasmanova commented on #2596
@majetideepak @kgpai Deepak, Krishna, would you help take a look?

[2022-09-20 23:22] aditi-pandit commented on #2596
Seems like we have undone the changes made previously for https://github.com/facebookincubator/velox/issues/2029

[2022-09-21 02:20] eedalong commented on #2569
Yes, thx @kgpai. I've updated my libzstd into 1.4.0 version, and it works!

[2022-09-21 02:21] eedalong commented on #2564
Thx @kgpai , I've build it successfully on Ubuntu18.04

[2022-09-21 10:20] mbasmanova opened #2605 "Lambda functions do not respect TRY"
There is a bug in lambda functions implementation where they do not respect TRY expression. This leads to `try(filter(c0, x -> 100 / x))` failing when there is an array with zero element.

The problem is two-fold. First, ExprCallable::apply needs to propagate EvalCtx::throwOnError flag from current context to the context used to evaluate lambda expression. Second, the errors accumulated while eval

[2022-09-21 19:26] xiaoxmeng opened #2609 "RightSemiJoin/LeftSemiJoin shall only output build side/probe side columns"
Currently, a right semi join could return the probe side columns as noticed in HashJoinTest.dynamicFilters test when the build side could be replaced by a dynamic filter. It can be used to filter out probe rows and returns the probe input directly in case of identical projections. Has offline discussion with @mbasmanova, we need to add check in plan node as well as operator to disallow output colu

[2022-09-21 19:58] mbasmanova commented on #2609
CC: @majetideepak

[2022-09-22 00:52] majetideepak opened #2612 "Tpch connector scaleFactor type must be double instead of size_t"
The `scaleFactor` is used to determine the output size of each Tpch Table. Currently, the type used for scaleFactor is
`size_t` https://github.com/facebookincubator/velox/blob/main/velox/connectors/tpch/TpchConnector.h#L65.
However, for testing, smaller data size is desired. We must use a double instead, so that Velox can support tiny Tpch dataset where the scaleFactor say is `0.01`.
scaleFactor t

[2022-09-22 00:53] mbasmanova commented on #2612
@majetideepak Deepak, would you add some more details?

[2022-09-22 05:23] ruclz opened #2614 "How to generate parquet data to run tpc-h benchmark"
I want to run tpc-h benchmark. Before, I generated the parquet data by the pr (https://github.com/databricks/spark-sql-perf).
But it seems that the data can't be read by velox.  So how can i  generate tpc-h parquet data? Thank you.

[2022-09-22 13:08] majetideepak opened #2618 "TPC-H connector must use Date type for date columns"
The current implementation uses VARCHAR for date columns.
It will be nice to use Date type since Velox supports Date type and it will help
TPC-H queries that use date functions like year() in Q7, Q8, Q9 without any changes.
Presto Java TPC-H connector uses the `date` type as well.

[2022-09-22 14:16] majetideepak commented on #2596
@aditi-pandit is this resolved?

[2022-09-22 16:22] #2569 closed

[2022-09-22 16:27] Mionsz commented on #2618
@majetideepak  So from documentation it seems like it does not matter how will you do it, but you muse be able to write date in YYYY-MM-DD decimal format, allow filtering, ranges etc. in that format. What is being done with the value itself does not matter. Correct me if I am wrong.
-----

**Spec:** https://www.tpc.org/tpc_documents_current_versions/pdf/tpc-h_v3.0.1.pdf
**Page 14:**

are numeric.

[2022-09-22 17:04] majetideepak commented on #2618
@Mionsz thanks for the clarification. I just happened to post an old link. There are no constraints on the Velox side.
As you pointed out, the TPC-H spec does not mandate an internal representation for date. So this is not a bug.
However, using Date type will give us parity with Presto Java and allow us to use TPC-H queries that use date functions like `year() in Q7, Q8, Q9` without any changes.
V

[2022-09-22 18:40] pramodsatya opened #2622 "Conbench integration with linux-benchmarks-basic in CircleCI"
The linux-benchmark-basics build in CircleCI appears to be integrated with Conbench to check for benchmark regressions, which is great. The error message when builds fail due to benchmark regressions, however, is not detailed enough to identify which benchmark actually regressed (for instance: https://app.circleci.com/pipelines/github/facebookincubator/velox/13778/workflows/7ccab4fa-b7e1-49bf-a04a

[2022-09-22 19:53] pedroerp commented on #2622
Hi @pramodsatya, this was a false alarm. I'm discussing it with @austin3dickey and @jonkeane , but looks like it's a bug or aconfiguration issue with our conbench integration.

@austin3dickey is actively working on this. Will assign this Issue to you.

[2022-09-22 19:55] kgpai commented on #2596
I believe @aditi-pandit  told me this was resolved.

[2022-09-22 19:56] aditi-pandit commented on #2596
The issue with the debug builds isn't resolved. But please independently check from your side incase this is specific to my setup.

[2022-09-22 20:09] pedroerp commented on #2622
@austin3dickey said he'll have a fix by today!

[2022-09-22 20:13] pramodsatya commented on #2622
Thanks for the update!

[2022-09-22 21:43] #2622 closed

[2022-09-22 22:02] pedroerp commented on #2622
Fix has been merged https://github.com/facebookincubator/velox/pull/2624

[2022-09-23 01:52] ruclz commented on #2614
Yes, but when I generate partsupp table and lineitem table, it occurs errors.  I generate TPC-H partquet data by insert hive parquet table from table tpc-h connector table in Presto.
SQL:  Insert into  hive.tpch.partsupp_par select * from tpch.sf10.partsupp;
Now, I don't know how to fix the bug. Thank you.

2022-09-23T09:41:24.523+0800    ERROR   SplitRunner-46-164      com.facebook.presto.executi

[2022-09-23 02:00] majetideepak commented on #2614
Can you try CTAS? We use CTAS for testing as well.
https://github.com/prestodb/presto/blob/95237f10d01b1090638421b3a84490f617258c43/presto-native-execution/src/test/java/com/facebook/presto/hive/HiveExternalWorkerQueryRunner.java#L418

[2022-09-23 02:11] ruclz commented on #2614
Thank you, very much. I will try CTAS.

[2022-09-23 07:02] ruclz commented on #2614
Succeed. Thank you very much @majetideepak. And if  you  generate TPC-H partquet data by insert hive parquet table from tpc-h connector table in Presto, please set hive.parquet.optimized-writer.enabled=false(default false). If using native parquet writer. Maybe errors when generate partsupp and  lineitem table.

[2022-09-23 07:03] #2614 closed

[2022-09-23 08:11] #180 closed

[2022-09-23 08:12] rui-mo opened #2632 "Build side cannot be reverted"
Hi,
We found for hash join in some cases the build side had much larger size than the stream side, which would limit the join performance. For example, a left outer join is with right build side but the right side has larger datasize than the left side. In this case, if we can build the left side, the performance could be improved. But the issue is not all engines support both left and right build

[2022-09-23 08:13] rui-mo commented on #2632
cc @FelixYBW

[2022-09-23 08:18] FelixYBW commented on #2632
The wrong seq we noted from Gluten, in all cases below, right table is targe table. We can modify spark to get the correct build table, question is how Velox can support this.

Q4, stage 67     LeftSemi, BuildRight
Q13, stage 362   LeftOuter, BuildRight
Q21, stage 522   LeftSemi, BuildRight
Q22, stage 553  LeftAnti, BuildRight

[2022-09-23 09:38] mbasmanova commented on #2632
@rui-mo Rui, thank you for reaching out. I expect a LEFT OUTER JOIN b to be equivalent to b RIGHT OUTER JOIN a. Hence, if b is smaller, the optimizer can plan the left join. Otherwise, the right join. Maybe there is a bug in the right join implementation in Velox. I'll take a look at the tests you linked.

[2022-09-23 09:43] mbasmanova commented on #2632
@rui-mo A quick look at the leftJoinBuildSideRevert test suggests that the test is comparing a LEFT b with b LEFT a. These are not expected to be the same. Let's change the test to compare a LEFT b with b RIGHT a.

[2022-09-23 09:47] rui-mo commented on #2632
Hi Masha, maybe I did not decribe the issue accurately. We agree above sentence but the build and probe tables should be reverted, right? For example, `left outer with a as build table and b as probe table` **equals to** `right outer with b as build table and a as probe table`. I think this case works well in Velox.
But our issue is about `left outer with b as build table and a as probe table`. Yo

[2022-09-23 09:51] mbasmanova commented on #2632
@rui-mo In Velox, right side of the join is always the build side. Hence, a LEFT b creates hash table from b, while b RIGHT a creates hash table from a. Since there are equivalent, the optimizer can pick which one to plan based on the sizes of a and b. If b is small, then a LEFT b. Otherwise, b RIGHT a.

[2022-09-23 09:52] rui-mo commented on #2632
I guess that is because build right is default behavior. Ideally, there may be build side options. For left outer join, build left or right can have the same output.

[2022-09-23 09:53] mbasmanova commented on #2632
True, but since a LEFT b == b RIGHT a, there is no need to provide an option of the left join with "left side being the build side".

[2022-09-23 09:56] mbasmanova commented on #2632
@rui-mo I modified the leftJoinBuildSideRevert test to change the join type for the second query to kRight and the test passed.

[2022-09-23 10:04] rui-mo commented on #2632
Actually the issue we met was that the optimizer planned an `a LEFT b` logic, but b is larger. So we want to change the build side to a, if we change it to be `b Right a`, then because right outer builds left, b is still the build side. Therefore, with this change the build side is still the larger side.

[2022-09-23 10:19] mbasmanova commented on #2632
Why do you say this? In Velox, b RIGHT a uses table a to build the hash table.

[2022-09-23 12:09] rui-mo commented on #2632
Thank you Masha! I think this is the key point I was missing. Based on this, it would be feasible to change the build table by justing switching the tables and the join type. I think we could close this issue now, how do you think so? @FelixYBW

[2022-09-23 12:28] mbasmanova commented on #2632
@rui-mo Happy to hear the issue is resolved. I'm going to close, but feel free to reopen if there are any follow-up questions.

[2022-09-23 12:28] #2632 closed

[2022-09-23 15:45] FelixYBW commented on #2632
Can leftsemi and leftanti work as well?

[2022-09-23 15:52] mbasmanova commented on #2632
Semi and anti joins are tricker. Velox has LEFT and RIGHT SEMI joins, but only one NULL AWARE ANTI JOIN. @Yuhta is working on adding regular ANTI JOIN. We may need to look into adding support for both LEFT and RIGHT anti joins.

[2022-09-23 16:16] #2612 closed

[2022-09-23 16:49] FelixYBW commented on #2632
Do you mean one null aware semi join?

[2022-09-23 17:08] mbasmanova commented on #2632
@FelixYBW

There is only one kind of SEMI join. Having both kLeftSemi and kRightSemi allows us to choose which table to load into a hash table.

However, there are 2 different ANTI joins: NULL AWARE (NOT IN) and regular (NOT EXISTS). This is explained in more details in https://facebookincubator.github.io/velox/develop/anti-join.html

Currently we only support NULL AWARE ANTI join with subquery be

[2022-09-23 17:14] FelixYBW commented on #2632
Thank you, Masha. Then we can fix Q4, Q13 and Q21.

Anti join isn't urgent now. Anti join in Q22 is a very small one.

[2022-09-26 04:33] JkSelf opened #2646 "Is spark function bin() supported in velox?"
Is spark function [bin()](https://spark.apache.org/docs/latest/api/sql/index.html#bin)  supported in velox?

[2022-09-26 04:33] JkSelf commented on #2646
@mbasmanova

[2022-09-27 15:39] #2618 closed

[2022-09-27 17:06] kagamiori commented on #2567
Sorry for being late reply. I can reproduce this error. I'll take a look.

[2022-09-28 01:01] JkSelf commented on #2646
Sure. I will add this function later. Thanks for your reply!

[2022-09-28 01:01] #2646 closed

[2022-09-28 11:18] mbasmanova opened #2668 "Error in expression evaluation: Dictionary index must be less than base vector's size."
From CircleCI: https://app.circleci.com/pipelines/github/facebookincubator/velox/14058/workflows/53d9eee2-c90b-4c03-ae37-c71f8f45245d/jobs/85023

[code]

CC: @pedroerp @kagamiori

[2022-09-28 12:07] mbasmanova commented on #2668
Standalone repro:

[code]

CC: @bikramSingh91

[2022-09-28 17:00] kagamiori opened #2669 "Integrate Fuzzer with VectorSaver to save input data and expressions on failures"
Right now, fuzzer test failures can only be reproduced with seeds. This approach is not convenient because developers must use the seed on the same commit where the failure happened (or the pool of all supported UDFs may be different which cause fuzzer to generate a different expression).

A new tool has been introduced recently (https://github.com/facebookincubator/velox/pull/2591) that allows sa

[2022-09-28 17:21] mbasmanova commented on #2669
CC: @tanjialiang

[2022-09-28 17:37] tanjialiang commented on #2669
Will be working on this item.

[2022-09-28 19:30] #2430 closed

[2022-09-28 21:27] #1674 closed

[2022-09-28 21:27] #1739 closed

[2022-09-28 21:27] #1747 closed

[2022-09-28 21:27] #1771 closed

[2022-09-28 21:28] #1842 closed

[2022-09-28 21:28] #891 closed

[2022-09-28 21:28] #1620 closed

[2022-09-28 21:28] #1624 closed

[2022-09-28 21:28] #1622 closed

[2022-09-28 21:28] #892 closed

[2022-09-28 21:28] #902 closed

[2022-09-28 21:28] #949 closed

[2022-09-28 21:28] #1618 closed

[2022-09-28 21:28] #1619 closed

[2022-09-28 21:28] #1918 closed

[2022-09-28 21:28] #1969 closed

[2022-09-28 21:28] #1987 closed

[2022-09-28 21:28] #1989 closed

[2022-09-28 21:28] #2018 closed

[2022-09-28 21:52] kagamiori commented on #2668
Here is what happens in the repro:
The content in the `dict` vector is [null, "b", null, "a", null, null]. Expr::applyFunctionWithPeeling() deselect nulls and then peels off the dictionary encoding before evaluating the to_utf8 function. As the result, to_utf8 is evaluated only one row 1 and row 3, and returns a result vector of length 2. Expr::applyFunctionWithPeeling() then wraps the result with

[2022-09-28 22:27] #390 closed

[2022-09-28 22:27] #376 closed

[2022-09-28 22:27] #798 closed

[2022-09-28 22:27] #864 closed

[2022-09-28 22:27] #69 closed

[2022-09-28 22:28] #1040 closed

[2022-09-28 22:28] #977 closed

[2022-09-28 22:28] #1237 closed

[2022-09-28 22:28] #1249 closed

[2022-09-28 22:28] #1444 closed

[2022-09-28 22:28] #1488 closed

[2022-09-28 22:28] #1376 closed

[2022-09-28 22:28] #1541 closed

[2022-09-28 22:28] #1548 closed

[2022-09-28 22:28] #1546 closed

[2022-09-28 22:28] #1561 closed

[2022-09-28 22:28] #1560 closed

[2022-09-28 22:28] #1568 closed

[2022-09-28 22:28] #1369 closed

[2022-09-28 23:27] #227 closed

[2022-09-28 23:27] #290 closed

[2022-09-28 23:27] #360 closed

[2022-09-28 23:33] uhyonc opened #2676 "Memory allocator issue on Mac M1"
Hi,

I was trying out Velox on the M1 Mac (via Presto-native) and I was getting
`MMAPL: Inconsistent mapped free lookup class` from
https://github.com/facebookincubator/velox/blob/f60a0821dc04482719e7d816e4c1519e98e1ae85/velox/common/memory/MmapAllocator.cpp#L513

I did a bit of debugging and it looks like this is happening because there are a few places where we assume a 256bit SIMD register widt

[2022-09-28 23:34] mbasmanova commented on #2676
CC: @Yuhta @kgpai @xiaoxmeng @oerling

[2022-09-29 00:09] Yuhta commented on #2676
@uhyonc I think your are right, can you contribute a fix for it?  If you don't have time I can take a look later.

[2022-09-29 00:52] uhyonc commented on #2676
Yep, I can do it. I will create a PR and update the Issue with it.

On Wed, Sep 28, 2022, 5:09 PM Jimmy Lu ***@***.***> wrote:

[2022-09-29 17:59] frankobe opened #2684 "Performance Regression on Arithmetic operation in velox/common/base/CheckedArithmetic.h"
In https://github.com/facebookincubator/velox/pull/2010, std plus is replaced with `checkedPlus` and  performance regression is captured on query with sum operation. In the following test, over 100% execution increase are seen after executing the func for 100000000 times comparing to std plus.

Other variances are also tested to compare the difference:
1. Templated function call: 307835 microsecon

[2022-09-29 18:02] mbasmanova commented on #2684
CC: @majetideepak @karteekmurthys @laithsakka @Yuhta

[2022-09-29 18:24] frankobe commented on #2684
@pedroerp

[2022-09-29 18:31] Yuhta commented on #2684
Which compiler options are you using?

[2022-09-29 18:42] liushengxuan commented on #2684
I ran this test on Mac.

Apple clang version 13.1.6 (clang-1316.0.21.2.5)
Target: x86_64-apple-darwin21.6.0
Thread model: posix
InstalledDir: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin

[2022-09-29 18:57] majetideepak commented on #2684
@liushengxuan can you compile with `-O3` flag and run again?
I am seeing different numbers. The presence of the `UNLIKELY if ` is making a difference. But the template itself not so much.
I modified the program a bit to avoid optimizing the for loop itself. I also pass the loop upper bound `100000000` as an argument to prevent optimizing that.

[2022-09-29 19:00] majetideepak commented on #2684
These microbenchmark results can be misleading. We can look at the Velox-generated code and verify that the `checkedPlus` is not being inlined. If it is not, it makes sense to manually inline it.

[2022-09-29 21:12] liushengxuan commented on #2684
We are integrating Velox as an Aggregation engine. We firstly noticed this issue on E2E benchmarks. The performance can be much better after removing [#2010 ](url).

[2022-09-29 21:36] pedroerp commented on #2153
Yes, this is still relevant! Merging the first PR now #2154

[2022-09-29 21:50] majetideepak commented on #2684
I believe the slowdown is mainly due to the introduction of the `UNLIKELY if` branch. However, that is needed to ensure values do not overflow.
Are you able to verify internally by inlining the `checkedPlus` template, the performance is improved?

[2022-09-29 23:13] liushengxuan commented on #2684
Let me work on the inlining.

But I tried to remove the `UNLIKELY if` block in the code directly and ran the E2E benchmark. I was sure that there won't be overflow. The result did not make too much difference.

[2022-09-30 03:03] liushengxuan commented on #2684
I tested with inline functions. It has some improvement but still pretty slow. These are some data from my E2E benchmark

Without checkedPlus()  (using older version): ~400ms
With inlined checkedPlus() updateSingleValue() updateDuplicateValues(): ~820ms
With un-inlined checkedPlus(); ~960ms

[2022-09-30 05:28] #1533 closed

[2022-09-30 08:01] weiting-chen opened #2694 "Hash Probe performance issue"
We collect some performance data from Gluten + Velox and it shows hash probe is the hotspot in some SHJ or BHJ operations and may have some place to enhance the performance.

Below are some details from the individual queries running with Gluten with Velox backend.
1. 22 Queries perf report(sort by Symbol)
Top 10 hot functions
7.02 percent for snappy::RawUncompress
6.84 percent for LZ4 compress fa

[2022-09-30 08:05] mbasmanova commented on #2694
CC: @frankobe @majetideepak @oerling

[2022-09-30 12:50] Yuhta commented on #2684
@liushengxuan Overflow check is required to conform to the behavior of Presto.  There might be a chance to optimize it using `int128` as intermediate type though.
For the inlining, it's most likely your compiler settings are preventing it.  You need to double check what assembly code gets generated in the end to make sure if inlining is actually happening.  Maybe a fix is needed for the default co

[2022-09-30 15:01] Yuhta commented on #2684
@liushengxuan You should check the benchmark in
https://github.com/facebookincubator/velox/blob/main/velox/functions/prestosql/aggregates/benchmarks/SimpleAggregates.cpp#L226-L228, from my end (using clang and `-O3`) it does not make any difference whether using `checkedPlus` or plain `+`.

[2022-09-30 19:13] pedroerp commented on #2153
This is done now.

[2022-09-30 19:13] #2153 closed

[2022-10-01 01:43] #2668 closed

[2022-10-02 17:28] #2016 closed

[2022-10-03 20:42] oerling commented on #2694
We
So, we'd have to double probe speed. This can be done in a couple of ways, depending on the case.

- If the join has no payload and a single key, we can use the IN filter hash table instead. This could match some of the use cases.

Does this match the joins in question?
Could we have a microbenchmark repro? We'd have to have the same data distributions and table sizes. This may also depend on l

[2022-10-03 20:52] #2676 closed

[2022-10-03 22:04] aditi-pandit commented on #2596
@kgpai : Have you been able to check this on your machine ?

[2022-10-03 22:07] kgpai commented on #2596
@aditi-pandit On an M1, i could compile velox succesfully with latest changes. I did not have to change anything wrt to setup scripts. If you have some reasonable set of commands to repro I can try that and let you know what I observe.

[2022-10-04 00:34] kagamiori opened #2724 "ExpressionFuzzer: Add support for complex-typed functions."
Allow expression fuzzer to test functions whose arguments or return types are complex types.

[2022-10-04 00:38] kagamiori opened #2725 "ExpressionFuzzer: Add support for functions with parametrized types"
Allow expression fuzzer to test functions whose arguments or return types are parametrized types, e.g., array_position(array(T), bigint) -> T.

[2022-10-04 00:39] kagamiori opened #2726 "ExpressionFuzzer: Add support for TRY expression"
Allow expression fuzzer to generate and test random expressions that have TRY expression in them.

[2022-10-04 00:41] kagamiori opened #2727 "ExpressionFuzzer: Add support for CONJUNCT expressions"
Allow expression fuzzer to generate and test random expressions that have AND/OR in them. Also allow expression fuzzer to control the probability of choosing AND/OR when generating random expressions.

[2022-10-04 00:43] kagamiori opened #2728 "ExpressionFuzzer: Add support for LAMBDA expressions"
Allow expression fuzzer to test functions that receive lambda arguments.

[2022-10-04 00:49] kagamiori opened #2729 "ExpressionFuzzer: Add support for SWITCH expressions"
Allow expression fuzzer to generate and test random expression that have conditional expressions in them (e.g., if, else, case).

[2022-10-04 00:50] kagamiori opened #2730 "ExpressionFuzzer: Add support for COALESCE expressions"
Allow expression fuzzer to generate and test random expressions that have coalesce expressions in them.

[2022-10-04 00:51] kagamiori opened #2731 "ExpressionFuzzer: Add support for CAST expressions"
Allow expression fuzzer to generate and test random expression that have cast expressions in them

[2022-10-04 00:53] kagamiori opened #2732 "Fuzzer: Restrict input domain for specific functions"
Completely randomized input does not present enough coverage for functions like date manipulation, regex, etc. For those cases, we could provide an API on fuzzer where users could specialize and provided input tailored to specific functions. Fuzzer should still completely randomize input sporadically, just in case.

[2022-10-04 00:54] kagamiori opened #2733 "VectorFuzzer: Add support for LazyVector"
Allow VectorFuzzer to generate lazy vectors that can be used in expression fuzzer.

[2022-10-04 00:56] kagamiori opened #2734 "ExpressionFuzzer: Catch VeloxRuntimeError"
VeloxRuntimeError implies something wrong in the engine. Fuzzer tests should not pass when at least one of the common and simplified evaluation paths throw a VeloxRuntimeError.

[2022-10-04 06:24] karteekmurthys opened #2736 "Decimal average accumulator type must have arbitrary precision"
In Presto JAVA worker, the decimal average aggregate functions uses `BigDecimal` type as an intermediate type. Since `BigDecimal` has arbitrary precision, the Total sum accumulated for a group/ global aggregation is allowed to cross the LONG DECIMAL limit of `10^38 - 1`. But, Velox has no such arbitrary type and is limited to use `UnscaledLongDecimal` as the accumulator type. This can be further i

[2022-10-04 06:24] karteekmurthys commented on #2736
cc: @majetideepak

[2022-10-04 14:11] majetideepak commented on #2736
@Yuhta I wanted to move to iterative mean as well. However, it is computationally expensive (extra 1 X multiplication, 2 X division for each input). Will it be okay?

[2022-10-04 14:39] majetideepak commented on #2736
I guess BigDecimal arithmetic is also computationally expensive since it will involve handling multiple words.
I guess iterative mean makes sense for decimals.

[2022-10-04 14:39] Yuhta commented on #2736
@majetideepak We can avoid some divisions by keeping a partial sum, and only do the iterative averaging when the partial sum is about to overflow.  After that we can accumulate the partial sum again from zero.

[2022-10-04 14:43] majetideepak commented on #2736
@Yuhta You are right! We check for overflow for each input anyway. Your approach makes sense. Thanks.

[2022-10-04 21:43] karteekmurthys commented on #2736
Just to clarify, computing the average in parts may deviate from averages as a whole. This happens because we are performing UnscaleLongDecimal division which rounds up fraction to the nearest integer. This is less likely to happen in case of Presto Java worker where it stores intermediate results in BigDecimal.

[2022-10-04 23:53] Yuhta commented on #2736
@karteekmurthys We are using `double` for sum, not any integer type, so the division should not result in any rounding.  When you merge 2 averages you need to take the count into consideration as well and calculate the weighted average.

[2022-10-05 00:00] Yuhta commented on #2736
@karteekmurthys I see, in your PR the sum is kept in decimal type.  In this case we can keep track of the remainder as well to prevent rounding error.

[2022-10-05 01:56] bikramSingh91 opened #2747 "Register '||' as an alias to the concat scalar function"
This will allow expression parser to parse expression like "c1 || c2" which will be equivalent to concat(c1,c2)

[2022-10-05 13:39] Yuhta opened #2749 "Only simplified path threw exception: Illegal hex characters in escape (%) pattern: >a"
[code]

[code]

Task: [T133666434](https://www.internalfb.com/intern/tasks/?t=133666434)

[2022-10-05 14:42] majetideepak commented on #2736
@Yuhta great suggestion!

[2022-10-05 16:16] karteekmurthys commented on #2736
Thanks for the suggestions @Yuhta.

[2022-10-05 20:54] #2571 closed

[2022-10-06 00:57] eedalong opened #2757 "Questions about MemoryPool"
First of all, great project guys! But 2 things about MemoryPool implementation confuse me a little bit.

1.  Seems that you dont actually reuse the already allocated pages but choose to malloc new pages everytime when you call `MemoryPoolImpl::allocte`

2. why you choose to use mmap for memory pool implementation? Any reason behind this choice?

[2022-10-06 01:13] mbasmanova commented on #2757
CC: @tanjialiang @xiangxu1121 @oerling

[2022-10-06 01:14] pedroerp opened #2758 "Folly recompilation making nightly Fuzzer job to timeout"
Folly is now being recompiled by "make fuzzertest", causing the fuzzer binary to also recompile and the whole job to timeout. This is an example of the failure:

Check the "Run Fuzzer Test" tab. It should simply run the binary compiled in the "Build" step, but its now recompiling the whole thing. This is an older execution of the job, when it worked as expected:

[2022-10-06 01:16] mbasmanova commented on #2758
CC: @majetideepak

[2022-10-06 01:49] oerling commented on #2757
Using mmap as we do gives you a precisely known resident set size and guaranteed zero fragmentation. This is needed for running inside a fixed resource envelope. Also, you know how much memory you actually are holding. The same is not true of malloc. But there is also a malloc based variant of the functions.  Of course if you use malloc then malloc keeps its free lists etc and you in general would

[2022-10-06 02:09] eedalong commented on #2757
Thx, I am clear about why you use mmap. What about memory reuse?

From what I see, your memory management behaves like this when user requests new memory allocation.

# Standard Memory

Use `malloc` for each allocation

# MappedMemory

- Use `malloc` directly for <3KB allocation
- Use `malloc` for 3KB < bytes < largest pagerun size, but roundup to a certain pagerun size
- Use 'mmap' for beyond the

[2022-10-06 02:11] eedalong opened #2759 "Question about memory reuse in MemoryPool"
From what I see, your memory management behaves like this when user requests new memory allocation.

# Standard Memory

Use `malloc` for each allocation

# MappedMemory

- Use `malloc` directly for <3KB allocation
- Use `malloc` for 3KB < bytes < largest pagerun size, but roundup to a certain pagerun size
- Use `mmap` for beyond the largest single pagerun size allocation.
Your memory pool use thes

[2022-10-06 02:12] eedalong commented on #2759
@oerling

[2022-10-06 02:54] mbasmanova commented on #2759
CC: @tanjialiang @xiaoxmeng

[2022-10-06 09:08] frankliee opened #2764 "Cannot build on Mac M1 with clang 14.0"
Hi, I try to build Velox with `CPU_TARGET="arm64" make`, but it was failed.

My clang is 14.0 (OS X 12.5 )

[code]

[2022-10-06 11:35] mbasmanova commented on #2764
CC: @Yuhta @kgpai @majetideepak

[2022-10-06 18:05] karteekmurthys commented on #2736
I have applied iterative mean technique in this PR: https://github.com/facebookincubator/velox/pull/2763

One caveat is that Iteratively computing average would not behave as expected while requesting for Partial and Intermediate aggregations. What is the impact of not having partial and intermediate aggregations in place..will it affect the overall average function? does the query plan ever reque

[2022-10-06 18:34] Yuhta commented on #2736
@karteekmurthys It should work with partial and intermediate aggregations, but we may need to change the intermediate type.  I will take a look at the PR these 2 days.

[2022-10-06 20:18] kgpai commented on #2758
FYI, I notice that without enabling Arrow, I see that build is not triggered for fuzzer-tests and it runs fine. Enabling Arrow is mainly for Parquet and we install thrift/arrow , which itself uses external project add and all that is probably not playing well with folly.
Would it be ok to build this without enabling arrow ? I dont think fuzzer tests requires it if I am not mistaken.

[2022-10-07 00:55] aditi-pandit commented on #2596
If this isn't something we see in regular builds then we can close this issue.

I don't remember the exact steps I have gone through for the setup at this point. So it's counter-productive to have you try to debug them also. I'll try to fix the situation on my machine independently. Thanks for your help.

[2022-10-07 00:55] #2596 closed

[2022-10-07 03:37] pedroerp commented on #1970
Go home, stalebot!

[2022-10-07 03:54] pedroerp commented on #2572
Hi @randosrandom . The assertion is a bit hard to read, but as far as I can tell the error message is correct. This should only fail in the case where the inner vector is empty (vectorSize > 0 is false), and the indirection size is not empty (size == 0 is false).

They don't need to be equal (and most of the time they aren't). Dictionaries are usually used to express cardinality increase or reduct

[2022-10-07 03:55] pedroerp commented on #685
Assuming this is still in progress - re-opening it.

[2022-10-07 04:15] pedroerp commented on #2758
I don't see any reason why arrow should be enabled on that job. Feel free to remove that flag.

[2022-10-07 14:56] majetideepak opened #2776 "UnscaledXXXDecimals must enforce limits based on precision, scale"
Currently, UnscaledXXXDecimals only check the bounds based on the underlying C++ type.
However, limits must be enforced based on the precision, scale values also.
For example, the value `256` (3 precision) cannot be stored in DECIMAL(2, 0).

[2022-10-07 15:04] majetideepak commented on #2758
The error below is often due to the compilation job running out of memory. Reducing the build parallelism should work. Removing unnecessary dependencies is always the best way.
[code]

[2022-10-07 19:47] bikramSingh91 opened #2779 "Crash when loading lazyVector wrapped in layers of dictionaries that result in all rows being null"
If we attempt to load a lazyVector wrapped in dictionary layers such that when such vector is decoded, all rows turn out to be null, then no rows need to be materialized from the underlying lazy vector (baseRows has no rows selected). This results in LazyVector::ensureLoadedRows() attempting to wrap an empty vector with a dictionary.

However, if lazyVector is being loaded for a subset of the rows

[2022-10-07 21:03] bikramSingh91 commented on #2779
Found an additional bug when loading for zero selected rows

[2022-10-07 22:14] chakpongchung opened #2783 "what is the required pair of folly and fmt versions?"
the changelog here says
https://facebookincubator.github.io/velox/monthly-updates/april-2022.html
[code]
but conda install cannot resolve it:

[code]

[2022-10-07 22:16] Yuhta commented on #2783
Did you try fmt 8.1.1?

[2022-10-07 23:23] mbasmanova commented on #2783
CC: @kgpai

[2022-10-08 00:15] chakpongchung commented on #2783
Tried 8.1.1 and `folly-2022.03.14.00`, does not work with the master branch of velox.

[2022-10-08 00:16] chakpongchung commented on #2783
I don't find the version pair used by the circle CI script from the repo. Is the `fmt` or `folly` used by `velox` compiled from a forked version?

[2022-10-08 00:19] kgpai commented on #2783
Conda install . Can you give us more details on how you are trying this out  ?
FYI - As you can see in setup-macos.sh (https://github.com/facebookincubator/velox/blob/main/scripts/setup-macos.sh) the version for fmt is 8.0.0 - folly is now statically compiled in trunk (I think its still version v2022.07.11.00)

[2022-10-08 00:23] kgpai commented on #2783
FYI - If this is in reference to python conda installs we dont fully support that yet (but are working on it) as it requires us to enable statically compile against some of our dependencies. We are working on that.

[2022-10-08 00:24] kgpai commented on #2783
cc @raulcd , @assignUser

[2022-10-08 01:51] chakpongchung commented on #2783
There was a time I can conda install all the dependencies requirement and made the compilation work.

[2022-10-08 15:47] kagamiori opened #2788 "Lack proper handing of constant input in array_sum() function"
[code]

[2022-10-08 16:11] kagamiori opened #2789 "Unmatched error code: UNSUPPORTED (User) vs. INVALID_STATE (Runtime)"
[code]

[2022-10-08 16:25] kagamiori opened #2790 "Unmatched result of subscript() function"
[code]

[2022-10-08 16:32] kagamiori opened #2791 "from_unixtime() crashes with error: nan is outside the range of representable values of type 'long'"
This should be easy to reproduce by sending a input vector that contains `nan` to from_unitxtime as the first argument.
[code]

[2022-10-08 16:48] kagamiori opened #2793 "validateConstantVectorAndGenerateSet() in ArrayIntersectExcept.cpp not decoding element vector"
No repro right now because Expr::toSql threw.

[code]

[2022-10-08 17:01] kagamiori opened #2794 "Unmatched result of arrays_overlap(array_intersect(...), ...)"
[code]

[2022-10-08 17:24] kagamiori commented on #2788
[array_sum_repro.zip](https://github.com/facebookincubator/velox/files/9739909/array_sum_repro.zip)

[2022-10-08 17:26] kagamiori commented on #2789
[unmatch_error_code_repro.zip](https://github.com/facebookincubator/velox/files/9739911/unmatch_error_code_repro.zip)

[2022-10-08 17:27] kagamiori commented on #2790
[subscript_repro.zip](https://github.com/facebookincubator/velox/files/9739913/subscript_repro.zip)

[2022-10-08 17:38] kagamiori opened #2795 "Unmatched result of bitwise_or(56,round(array_min(array_sort("c0")),"c1"))"
[code]

[2022-10-08 17:38] kagamiori commented on #2795
[unmatch_result_repro.zip](https://github.com/facebookincubator/velox/files/9739934/unmatch_result_repro.zip)

[2022-10-10 13:03] rui-mo commented on #2567
@kagamiori Thanks a lot for your fix!

[2022-10-10 13:03] #2567 closed

[2022-10-10 15:51] #2121 closed

[2022-10-10 16:20] assignUser commented on #2783
The issue is that `folly == v2022.07.11.00` is not on conda-forge it looks like the newest version is `2022.10.10.00`.

Please add `libsodium libunwind libaio` to your env and remove folly, that should allow the velox cmake to build the needed folly version from source.

[2022-10-10 21:39] c404err opened #2804 "performance concerns of __builtin_add_overflow() in velox/common/base/CheckedArithmetic.h"
In  #2010, std plus is replaced with `checkedPlus()`, which is implemented with `__builtin_add_overflow()`. I've written a simple test to compare the performance between `+=` and `__builtin_add_overflow()`. `__builtin_add_overflow()` costs 10%~15% more time in general.
Will there be any optimizations or alternative ways to do overflow check instead of `__builtin_add_overflow()`?

Results
`+=`: 169

[2022-10-10 22:06] markjin1990 opened #2805 "Flaky unit test in FileTest.cpp"
https://github.com/facebookincubator/velox/blob/29b8bca26d3e8c9daaf0765a3021a82ff1fa6f8f/velox/common/file/tests/FileTest.cpp#L142
Sometimes breaks in our internal CI pipeline. The error goes like this.
[code]
I think ` localFs->list` does not guarantee the order of files in the returned result, right? So, this error might happen.

[2022-10-10 22:15] chakpongchung commented on #2783
thank you for taking a look.

Tried, does not work. You can reproduce the problem using this yml file:

[code]

[code]

[2022-10-10 22:17] chakpongchung commented on #2783
@mbasmanova Would you like to consider adding the conda build to the CI for velox? Also, many c++ projects might want to use velox as a dependency in a conda environment. Arrow has conda support.

[2022-10-10 22:21] chakpongchung commented on #2783
Also, doing so might remove the need to add `googletest`, `xsimd`, `arrow`, `thrift` as ExternalProject in cmake. This simplifies the adoption of velox

[2022-10-10 23:37] bikramSingh91 commented on #2779
Fixed via https://github.com/facebookincubator/velox/commit/3fe118f629cc1757a13c5d32c6e2daae300d425e

[2022-10-10 23:37] #2779 closed

[2022-10-11 06:36] rui-mo opened #2808 "A failure found during StringColumnReader dedictionarizing process"
Hi,
We found a failure in `StringColumnReader::dedictionarize` seemed to be  caused by the access to nullptr.

At below place ([StringColumnReader](https://github.com/facebookincubator/velox/blob/main/velox/dwio/parquet/reader/StringColumnReader.cpp#L155)), the `rawValues_` is set to be nullptr.

[code]

But it is then accessed in `addStringValue` function at [SelectiveColumnReader](https://github

[2022-10-11 06:37] rui-mo commented on #2808
cc @FelixYBW

[2022-10-11 11:33] assignUser commented on #2783
So the issue with conda folly is actually that the conda package has a wrong dependency on fmt 9, folly depends on 8.0.1 https://github.com/facebook/folly/blob/main/build/fbcode_builder/manifests/fmt
Still looking into a solution.

[2022-10-11 13:34] mbasmanova commented on #2808
@oerling Orri, would you check this out?

[2022-10-11 13:34] mbasmanova commented on #2808
CC: @Yuhta

[2022-10-11 17:02] kgpai commented on #2783
@mbasmanova @chakpongchung It is on our roadmap and we do plan to add better conda support in the near future. I dont have a concrete timeline . Tentatively end of this half or early next half.

cc : @bearzx @wenleix

[2022-10-11 17:31] kgpai commented on #2783
@chakpongchung We would welcome any contributions that will enable to better supported on conda ; Feel free to help out.

[2022-10-11 18:33] kgpai opened #2811 "Enable more architecture builds for Velox Minimal"
We should try and enable the following architectures for Velox minimal:
 - SSE Linux
 - SSE Mac
 - ARM Mac
 - ARM(Neon) Linux.

cc @raulcd @assignUser

[2022-10-11 20:04] karteekmurthys commented on #2736
On Presto Java, the decimal average intermediate type is **not BigDecimal** but a **VARBINARY**. The final average step uses BigDecimal to compute total sum and average.

The intermediate result is wrapped in a VARBINARY and consists of **_count, overflow (if the sum so far overflown or underflown) and total sum._**.

**presto-main/src/main/java/com/facebook/presto/operator/aggregation/DecimalAver

[2022-10-11 20:37] Yuhta commented on #2736
@karteekmurthys Isn't `BigDecimal` in Java has arbitrary precision?  How come it overflows?

[2022-10-11 20:44] karteekmurthys commented on #2736
@Yuhta Sorry, I should have clarified earlier. The total sum in the intermediate state is a `Slice` of 16 bytes not BigDecimal.

Only the final aggregation uses BigDecimal.

[2022-10-11 21:00] Yuhta commented on #2736
@karteekmurthys So there is also an option for us to do the same thing as java to just sum in partial & intermediate aggregation.  We still need to handle the overflow in final aggregation though.

[2022-10-11 21:04] karteekmurthys commented on #2736
@Yuhta That is correct. I am working on simple test code on how to achieve this in Velox. We will follow similar approach of Java of tracking the overflow and just storing the sum in uint128_t.

The `sum = sum.add(new BigDecimal(OVERFLOW_MULTIPLIER.multiply(BigInteger.valueOf(overflow))));` step needs to be broken down into performing division by count followed by adding the divided parts.

[2022-10-11 22:19] Yuhta commented on #2736
@karteekmurthys It might not be easy in Velox.  Since you have to handle overflow in final aggregation anyway, it might worth just use the same implementation in both and give better result than Java.

[2022-10-12 00:28] FelixYBW commented on #2783
Glad to see you are solving this. Conda build is essential to Spark/Gluten. Firstly we need more OS support, secondly we need to deploy the dependency libraries to each worker node. Conda env is the most simplest way.

[2022-10-12 01:17] kagamiori opened #2816 "Substrait velox_plan_conversion_test is flaky"
The velox_plan_conversion_test fails occasionally on PRs. We ran this target for 1000 times and there were 21 unit test failures. Below is an example stack trace:

[code]

[2022-10-12 01:20] mbasmanova commented on #2816
CC: @rui-mo @zhejiangxiaomai Folks, would you help take a look?

[2022-10-12 01:21] mbasmanova commented on #2816
CC: @xiaoxmeng

[2022-10-12 01:22] kagamiori commented on #2816
Other failed tests include VeloxSubstraitRoundTripPlanConverterTest.countAll, VeloxSubstraitRoundTripPlanConverterTest.sumAndCount, VeloxSubstraitRoundTripPlanConverterTest.countAll, VeloxSubstraitRoundTripPlanConverterTest.filter, VeloxSubstraitRoundTripPlanConverterTest.count, VeloxSubstraitRoundTripPlanConverterTest.sumGlobal, VeloxSubstraitRoundTripPlanConverterTest.project, VeloxSubstraitRoun

[2022-10-12 02:17] zhejiangxiaomai commented on #2816
I will check it.

[2022-10-12 07:19] XuPingyong opened #2820 "Unable to run WindowOperator and SemiJoin wither filter end-to-end"
These features are available in velox now or soon. I expect to run and verify some sqls end-to-end.
Is there any plan to support when converting presto plan to velox plan in presto-native-execution?

[2022-10-12 07:23] jinchengchenghh opened #2821 "Parquet IntDecoder fail"
When I test read TPCDS parquet table, I receive coredump because bitWidth is 0
sql:

[code]

substrait plan:

[code]

Plan Node

[code]

[code]

[code]

relevant code is
[code]

[code]

[2022-10-12 12:07] mbasmanova commented on #2820
CC: @aditi-pandit

[2022-10-12 12:08] mbasmanova commented on #2820
@XuPingyong Are you seeing failure running some queries? Would you share some examples of the queries and failures?

[2022-10-12 12:10] mbasmanova commented on #2821
@oerling Orri, would you check it out?

CC: @yingsu00 @majetideepak

[2022-10-12 14:06] chakpongchung commented on #2783
@kgpai could you add me to the relevant slack group of velox? my email: chakpongchung@gmail.com

Before any contribution, we need to find a working pair of fmt and folly on conda to build velox first. I am afraid we need to upgrade either fmt or folly version in velox first.

[2022-10-12 14:10] mbasmanova commented on #2783
@jijufb Jiju, would you add @chakpongchung  (email: chakpongchung@gmail.com) to the Slack?

[2022-10-12 15:16] jijufb commented on #2783
Invite sent to chakpongchung@gmail.com to the slack workplace.

[2022-10-12 18:30] mbasmanova commented on #2821
According to @oerling , this might be fixed in #2807

[2022-10-12 19:08] donghekang opened #2824 "build error - undefined reference to `facebook::strings::ByteSinkBuffer::flush()'"
Hi all,

Building the dwrf tests throws error because it cannot find the definition of the ByteSinkBuffer::flush function. I don't find the definition in the code base. Does anyone know why this happens and how to fix?

Here is an example error log:

[2022-10-12 19:17] mbasmanova commented on #2824
@donghekang Thank you for reporting this issue. Which platform do you use for building?

[2022-10-12 19:23] donghekang commented on #2824
I build it on Ubuntu 18.04.6 LTS (Bionic Beaver) . I don't have the root privilege so that I installed all dependence by myself. Here is how I compile it:

[2022-10-12 19:25] Yuhta opened #2825 "`std::signbit` cannot be found when building on Apple M1"
When building (`make debug`) on Apple M1, I run into these errors:

[code]

[code]

Looks like a configuration issue with MacOSX SDK, is there any expert on this can provide some clue how we can solve this?

[2022-10-12 19:26] mbasmanova commented on #2825
CC: @kgpai

[2022-10-12 19:27] mbasmanova commented on #2825
CC: @raulcd @assignUser

[2022-10-12 19:40] mbasmanova commented on #2794
CC: @aditi-pandit @majetideepak

[2022-10-12 19:40] mbasmanova commented on #2793
CC: @aditi-pandit @majetideepak

[2022-10-12 21:45] oerling commented on #2808
We have not gotten the test data generator to make mixed dictionary/plain columns of strings. Will try harder. This should be readily fixable.

From: Maria Basmanova ***@***.***>
Sent: Tuesday, October 11, 2022 6:36 AM
To: facebookincubator/velox ***@***.***>
Cc: oerling ***@***.***>; Mention ***@***.***>
Subject: Re: [facebookincubator/velox] A failure found during StringColumnReader dedictionari

[2022-10-12 21:48] c404err commented on #2804
Here is a [ticket](https://gcc.gnu.org/bugzilla/show_bug.cgi?id=99591) talking about __builtin_add_overflow() bug existing in gcc11 and below. what are your compile options and environmental settings?

[2022-10-12 22:04] Yuhta commented on #2804
@c404err The compiler is clang and the main options that matters are `-O3` and `-mavx2`.  Without AVX2 the 2 results are still the same.

[2022-10-13 01:21] XuPingyong commented on #2820
Thanks @aditi-pandit @mbasmanova very much. Looking forward  to it.

Failures occur when running some common Presto SQL  queries:
1. Unsupported Filter over SemiJoin
`
             "Unsupported Filter over SemiJoin: {}",
              toJsonString(node->predicate));
 `
2. Unknown plan node type: com.facebook.presto.sql.planner.plan.WindowNode

[2022-10-13 01:25] aditi-pandit commented on #2820
@XuPingyong : Please can you give us the SQL query you are using for the first error.
For the second error we have https://github.com/prestodb/presto/pull/18486

[2022-10-13 01:39] XuPingyong commented on #2820
TPCDS q45.sql can incur the first error.

--TPC-DS Q45
select  ca_zip, ca_city, sum(ws_sales_price)
 from web_sales, customer, customer_address, date_dim, item
 where ws_bill_customer_sk = c_customer_sk
 	and c_current_addr_sk = ca_address_sk
 	and ws_item_sk = i_item_sk
 	and ( substr(ca_zip,1,5) in ('85669', '86197','88274','83405','86475', '85392', '85460', '80348', '81792')
 	      or

[2022-10-13 03:23] rui-mo commented on #2808
@mbasmanova Masha, below is the stack trace we got.

[code]

To reproduce this issue, as @oerling mentioned, if the data generator is not there, maybe we can reproduce this issue with a Velox TableScan test based on our test data, but we need to upload the data to somewhere you can download. How do you think so?

[2022-10-13 03:33] mbasmanova commented on #2808
@rui-mo Would you share the test data over e-mail or via Slack?

[2022-10-13 05:20] oerling commented on #2808
Fixed in 2829. This was a known case of lack of coverage, added now. You can try the fix, let us know..

Masha, would you review?

From: Maria Basmanova ***@***.***>
Sent: Wednesday, October 12, 2022 8:34 PM
To: facebookincubator/velox ***@***.***>
Cc: oerling ***@***.***>; Mention ***@***.***>
Subject: Re: [facebookincubator/velox] A failure found during StringColumnReader dedictionarizing proces

[2022-10-13 05:47] jinchengchenghh commented on #2821
I verified locally, https://github.com/facebookincubator/velox/pull/2807 cannot fix this issue, I will try to reproduce by unit test and continue debugging

[2022-10-13 10:18] rui-mo commented on #2808
@oerling Thank you for the fix! Made some initial tests on your PR and it solved the failure above. @mbasmanova I think our test data is not needed any more, right?

[2022-10-13 10:33] mbasmanova commented on #2808
@rui-mo Happy to hear the issue is solved now. No need for test data.

[2022-10-13 14:30] #2816 closed

[2022-10-13 14:38] Yuhta commented on #2414
Per @mbasmanova

[2022-10-13 14:40] Yuhta commented on #2414
@karteekmurthys You will be able to register `avg(decimal)` separately once we fix this

[2022-10-13 15:43] raulcd commented on #2825
hi @Yuhta , thanks for the report. I don't have an M1, I will try to get one to test (or spin and AWS instance) in the meantime, do you know if this only happens for `DEBUG` or this is happening on `make release` too?

[2022-10-13 15:52] assignUser commented on #2825
This seems to be an issue when xcode is not installed, and a macro from math.h clashes with `std::signbit` I found several threads talking about this and installing xcode seems to solve it?

- This lays out a solution: https://github.com/nlohmann/json/issues/2087#issuecomment-624331050
- https://root-forum.cern.ch/t/compiling-6-12-4-error/27423/12
- (it was also a bug in [ancient gcc](https://gcc.

[2022-10-13 19:20] kagamiori opened #2834 "Exception when applying to_utf8() on vector slice that contains nulls"
For a simple expression `to_utf8(c0)` where c0 is a flat vector slice that contains nulls at the end, to_utf8() is evaluated on non-null rows and reuses the input's `values_` buffer that is not mutable. Expression evaluator then add nulls to the result at null-rows. At this moment, because result->size() < rows.end(), FlatVector::resize() is called that checks the `values_` buffer must be mutable.

[2022-10-13 20:38] aditi-pandit opened #2838 "SelectiveColumnReader compilation warnings in 10/13 build"
The build after sync today shows many warnings in SelectiveColumnReader in the log. Please fix.

/Users/aditipandit/ahana_dev/velox/velox/./velox/dwio/common/SelectiveColumnReader.h:53:13: warning: pointer is missing a nullability type specifier (_Nonnull, _Nullable, or _Null_unspecified) [-Wnullability-completeness]
  const void* values{nullptr};
            ^
/Users/aditipandit/ahana_dev/velox/v

[2022-10-13 20:44] kagamiori commented on #2838
Thanks for reporting this issue! Let me try to reproduce it on my laptop.

[2022-10-13 20:54] mbasmanova commented on #2838
CC: @yingsu00 @majetideepak @oerling @Yuhta

[2022-10-13 21:09] kagamiori commented on #2838
These warnings indeed appear. Hi @aditi-pandit, would you like to help fix this issue?

[2022-10-13 22:07] aditi-pandit commented on #2838
Yes, I'll take a stab at it.

[2022-10-13 22:53] majetideepak commented on #2838
I see them as well.

[2022-10-14 00:55] aditi-pandit commented on #2838
There were more after a first round of fixes. Just logging here for history

In file included from /Users/aditipandit/ahana_dev/velox/velox/./velox/dwio/common/ColumnVisitors.h:22:
/Users/aditipandit/ahana_dev/velox/velox/./velox/dwio/common/SelectiveColumnReader.h:64:17: warning: pointer is missing a nullability type specifier (_Nonnull, _Nullable, or _Null_unspecified) [-Wnullability-completenes

[2022-10-14 01:10] mbasmanova commented on #2838
@aditi-pandit Thanks. Consider using Gist for long pastes. https://gist.github.com/

[2022-10-14 01:18] yingsu00 opened #2840 "FileSink is not closed before being destroyed"
The following code would fail
[code]
The stack is:
[code]

Since the writer owns the finalSink_, when close() was called on writer, the sink is also supposed to be closed. But the writer doesn't.
[code]
However the counter part of MemorySink does not destroy itself but just mark it as closed.

[code]
@oerling Is this intended?

[2022-10-14 06:34] yingsu00 opened #2844 "dwio::common::test::FilterGenerator::makeSubfieldFilters() fails when batch size is large"
The following code throws exception when batch size is large. e.g. batches[0].size() == 1000000;
[code]
The call stack is
[code]
This is because the positions in batch was encoded as
[code]
Using this formula, row 0x40000 in batches[0] would be encoded as 0x00040000. But decoding this value would think the batch number is 4:
[code]
Then ColumnStats::sample()
[code]

[2022-10-14 10:16] taiyang-li opened #2846 "Curious about the performance of native parquet reader"
I'm new to velox. I search among issues but they can't answer my question:
- Do we have any background information about why we need to deveop native parquet reader instead of duckdb parquet reader.
- How much faster is it?
- How is the progress of native parquet reader?  Hope to contribute to it if possible.

[2022-10-14 11:55] mbasmanova commented on #2846
CC: @yingsu00 @aditi-pandit @majetideepak @oerling @rui-mo

We have seen the new Parquet reader being significantly faster than DuckDB's. CC-ed folks who may provide more specifics.

[2022-10-14 14:01] Yuhta commented on #2825
@assignUser Thanks for the help, I do have `-isysroot` when the compiler is invoked:
[code]

[2022-10-14 14:01] Yuhta commented on #2825
@raulcd It's also happening in release build

[2022-10-14 17:28] mbasmanova opened #2848 "Fuzzer maps keys should be unique and non-null"
CC: @beroyfb @kagamiori

[2022-10-14 19:50] #2838 closed

[2022-10-14 20:21] kagamiori opened #2849 "Fuzzer generated TimestampWithTimezone vector should not have nulls at only one field of a row"
TimestampWithTimezone is implemented as a Row<int64_t, int16_t> in Velox. But TimestampWithTimezone is primitive in Presto, meaning that each of its value should be either null or non-null at both field. VectorFuzzer generates random TimestampWithTimezone vectors as regular RowVectors and sometimes put nulls into only one field of a row. This causes expression fuzzer test failures when evaluating

[2022-10-14 20:45] oerling commented on #2844
One could use a long to encode batch number and index in batch. On the other hand I don’t know why one would want a batch of more than 64K rows. The size of this batch is not the write rowgroup or stripe size, the writer decides this on its own.

From: Wei He

[2022-10-14 20:55] oerling commented on #2846
We could do a blog post about this in a bit.  The DuckDB reader, specially in Velox with vector type conversion was plain bad. By itself, the DuckDB reader is not particularly optimized. What we have here is reasonably optimized and hardly figures in the profile when running TPC benchmarks from memory.

We’ll do a blog post and explain how this works probably in a couple of weeks.

[2022-10-14 21:02] Yuhta commented on #2844
Should we restrict batchRow to `uint16_t`?

[2022-10-15 01:17] yingsu00 commented on #2844
@Yuhta I'd love to use larger batch size for my benchmarks.

I am not sure if encoding the batch number and row numbers into a single integer is necessary. The "hits" array seems to be just a  RowSet with reducing number of rows.  If we want to find out which batch a row belongs to, a plain RowSet would serve the purpose. We already know the number of rows in each batch, and we know the number of

[2022-10-15 21:51] #2808 closed

[2022-10-16 03:46] gosharz commented on #2849
Hello!

Familiarizing  with the topic:
Will a solution like

1. Add TimestampWithTimezone specific handling by using https://github.com/facebookincubator/velox/blob/e20cb66b1b85d6c5e3a694d998c8d7ad3dbcef2b/velox/functions/prestosql/types/TimestampWithTimeZoneType.h#L43 at https://github.com/facebookincubator/velox/blob/45b5b5a49808fd0430b31ad845e6814a2c9742d7/velox/vector/fuzzer/VectorFuzzer.cpp#L

[2022-10-16 04:02] gosharz commented on #2849
Looking at entry points(assuming we TimestampWithTimezone is still Row) there are multiple customization places

1. From https://github.com/facebookincubator/velox/blob/45b5b5a49808fd0430b31ad845e6814a2c9742d7/velox/vector/fuzzer/VectorFuzzer.cpp#L290
2. https://github.com/facebookincubator/velox/blob/45b5b5a49808fd0430b31ad845e6814a2c9742d7/velox/vector/fuzzer/VectorFuzzer.cpp#L321
3. https://git

[2022-10-16 04:04] gosharz commented on #2849
Actually two questions:

1. Is this condition valid: https://github.com/facebookincubator/velox/blob/45b5b5a49808fd0430b31ad845e6814a2c9742d7/velox/vector/fuzzer/VectorFuzzer.cpp#L299 ?
2. Is there a cyclic dependency fuzz -> fuzzConstant -> fuzz?

[2022-10-17 03:37] gosharz commented on #2262
Hi @pramodsatya!

Looking for functions to pick up. Wondering if you are still working on truncate?

Cheers,
Gosh

[2022-10-17 03:43] pramodsatya commented on #2262
Hi @gosharz, I am not working on truncate function. Thanks for checking.

[2022-10-17 03:45] gosharz commented on #2262
@pramodsatya mind if I pick it up?

[2022-10-17 03:49] pramodsatya commented on #2262
No, please go for it. Thank you!

[2022-10-17 16:31] beroyfb opened #2859 "Correctness and limitations associated with assertEqualResults"
- If we have maps in the schema and the keys are null assertEqualResults ignores the nullness of them and only compares the actual values stored in the vectors, which can some random values! While null key maps are not supported in PrestoSQL, the tool should also check for that condition at least.
- It doesn't support Dictionary and Constant encoding on complex vector. It expects them to be flat.

[2022-10-17 16:33] mbasmanova commented on #2859
CC: @bikramSingh91 @Yuhta @kagamiori

[2022-10-17 16:40] majetideepak opened #2861 "Add documentation for connectors"

[2022-10-17 16:58] gosharz commented on #2262
Adding truncate: https://github.com/facebookincubator/velox/pull/2862

[2022-10-17 18:17] laithsakka opened #2865 "Guard mem copy from string views in Velox code."
https://en.cppreference.com/w/cpp/string/byte/memcpy

```If either dest or src is an [invalid or null pointer](https://en.cppreference.com/w/cpp/language/pointer#Pointers), the behavior is undefined, even if count is zero.```

we use memcpy to copy  from strings alot in our code, when the size of the string is 0 its undefined behaviour we need to fix that.

[2022-10-17 19:13] kagamiori opened #2866 "TaskListenerTest.success is flaky"
The unit test TaskListenerTest.success fails intermittently. Here is an example failure: https://app.circleci.com/pipelines/github/facebookincubator/velox/14955/workflows/cce719ef-6a3d-474a-8e5c-cf4615644738/jobs/91063/steps.

[2022-10-18 00:50] pzhzqt commented on #2865
https://github.com/facebookincubator/velox/blob/fd5958eca0db795b58577f51de41e798b8c1a8f8/velox/type/StringView.h#L53
Apart from this ctor, the logic in `StringView` made sure `data()` always return a valid ptr. And this ctor looks weird and I don't understand what the result represent.
If this ctor turns out to not produce a valid `StringView`, then a better solution is probably to just remove/rep

[2022-10-18 07:40] rui-mo commented on #2846
cc @FelixYBW

[2022-10-18 16:13] prmoore77 opened #2870 "velox_tpch_benchmark executable is failing with "Aggregate function doesn't exist" error"
After building executable: "velox_tpch_benchmark" - and attempting to run it - it fails with an error: "Aggregate function doesn't exist".

Here is a full copy/paste of running the executable (from Ubuntu) on an x86-64 machine:
[code]

This had previously worked on an earlier commit (I had tested it on 2022-10-03) - I'll try to find the commit around that time and re-test...

[2022-10-18 16:25] prmoore77 commented on #2870
Commit: bc32501da4b908a3e5177bf2534a6b0b958e3b49 works fine (Date:   Sun Oct 2 21:17:05 2022 -0700)

[2022-10-18 16:27] majetideepak opened #2871 "Parquet native reader fails to read an empty Parquet file"
Reading an empty Parquet file throws the following error
[code]

The fix is to modify the check in `velox/dwio/parquet/reader/ParquetReader.cpp:68` to `VELOX_CHECK_LE(footerLength + 12, fileLength_);`

[2022-10-18 16:30] kagamiori commented on #2870
CC: @mbasmanova

[2022-10-18 16:31] majetideepak opened #2872 "Add support for AWS SDK log levels in S3FileSystem"
The current AWS SDK log level defaults to `Aws::Utils::Logging::LogLevel::Fatal`.
However, for debugging ease, we must add a config parameter say `hive.s3.log-level` and allow other supported options.
SDK reference: https://docs.aws.amazon.com/sdk-for-cpp/v1/developer-guide/logging.html
https://github.com/aws/aws-sdk-cpp/blob/main/src/aws-cpp-sdk-core/include/aws/core/utils/logging/LogLevel.h

[2022-10-18 16:31] kagamiori commented on #2871
CC: @Yuhta @kgpai

[2022-10-18 16:34] Yuhta commented on #2871
Thanks @majetideepak , can you change it while you are working on it?

[2022-10-18 16:41] mbasmanova commented on #2870
@zhejiangxiaomai Would you take a look?

[2022-10-18 16:43] mbasmanova commented on #2870
CC: @majetideepak

[2022-10-18 16:43] zhejiangxiaomai commented on #2870
I will reproduce it tomorrow.

[2022-10-18 16:45] majetideepak commented on #2871
@Yuhta will do!

[2022-10-18 16:54] majetideepak commented on #2870
The regression is likely due to https://github.com/facebookincubator/velox/pull/2809/files
We must include `aggregate::prestosql::registerAllAggregateFunctions();` in `velox/benchmarks/tpch/TpchBenchmark.cpp`

[2022-10-18 17:18] pzhzqt commented on #2865
https://github.com/facebookincubator/velox/blob/fc0f964e81cc784586f2caaf5220e9c61b276aba/velox/functions/prestosql/aggregates/ApproxDistinctAggregate.cpp#L182 is the only place I found using that ctor, and here the use makes sense: it's effectively a string buffer, and it ensured the size is an inline size, which means `data()` will return `prefix_`. So maybe the solution is to add an assert to th

[2022-10-18 18:03] FelixYBW commented on #1752
Nothing from my side. @lsyldliu  Did you started the work? You may take a look of this PR in substriat: https://github.com/substrait-io/substrait-java/pull/90. It converts spark's logic plan into substrait plan. Currently Gluten used different way to create the substrait plan. We are checking if we can use the same way here.

The biggest issue is spark plan isn't 1:1 mapping to velox plan. In Glut

[2022-10-18 21:22] assignUser commented on #2783
The original issue of folly needing fmt 9 could be solved by pinning `fmt==8.0.1` in the [folly feedstock](https://github.com/conda-forge/folly-feedstock/blob/main/recipe/meta.yaml) as the v9 dependecy seems to be transitive.

It took me a while but these installed from conda-forge should be all that is needed to build velox (and folly):
[code]

[2022-10-18 21:35] chakpongchung commented on #2783
@assignUser The list you attached does not contain a version for folly. So which version of it do I need? Or I do not need folly given this list?

[2022-10-18 21:52] save-buffer opened #2875 "Compiler issue in `RuntimeMetrics.cpp`"
I was just trying to build Velox and I'm getting a compilation error regarding the formatting of RuntimeCounter::Unit:

[code]

  Has anyone seen this before and? Thanks!

[2022-10-18 22:01] pedroerp commented on #2875
This looks like an unsupported version of libfmt. @kgpai could you confirm which version of libfmt we require?

[2022-10-18 22:31] save-buffer commented on #2875
I have tried both both version `9.1.0` and `8.1.1` and both gave the same error.

[2022-10-18 22:51] aditi-pandit commented on #2820
This previous query is using sum() aggregate as a window function. I'm working on a new Velox PR for supporting aggregates as windows. That will unblock this query further.

[2022-10-19 00:22] aditi-pandit commented on #2820
https://github.com/prestodb/presto/pull/18486 for WindowNode SQL error is submit now. Do you still see errors for the window queries you are running ? Please can you give us more info about the specific window sql you want to run so that we ensure to have the sql coverage.

[2022-10-19 00:50] aditi-pandit opened #2877 "Unsupported Filter over SemiJoin"
Semi-joins with additional filters are not yet supported in Prestissimo / Velox:

[code]

From @XuPingyong

TPC-DS q45 fails with: Unsupported Filter over SemiJoin

[code]

_Originally posted by @XuPingyong in https://github.com/facebookincubator/velox/issues/2820#issuecomment-1276917192_

[2022-10-19 00:52] aditi-pandit commented on #2820
Have created another issue https://github.com/facebookincubator/velox/issues/2877 for the Semi-join filter issue. Using this one to only track the Window sql related queries.

[2022-10-19 00:55] mbasmanova commented on #2877
CC: @rui-mo Rui, I'm curious how Gluten plans with query (TPC-DS q45). Does it use Spark's Java operators for the semi join?

[2022-10-19 01:40] chakpongchung commented on #2783
thank you @assignUser ! That works

[2022-10-19 01:53] chakpongchung commented on #2783
Turns out it cannot pass some tests:
[code]

[code]

[2022-10-19 02:17] zhejiangxiaomai commented on #2870
https://github.com/facebookincubator/velox/pull/2880 can fix this problem.
![image](https://user-images.githubusercontent.com/14065538/196581571-a53306b9-3d89-4ad7-aa8f-71cdbd90b769.png)

[2022-10-19 03:09] zuochunwei opened #2882 "Can not compile on MacBook with Intel CPU"
I followed the `getting started` operations step by step, I executed `./scripts/setup-macos.sh` successfully, but when I executed the `make command` to compile this project I got the following errors:

<img width="1200" alt="image" src="https://user-images.githubusercontent.com/7720380/196588605-7195f3f3-f97e-49c3-b834-bfc268af653b.png">

I do not know what's wrong, who can give me help?

[2022-10-19 03:32] rui-mo commented on #2877
Masha, I checked both q45 and above query, and found they were similar. In Spark, it is planned as a ShuffledHashJoin with existence join type and a filter as below.

[code]

ExistenceJoin in Spark appends a column of boolean type after the left table to illustrate whether one row is joined or not. This join type is not supported in Gluten for now, so in TPC-DS q45, this join is executed by vanill

[2022-10-19 03:32] majetideepak commented on #2870
@zhejiangxiaomai This is not a build problem. The `linux-adapters` CI job enables `VELOX_ENABLE_BENCHMARKS`. We need to add a tpch benchmark run to avoid these problems.

[2022-10-19 03:44] zhejiangxiaomai commented on #2870
Yes, you are right.

[2022-10-19 04:12] laithsakka commented on #2875
according to this we use 8.0.0
https://github.com/facebookincubator/velox/issues/2783

[2022-10-19 05:45] XuPingyong commented on #2820
Thanks a lot @aditi-pandit. Some errors are resolved while accumulator functions in window are still not supported:
VeloxUserError:  Window function not registered: avg

You can  try to run tpcds 63.sql please.
select  *
from (select i_manager_id
             ,sum(ss_sales_price) sum_sales
             ,avg(sum(ss_sales_price)) over (partition by i_manager_id) avg_monthly_sales
      from item

[2022-10-19 05:58] aditi-pandit commented on #2820
Thanks. I was familiar with the use of aggregate functions with windows in TPC-DS. I'm working on adding aggregate functions as windows next on the Velox side. Will keep this issue updated with the PRs.

[2022-10-19 09:20] ZJie1 opened #2884 "build error - use of deleted function 'std::hash<__int128>::hash()'"
Hi all,
I was trying to build the code and got the below error message. Does anyone met the similar error before or know why this happens and how to fix? Thank you very much!

[code]

[2022-10-19 11:35] mbasmanova commented on #2877
@rui-mo Rui, thank you for the clarifying. This is very helpful. ExistingJoin in Spark appears to work similar to SemiJoin in Presto. Both act as a projection by emitting all rows from the left side with an additional boolean column set to true if there is a match, false if there is no match and null if "unknown" (left key is null and build side is not empty or there is no match and build side has

[2022-10-19 12:24] mbasmanova commented on #2884
CC: @kgpai @raulcd

[2022-10-19 12:24] mbasmanova commented on #2884
CC: @karteekmurthys @majetideepak

[2022-10-19 14:28] mbasmanova opened #2886 "Add support for LEFT, RIGHT and FULL OUTER joins with no equi-clauses"
Extends CrossJoinNode plan node and CrossJoinProbe operator to support LEFT, RIGHT and FULL OUTER joins without equi-clauses.

[code]

Currently, these queries are not supported. Running these from Prestissimo gives errors like

[code]

CC: @rui-mo @aditi-pandit @majetideepak @xiaoxmeng @Yuhta

[2022-10-19 14:33] mbasmanova commented on #2849
Perhaps, a more generic solution would be to add support for custom types to Fuzzer. The Fuzzer could provide an API to register callbacks for generating flat vectors of a custom type with a given seed and null ratio. This would allow us to apply Fuzzer to built-in types like PrestoSQL types as well as types specific to different applications built on top of Velox.

For reference, type registry AP

[2022-10-19 14:39] raulcd commented on #2882
hi @zuochunwei, could you please post the whole stack trace as text instead of a screenshot? It will help us be able to copy&paste to investigate. Thanks.

[2022-10-19 14:48] #2870 closed

[2022-10-19 14:54] gosharz opened #2887 "Add truncate(x,n) presto function"
**Context**: of https://github.com/facebookincubator/velox/issues/2262

Presto supports two versions of truncate: **truncate(x)** and **truncate(x,n)**. The former one has been added per https://github.com/facebookincubator/velox/pull/2862. This issue add adding implementation for the second overload.

Here is the java reference implementation which must be mimicked:
https://github.com/prestodb/pr

[2022-10-19 14:57] mbasmanova opened #2888 "Add context to std::exceptions thrown from the UDFs"
When a UDF throws VeloxException using one of the VELOX_XXX macros, the error message includes a lot of useful information including the location of the error (file path and line number), stack trace, and expression being evaluated. For example,

[code]

When UDF throws an std::exception, the error message is missing the context.

[code]

The information provided in the "Context:" and "Top-Level C

[2022-10-19 15:14] mbasmanova commented on #2888
One way to add context to std::exceptions would be to modify the logic in EvalCtx::setError.

Current:

[code]

New logic:
[code]

If we want to also ensure that suppressed errors (TRY) also include context, we may need to change the logic a bit more:

[code]

[2022-10-19 15:19] mbasmanova commented on #2888
@laithsakka Laith pointed out that we may also want to modify EvalCtx::applyToSelectedNoThrow to handle VeloxException and std::exception differently to reduce the amount of re-throwing needed.

[2022-10-19 16:41] kagamiori commented on #2888
@laithsakka also pointed out that if we re-throw std::exception as VeloxException, the file and line number in the error message would be of EvalCtx::setError() instead of the original location that throws in the UDF.

[2022-10-19 16:43] mbasmanova commented on #2888
That's indeed the case. Today, we don't get file name and line number at all. Getting file name and line number from the EvalCtx::setError() is not useful, but doesn't hurt either. The actual win is in getting the additional Context: and Top-Level Context: information.

[2022-10-19 16:48] kagamiori commented on #2888
Yes, I agree. Just wanted to bring this up and maybe we'd like to document this somewhere to avoid potential confusion of users.

[2022-10-19 19:22] #2875 closed

[2022-10-19 20:16] prmoore77 opened #2891 "make for CPU_TARGET="aarch64" fails in Ubuntu"
While attempting to build Velox on Ubuntu 22.04 - for an aarch64 platform - it fails with:

[code]

It seems to build fine for both M1 Mac (CPU_TARGET="arm64"), and on x86-64 (CPU_TARGET="avx").

I was wanting to benchmark Velox with TPC-H on both Intel and Graviton (aarch64) nodes.  Is that architecture supported?  It is mentioned here: https://github.com/facebookincubator/velox/blob/c7c094b28f3a

[2022-10-19 20:17] mbasmanova commented on #2891
CC: @kgpai @raulcd @Yuhta @majetideepak

[2022-10-19 20:32] kgpai commented on #2891
Hi @prmoore77 , We are aware that Velox doesnt build on gravitron but havent had the bandwidth to fix the build there. I estimate probably a few days work to get it working. It would be awesome if you can contribute and fix this.
Also note that if your intention is to compare tpch performance across these architectures then it wont be a really an apples to apples performance since while we use XSi

[2022-10-19 20:38] prmoore77 commented on #2891
Hi @kgpai - I appreciate your prompt response!  I'm not a very good C++ developer, but I will definitely attempt to contribute.  The reason I was interested in this comparison is that I saw about a 10% improvement for DuckDB on Graviton as opposed to Intel (both M6 series EC2 instances) - so was interested if that held true with Velox.  Based upon what you say - I see that may not be the case due

[2022-10-19 20:47] Yuhta commented on #2891
Hi @prmoore77, as Krishna said the current codebase is not optimized for Graviton (may not even build on that as you discovered).  There are some work need to be done to fully utilize the SVE instructions.  xsimd added support for SVE recently, we just need some time and the develop environment to look at that.

[2022-10-19 21:12] kgpai commented on #2891
Yes as @Yuhta added, this doesnt mean Velox wont be competitive with x86, just that we have not fully utilized their instruction set. Again we would welcome any contribution. Thanks.

[2022-10-19 21:59] #2865 closed

[2022-10-20 01:40] pedroerp commented on #2887
@gosharz are you going to be working on this Issue as well?

[2022-10-20 01:56] gosharz commented on #2262
Will also give a try to **strrpos** if nobody minds :)

[2022-10-20 01:58] gosharz commented on #2849
Flushing some prestosql scalar functions. Will get back to this shortly. Also thinking about @mbasmanova's proposal.

[2022-10-20 02:51] zuochunwei commented on #2882
[71/902] Building CXX object third_party/googletest/googlemock/CMakeFiles/gmock.dir/src/gmock-all.cc.o
FAILED: third_party/googletest/googlemock/CMakeFiles/gmock.dir/src/gmock-all.cc.o
ccache /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/c++  -I/usr/local/opt/icu4c/include -I/Users/zuochunwei/velox/. -I/Users/zuochunwei/velox/third_party/googletest/googlemo

[2022-10-20 04:01] yingsu00 opened #2900 "E2EFilterTest shortDecimalDirect fails on Parquet"
On latest main, shortDecimalDirect in E2EFilterTest fails with this:
[code]

[2022-10-20 04:01] yingsu00 commented on #2900
cc @majetideepak Does this test pass for you?

[2022-10-20 04:46] Dream-hu opened #2901 "Build fail in presto-native-execution when PRESTO_ENABLE_PARQUET = ON caused by undefined thrift liked symbols"
it seems like arrow/thrift and fbthrift are mixed up，details：

Linking CXX executable presto_cpp/main/presto_server failed:
Undefined symbols for architecture arm64:
  "apache::thrift::CodecConfig::__fbthrift_clear()", referenced from:
      apache::thrift::CodecConfig::~CodecConfig() in libpresto_thrift-cpp2.a(PrestoThriftAsyncClient.cpp.o)
      apache::thrift::CodecConfig::~CodecConfig() in lib

[2022-10-20 10:12] zuochunwei commented on #2882
I have upgraded `Apple clang` to version 14.0.0 (clang-1400.0.29.102), but I can not compile successfully, the same error messages appeared again.

[2022-10-20 10:19] zuochunwei commented on #2882
I operated as the following steps
step1:

step2:
./scripts/setup-macos.sh

step3:
make

when I executed `make`, I got the above error messages.
after checking the code, I found the identifiers such as 'IndexSequenceFor' is exist, why?

[2022-10-20 10:55] raulcd commented on #2882
Can you try building googletest on isolation?
[code]
These are the supposed requirements for googletest, I am trying to discard possible versioning issues:
[code]

[2022-10-20 11:03] raulcd commented on #2884
hi @ZJie1 ! Could you share more details on architecture and OS where you are building and what are the steps that you followed?
I can see `/usr/include/c++/9`, could you share the version of gcc you are using?

[2022-10-20 11:09] raulcd commented on #2882
oh! A colleague just pointed me out that on your first screenshot there seems to be a `/usr/local/include/gtest` on the last line. Do you have a different version of google test installed as a system local dependency?

[2022-10-20 13:49] assignUser commented on #2783
@chakpongchung could you post the output of `conda list` for your env?

[2022-10-20 14:13] prmoore77 commented on #2891
Should we close this issue?

[2022-10-20 14:43] chakpongchung commented on #2783
[code]

[2022-10-20 15:41] gosharz commented on #2262
Here we go: https://github.com/facebookincubator/velox/pull/2903

[2022-10-20 15:43] kgpai commented on #2901
cc : @Yuhta , @yingsu00 .

Hi @Dream-hu , Not really certain if the problem is on Velox end, can you also raise this issue on presto-native and see what they say. As Velox only has this indirect dependency on thrift due to arrow/parquet, it seems this issue is more pertinent to presto-native.

[2022-10-20 15:46] Yuhta commented on #2901
You need to build velox and presto_cpp as 2 separate .so if you want to enable parquet support.  I remember @majetideepak has made it work, @majetideepak would you provide some details here?

[2022-10-20 16:43] #2888 closed

[2022-10-20 20:39] Yuhta commented on #2438
Hi @rui-mo , with #2906 both regular and null-aware anti join will be supported in Velox.  Feel free to download the PR and try it even before it merges.

[2022-10-21 02:22] zuochunwei commented on #2882
yes, I did as you telled, I could compile googletest successfully.

[2022-10-21 02:26] zuochunwei commented on #2882
I guess the files under `/usr/local/include/gtest` may be created by the script `./scripts/setup-macos.sh`.

so, I need to uninstall the googletest and then reinstall it manually?

[2022-10-21 02:36] zuochunwei commented on #2882
there are many other dirs and files under `/usr/local/include/`, such as fmt、folly、range、re2、gmock，I think they are generated by `./scripts/setup-macos.sh`.

[2022-10-21 03:07] zuochunwei commented on #2882
the full make report info
==============

[zuochunwei@MacBook-Pro16 velox]$ make
/Applications/Xcode.app/Contents/Developer/usr/bin/make cmake BUILD_DIR=release BUILD_TYPE=Release && \
        /Applications/Xcode.app/Contents/Developer/usr/bin/make build BUILD_DIR=release
mkdir -p _build/release && \
        cmake -B \
                "_build/release" \
                -DTREAT_WARNINGS_AS_ERRORS=1

[2022-10-21 03:19] shiyu-bytedance opened #2908 "TPCH Q15 wrong result"
How repro'd:

1. Sync to ef4d945b61e8721b0cedbb893631f740cbf2967c
2. Generate TPCH data using SF 100
3.  ./_build/release/velox/benchmarks/tpch/velox_tpch_benchmark --num_drivers 12 --data_format parquet --data_path /Users/shiyu/Desktop/hive_data/tpch --run_query_verbose=15 --include_custom_stats=true

Expected:
- Final result has 1 row. (always)

Actual:
- Final result has 0 row. (sometimes, seem

[2022-10-21 03:58] zuochunwei commented on #2882
I enter the directory of `velox/third_party/googletest` then make,  it works normally. that's very confused.

[2022-10-21 07:49] zuochunwei commented on #2882
I use the command `gcc -MM` to generate the header files list included by `gmock-all.cc` directly or indirectly, the file list is as the following

[code]

the macro `GTEST_DISALLOW_COPY_AND_ASSIGN_` is defined in `/Users/zuochunwei/velox/third_party/googletest/googletest/include/gtest/internal/gtest-port.h`

but it's not found in the above file list, it's abnormal.

[2022-10-21 08:36] zuochunwei commented on #2882
so, how do I modify the Makefile to make sure every compile command satisfied the requirement?
in another words, make `-isystem /usr/local/include` as the last `-isystem ` statement.

[2022-10-21 09:21] ZJie1 commented on #2884
Hi raulcd, the architecture is `x86_64` , and I build the code in the docker. Actually, we use the velox as submodule when we met this error.
Below is the gcc version and os version.
[code]

[code]

[2022-10-21 09:43] zuochunwei commented on #2882
I renamed the four sub-directories of `/usr/local/include`.
renamed `gmock + googlemock + googletest + gtest` to `gmock2 + googlemock2 + googletest2 + gtest2` .
then compiled velox, I encounter the link error this time as following
[code]

what's a difficult compile job!

[2022-10-21 09:49] raulcd commented on #2884
Thanks for your response, when you say you are using Docker do you mean our provided docker-compose: https://github.com/facebookincubator/velox#building-velox-with-docker-compose and our Dockerfile: https://github.com/facebookincubator/velox/blob/main/scripts/ubuntu-22.04-cpp.dockerfile or did you use your own Dockerfile? If you are using your own, could you share a minimal Dockerfile, it should b

[2022-10-21 10:06] raulcd commented on #2882
Hi @zuochunwei , I am sorry to hear you are having a difficult time building Velox, we are trying to improve the build system, your feedback is really helpful to understand scenarios we haven't faced and trying to fix them.
I am slightly confused when you said `folly` and `gtest` where downloaded to `/usr/include` as part of `./scripts/setup-macos.sh` as both of those libraries are not downloaded

[2022-10-21 10:53] zuochunwei commented on #2882
`
[zuochunwei@MacBook-Pro16 velox]$ make
/Applications/Xcode.app/Contents/Developer/usr/bin/make cmake BUILD_DIR=release BUILD_TYPE=Release && \
	/Applications/Xcode.app/Contents/Developer/usr/bin/make build BUILD_DIR=release
mkdir -p _build/release && \
	cmake -B \
		"_build/release" \
		-DTREAT_WARNINGS_AS_ERRORS=1 -DENABLE_ALL_WARNINGS=1 -DVELOX_BUILD_MINIMAL="OFF" -DVELOX_BUILD_TESTING="ON" -D

[2022-10-21 12:29] mbasmanova commented on #2908
@shiyu-bytedance Screenshots of text are difficult to work this. Next time, consider pasting inline or using https://gist.github.com/

[2022-10-21 13:41] #2438 closed

[2022-10-21 18:08] assignUser commented on #2783
hm... I thought fmt 8.0.1 might be installed because they bumped the internal namespace from v7 to v8 in that but this does not appear to be the case.

I am not very familiar with the tests maybe @kgpai has an idea what could cause the test issue?

[2022-10-21 19:16] majetideepak commented on #2901
@Yuhta, I could not get this to work. I explored the option to use fbthrift for Parquet also, but both Arrow and Velox check-in thrift generated cpp files that are not compatible with fbthrift.

Also, this is a duplicate of https://github.com/prestodb/presto/issues/18261.
Let's keep all the discussions in one place. Closing this.

[2022-10-21 19:16] #2901 closed

[2022-10-21 19:23] majetideepak commented on #2900
@yingsu00 It fails for me also on MacOS. I will take a look.

[2022-10-21 20:48] shiyu-bytedance commented on #2908
- That makes sense, but *WHY* does this only repro when we change `maxExtendedPartialAggregationMemoryUsage ` or `maxPartialAggregationMemoryUsage `?
- Replaced screenshot with gist.

[2022-10-22 01:31] zuochunwei commented on #2882
I try to compile it on another mac book at home, and I failed again for various problems.

[2022-10-22 01:31] zuochunwei commented on #2882
ok, I will join.

[2022-10-22 16:56] kagamiori commented on #2794
[array_overlap_intersect_unmatch_result_repro.zip](https://github.com/facebookincubator/velox/files/9844882/array_overlap_intersect_unmatch_result_repro.zip)

[2022-10-23 01:36] zuochunwei commented on #2882
@raulcd @kgpai
I compiled on another macbook and failed again, this is the output info.

[code]

<img width="1424" alt="image" src="https://user-images.githubusercontent.com/7720380/197368970-a51e65c6-7a3d-4314-8497-a5463c87cad7.png">

[2022-10-23 05:16] yingsu00 opened #2922 "Unify the namespaces in velox/dwio/common/tests/utils"
The files in this folder were in `facebook::velox::test` or `facebook::velox::dwio::common`.  We may want to unify the namespaces in this folder.

[2022-10-24 03:24] ZJie1 commented on #2884
Hi raulcd, thanks for your help. We use our own Dockerfile and solve this by setting CMAKE_CXX_EXTENSIONS = ON.

[2022-10-24 07:21] zuochunwei opened #2924 "I can't Compile velox on MacBook"
I tried various ways to compile Velox for almost a week, But I failed, again and again, I even compiled it on my home MacBook without succeeding, could you help me, please?

[code]

[2022-10-24 08:08] zuochunwei commented on #2924
the above output shows that the symbol `fmt::v7::detail::vformat` does not exist, then I checked this symbol by using `nm libfmt.a| c++filt | grep "fmt::v7::detail::vformat"` in the directory of `/usr/local/lib`, I can not find the symbol, so, why cached_factory_test depends on this symbol?

<img width="1791" alt="image" src="https://user-images.githubusercontent.com/7720380/197477740-428eb2cb-fea

[2022-10-24 09:10] Dream-hu opened #2926 "why tabelscan op need hive connecter to enable filter pushdown"
Hi，I am so confused about why native tabelscan operator need hive connecter to enable filter pushdown, and add the assertion with the config in VeloxQueryPlanConverter and HiveDataSource.
Looking forward to a replay，thx a lot！

std::shared_ptr<connector::ConnectorTableHandle> toConnectorTableHandle(
// ...
  if (auto hiveLayout =
          std::dynamic_pointer_cast<const protocol::HiveTableLayoutH

[2022-10-24 09:37] raulcd commented on #2882
Can you try setting `OPEN_SSL_ROOT_DIR` to the installation folder for openssl 1.1:
[code]
See how we do it on our MacOS CircleCI build here: https://github.com/facebookincubator/velox/blob/main/.circleci/config.yml#L166

[2022-10-24 09:42] raulcd commented on #2884
Hi @ZJie1 ! Thanks for your answer! I understand that this is solved then? Should we solve the issue?
From what I understand you were using your own CMake file and not using the provided setup shell scripts provided? Trying to understand how to solve possible future issues for people facing the same problem in the future.
Thanks for answering!

[2022-10-24 09:47] ZJie1 commented on #2884
Yes, It's solved. I will close it.
Yes, we have our own cmake files.

[2022-10-24 09:47] #2884 closed

[2022-10-24 13:46] mbasmanova commented on #2924
CC: @raulcd @kgpai @Yuhta

[2022-10-24 13:46] mbasmanova commented on #2924
@zuochunwei Did you run setup-macos.sh ? Did it succeed?

[2022-10-24 13:49] mbasmanova commented on #2926
@Dream-hu I assume you are asking about the code in Prestissimo. If so, it would be best to file an issue in prestodb repo: https://github.com/prestodb/presto/issues

Presissimo requires filter pushdown to be enabled because there is no good reason for not enabling it. We would like to eventually make filer pushdown the default and only option for Hive Connector. In the meantime, requiring it redu

[2022-10-24 13:50] mbasmanova commented on #2859
Still need to fix the following:

[2022-10-24 15:53] zuochunwei commented on #2924
I executed setup_macro.sh and it has been completed successfully.

[2022-10-24 15:54] mbasmanova commented on #2788
CC: @jwyles-ahana @majetideepak @aditi-pandit @laithsakka

[2022-10-24 15:58] zuochunwei commented on #2882
it works well, I compiled it successfully on my home MacBook.

for some compile errors report info, I delete the directory of folly manually and caused another compile problem.

[2022-10-24 16:00] kgpai opened #2930 "Support Arm Gravitron Builds on Velox"
Currently Velox doesnt build on Arm Gravitron instances due to not supporting neon 64 on xsimd.

[2022-10-24 16:01] kgpai commented on #2891
Closing issue. Raised #2930

[2022-10-24 16:01] #2891 closed

[2022-10-24 16:54] mbasmanova commented on #2791
In Presto, nan input is treated as zero.

[code]

[2022-10-24 19:34] #2900 closed

[2022-10-24 21:11] kagamiori opened #2938 "Unmatched result of lpad(trim(chr(yow(...))),doy(...),..)"
This can be reproduced by `velox/expression/tests/velox_expression_fuzzer_test  --seed 2048035786` on the commit eb3eb4ec0 in the internal repository, or use the attached expression and vector.

[code]

[2022-10-24 21:21] mbasmanova commented on #2938
CC: @tanjialiang

[2022-10-24 21:29] kagamiori opened #2939 "Fuzzer doesn't support preserving expressions that contain DATE-type literal"
There is a fuzzer-found bug for an expression `lpad(trim(chr(yow("c0"))),doy("1949919-10-11"),"xs)aG^mK\\KoaaJlTLo.2FRh|8-3_pqw>$d4Z,G5")` (https://github.com/facebookincubator/velox/issues/2938). The fuzzer feature `--repro_persist_path` cannot save this expression due to the following error. This can be reproduced by `velox/expression/tests/velox_expression_fuzzer_test  --seed 2048035786 --repro

[2022-10-24 21:30] mbasmanova commented on #2939
CC: @tanjialiang

[2022-10-24 21:50] kagamiori commented on #2938
[unmatch_result_repro.zip](https://github.com/facebookincubator/velox/files/9855586/unmatch_result_repro.zip)

[2022-10-24 21:55] kagamiori commented on #2938
[unmatch_result_repro.zip](https://github.com/facebookincubator/velox/files/9855623/unmatch_result_repro.zip)

[2022-10-24 21:58] majetideepak opened #2941 "Add support for timeouts in S3FileSystem"
We need to add an option to configure the `requestTimeoutMs` and `connectionTimeoutMs`
in AWS C++ SDK client. The current SDK defaults are too small (3 sec, 1 sec) to handle AWS S3 storage.

Presto defaults these to 5 seconds. See `hive.s3.connect-timeout` and `hive.s3.socket-timeout`
https://github.com/prestodb/presto/blob/5adc7c00aec765ecba85a4923cbfa1d791195db9/presto-hive/src/main/java/com/fac

[2022-10-24 22:02] #2788 closed

[2022-10-24 22:59] #2791 closed

[2022-10-25 02:08] #2939 closed

[2022-10-25 03:36] mbasmanova commented on #2938
Looks like simplified path incorrectly evaluates ltrim via all-ASCII fast path, while common path correctly evaluates ltrim via a regular path.

There are a couple issues that may be causing this:

1. isAsciiArgs in velox/expression/SimpleFunctionAdapter.h assumes that the string vector is ASCII if SimpleVector::isAscii returns std::nullopt

[code]

This code needs an 'else' branch:

[code]

or, i

[2022-10-25 03:43] zuochunwei commented on #2924
who knows how to resolve this problem? I check my MacBook and I found that the directory of `/Library/Developer/CommandLineTools/SDKs/MacOSX12.sdk` doesn't exist but the directory of `/Library/Developer/CommandLineTools/SDKs/MacOSX11.1.sdk` existed.

[2022-10-25 03:45] zuochunwei commented on #2924
I Compiled successfully On my home computer but failed on my work computer for the following error tips

[code]

[2022-10-25 04:18] natashaxin opened #2947 "compile error on macos"
On my macbook， there is
/Library/Developer/CommandLineTools/SDKs/MacOSX11.1.sdk，but the directory
/Library/Developer/CommandLineTools/SDKs/MacOSX12.sdk does not exist

[2022-10-25 04:18] natashaxin opened #2948 "compile error"
CMake Error in velox/common/encode/CMakeLists.txt:
  Imported target "Folly::folly" includes non-existent path

    "/Library/Developer/CommandLineTools/SDKs/MacOSX12.sdk/usr/include"

  in its INTERFACE_INCLUDE_DIRECTORIES.  Possible reasons include:

  * The path was deleted, renamed, or moved to another location.

  * An install or uninstall procedure did not complete successfully.

  * The ins

[2022-10-25 08:31] zuochunwei commented on #2948
the directory of `/Library/Developer/CommandLineTools/SDKs/MacOSX12.sdk` does not exist, there is a directory of `/Library/Developer/CommandLineTools/SDKs/MacOSX11.1.sdk`.

why `Folly::folly` includes `/Library/Developer/CommandLineTools/SDKs/MacOSX12.sdk/usr/include`, or how upgrade the MacOSX11.1.sdk to the new version of MacOSX12.sdk

[2022-10-25 08:36] 0120208 commented on #2564
How to build velox on Centos? On the Github website，only two commands."$ ./scripts/setup-ubuntu.sh && $ make". And the script is missing setup-centos.sh.

[2022-10-25 08:58] zuochunwei opened #2950 "the Compile Problem has made me crazy!"
when I executed `scripts/setup-macos.sh`, the output messages showed as follows:
[code]

I checked the directory `/usr/local/lib/` that file `libdouble-conversion.a` was created, and the file `/usr/local/lib/libdouble-conversion.dylib` was not created according to the output messages.

when I typed `make` to create Velox, then the following error messages generated:
[code]

why the `make` command

[2022-10-25 12:46] mbasmanova commented on #2926
@Dream-hu The pushdown works by splitting the filter on top of table scan into conjuncts. Range filters over single columns get pushed down into the DWRF / Parquet reader. You can see the types of filters that get pushed down in velox/type/Filter.h. These filters have both one-row- and multiple-rows-at-time evaluation methods. The multiple-rows-at-a-time evaluation uses SIMD and should take care o

[2022-10-25 12:59] #2947 closed

[2022-10-25 13:00] mbasmanova commented on #2948
CC: @kgpai @raulcd @Yuhta @pedroerp

[2022-10-25 14:24] mbasmanova commented on #2882
Is this a duplicate of #2950? If so, let's close this one and consolidate the discussion in #2950.

[2022-10-25 14:25] mbasmanova commented on #2924
Is this a duplicate of #2950? If so, let's close this one and consolidate the discussion in #2950.

[2022-10-25 19:29] kgpai commented on #2564
On centos please run ./setup-circleci.sh . We should probably rename that setup-centos.sh.

[2022-10-25 20:51] #2844 closed

[2022-10-25 20:57] mbasmanova commented on #2749
Here is a standalone repro:

[code]

The output of the test above:

[code]

[2022-10-25 21:32] mbasmanova commented on #2749
`distinct_from('x','y')` subexpression has a non-default null behavior. In common eval, constant folding replaces `distinct_from('x','y')` with a constant `TRUE` making the whole expression compatible with default null behavior. In simplified eval, there is no constant folding, hence, the expression is considered as non-default null behavior. Common eval, assuming default null behavior detects tha

[2022-10-25 22:25] mbasmanova commented on #2749
Here is a relevant discussion: https://github.com/facebookincubator/velox/discussions/2360

[2022-10-26 00:46] mbasmanova commented on #2794
Reproduced with a modified SQL (the original SQL is not valid):

[code]

[2022-10-26 15:39] weiting-chen commented on #2694
Add more information for 3 queries highlight in the above,
**query5 stage86** detail information listed in below:
SHJ with o_orderkey, l_orderkey|Inner|BuildLeft
LeftTable with
total 45,515,350 rows
Key: o_orderkey in LongType
Payload: c_nationkey in LongType
RightTable with
total 1,200,018,434 rows
Key: l_orderkey in LongType
Payload: l_suppkey in LongType, l_extendedprice in DoubleType, l_discou

[2022-10-26 15:48] assignUser commented on #2783
I have submitted a PR to the folly feedstock to pin it to 8.0.1 https://github.com/conda-forge/folly-feedstock/pull/68

[2022-10-26 15:59] #2749 closed

[2022-10-26 17:32] #2794 closed

[2022-10-26 17:49] kgpai commented on #2795
FYI - This is again a bug in the simple eval thats used in fuzzer.  I am going to add the propogate nulls by @mbasmanova while I dig into this deeper.

[2022-10-26 18:02] kgpai commented on #2795
FYI - Still see the bug with the propogate nulls fix, digging deeper.

[2022-10-26 18:04] pedroerp opened #2967 "Check failed: dynamic_cast<const T*>(this) != nullptr on FlatVector<Unknown>"
Running the fuzzer files in #2789 generates this assertion failure:

[code]

[2022-10-26 18:06] pedroerp commented on #2967
Fixed in https://github.com/facebookincubator/velox/pull/2960

[2022-10-26 18:09] #2938 closed

[2022-10-26 19:21] kagamiori commented on #2967
So the files in #2789 produce a different error? Let me try finding a seed to reproduce #2789 and update the issue.

[2022-10-26 20:13] kagamiori opened #2971 "Simplified path throws "(871 vs. 870) Dictionary index must be less than base vector's size" error"
Simplified path comes across an error `velox/vector/DictionaryVector-inl.h:50, Function:setInternalState, Expression: rawIndices_[i] < dictionaryValues_->size() (871 vs. 870) Dictionary index must be less than base vector's size. Index: 870., Source: RUNTIME, ErrorCode: INVALID_STATE`.

This error can only be reproduced internally right now: In the internal repository, check out `078ffeddc` and ru

[2022-10-26 20:21] kagamiori opened #2972 "Expression runner doesn't reproduce the same errror"
I'm using the `--repro_persist_path` flag of velox_expression_fuzzer_test to save the input data and the evaluated expression on a failure, and trying to reproduce the failure using velox_expression_runner_test. But it didn't reproduce the same error I saw in the fuzzer test. Below is the steps I took.

1. Save the input and expression on the fuzzer test failure: In the internal repository, check

[2022-10-26 20:22] mbasmanova commented on #2972
CC: @tanjialiang

@kagamiori What happens when you run the repro? What is the error message? What's the expected error message?

[2022-10-26 20:30] kagamiori commented on #2972
I added the original fuzzer test error message and the output of expression runner above. I expected expression runner to report two different errors for the common and simplified path, one being "Duplicate map keys (0) are not allowed, Source: USER, ErrorCode: INVALID_ARGUMENT", the other being "(871 vs. 870) Dictionary index must be less than base vector's size. Index: 870., Source: RUNTIME, Err

[2022-10-26 20:55] kagamiori opened #2973 "ASAN error in DecodedVector::copyNulls()"
This error can only be reproduced internally right now because `--repro_persist_path` was not triggered. It can be reproduced by checking out `078ffeddc` in the internal repository and then running `velox/expression/tests/velox_expression_fuzzer_test  --velox_fuzzer_enable_complex_types --velox_fuzzer_max_level_of_nesting 2 --only "array_join,array_except" --seed 3225400466`.

[code]

[2022-10-26 20:59] kagamiori opened #2974 "SIGABRT in DecodedVector::applyDictionaryWrapper()"
This fuzzer test error can only be reproduced internally because `--repro_persist_path` was not triggered by abort. It can be reproduced by checking out `078ffeddc` in the internal repository and then running `velox/expression/tests/velox_expression_fuzzer_test  --velox_fuzzer_enable_complex_types --velox_fuzzer_max_level_of_nesting 2 --only "array_join,array_except" --seed 1666817161`.

[code]

[2022-10-26 21:00] mbasmanova commented on #2790
This problem is caused by Fuzzer generating a map with null keys and passing it to subscript function, which doesn't expect null map keys. The following loop doesn't check for nulls and produces non-deterministic results. Fuzzer also can generate maps with duplicate keys, in which case subscript function will produce non-deterministic results as well.

[code]

CC: @pedroerp

I think proper solutio

[2022-10-26 21:04] kagamiori opened #2975 "SEGV in bits::isBitSet<unsigned long>()"
This error can only be reproduced internally because `--repro_persist_path` doesn't support Timestamp yet.

Check out 078ffeddc and run:

[code]

[code]

[2022-10-26 21:31] kagamiori opened #2977 "in(-1,map_values(null)) only common path throw"
There are two ways to reproduce this error.
1. Download the attached files of the saved input and expression. Then run `velox/expression/tests:velox_expression_runner_test --input_path "/home/weihe/fuzzer_repro/velox_vector_xWVO02" --sql_path "/home/weihe/fuzzer_repro/velox_sql_1KLk7v" --result_path "/home/weihe/fuzzer_repro/velox_vector_yChHFS"` (change the file paths to yours).
2. (internal only

[2022-10-26 21:33] kagamiori commented on #2977
[in_map_values_repro.zip](https://github.com/facebookincubator/velox/files/9873879/in_map_values_repro.zip)

[2022-10-26 21:43] kagamiori commented on #2790
Hi @mbasmanova, Thank you for looking into this bug. Makes sense to me. I think we can close this issue since https://github.com/facebookincubator/velox/issues/2848 tracks the problem of generating maps with unique and non-null keys.

[2022-10-26 21:56] kagamiori commented on #2789
The previously attached files cannot reproduce the exact same error. Below is another similar error. This error can only be reproduced internally due to https://github.com/facebookincubator/velox/issues/2972. To reproduce it, check out `078ffeddc` in the internal repository and then run `buck-out/gen/velox/expression/tests/velox_expression_fuzzer_test  --velox_fuzzer_enable_complex_types --velox_f

[2022-10-26 21:56] kagamiori commented on #2789
This error may be the same as https://github.com/facebookincubator/velox/issues/2971.

[2022-10-26 21:56] pedroerp commented on #2967
They produce this error first, but once this is fixed they produce the intended one.

Closing as this one has been fixed.

[2022-10-26 21:56] #2967 closed

[2022-10-27 00:10] mbasmanova commented on #2977
Here, common path does constant folding turning map_values(null) into a null constant. It then attempts to create an instance of a stateful vector function InPredicate with a constant null second argument. The creation throws. Common path doesn't do constant folding and creates an instance of InPredicate with no constant inputs. The creation succeeds. Common path then evaluates inputs to "in" func

[2022-10-27 00:23] mbasmanova commented on #2974
@kagamiori

I believe there was a way to generate a repro for a crash. CC: @tanjialiang

[2022-10-27 02:00] mbasmanova commented on #2975
Looks like this bug was introduced in #2666

The new function, applyToRows takes optional SelectivityVector and an "arbitrary" vector. If SelectivityVector is null, the function run on all rows in [0, vector->size()). However, vector can be much larger than the set of rows that need to be decoded (DecodedVector::size_).

CC: @laithsakka @Yuhta

[2022-10-27 02:06] mbasmanova commented on #2974
I think this is a duplicate of #2975

[2022-10-27 02:14] mbasmanova commented on #2973
Similar to #2975, but the problem is in "end()" function.

CC: @laithsakka @Yuhta

[2022-10-27 03:56] tanjialiang commented on #2972
Thanks Wei for creating this issue. I'm looking into it.

[2022-10-27 03:59] mbasmanova opened #2982 "DecodedVector.cpp:339:9: runtime error: null pointer passed as argument 2, which is declared to never be null"
Repro:

[code]

[2022-10-27 04:06] tanjialiang commented on #2972
From the original fuzzer execution the plan->toString() printed:
element_at(map(10 elements starting at 570 {[570->696] 1, [571->909] 0, [572->833] 0, [573->451] 1, [574->703] 0, ...},"c0"),and(null,false,false,true))

From the repro the plan->toString() printed:
element_at(map(array_constructor(cast "t" as BOOLEAN,cast "f" as BOOLEAN,cast "f" as BOOLEAN,cast "t" as BOOLEAN,cast "f" as BOOLEAN,cas

[2022-10-27 04:12] mbasmanova commented on #2982
Same root cause as #2975

[2022-10-27 04:19] mbasmanova commented on #2972
@tanjialiang This is a nice finding. I think the problem is that the expression contains constant sub-expression created from a dictionary-encoded array vector. Such constant expression doesn't have SQL representation that preserves the encoding of the constant array.

[2022-10-27 05:45] mbasmanova commented on #2971
This is the same root cause as #2975.

[2022-10-27 05:52] mbasmanova opened #2984 "prestosql/Map.cpp:191, Function:offsetsAligned, Expression: values->size() >= rows.size() (99 vs. 100)"
[code]

[2022-10-27 05:55] mbasmanova commented on #2984
A fix could be to use rows.end() instead of rows.size() in offsetsAligned:

[code]

[2022-10-27 05:56] mbasmanova commented on #2984
CC: @pedroerp

[2022-10-27 06:16] mbasmanova commented on #2795
There is a bug in array_sort.

[code]

should be something like

[code]

[2022-10-27 10:09] JkSelf commented on #2552
@aditi-pandit
 Currently does the Window Operator only support the default window frame not specified frame in [here](https://github.com/facebookincubator/velox/blob/71df8f40d55fd8608a8d714d3fd2bc0271ab3845/velox/exec/Window.cpp#L44)?

[2022-10-27 14:14] #2975 closed, assigned to mbasmanova

[2022-10-27 14:14] #2974 closed

[2022-10-27 14:14] #2971 closed

[2022-10-27 15:08] pedroerp commented on #2789
Fixed in https://github.com/facebookincubator/velox/issues/2789

[2022-10-27 15:08] #2789 closed

[2022-10-27 15:09] laithsakka commented on #2790
This one should have been solved by @pedroerp  update.

[2022-10-27 15:09] pedroerp commented on #2984
I was just looking at this codebase yesterday. I can take this one.

[2022-10-27 17:01] aditi-pandit commented on #2552
Current window support is only for default frame. We have some PRs in flight for the other frames. Do you have a priority of which frames you want sooner ?

[2022-10-27 17:08] markjin1990 opened #2987 "TPCH performance regression possibly caused by the hash join disk spilling feature"
@xiaoxmeng @mbasmanova We noticed in our ByteDance production environment that this PR https://github.com/facebookincubator/velox/pull/2573 might have caused significant performance regression on TPCH (SF1000) performance benchmarks while spilling is certainly disabled on our deployment. With this commit, Q8 takes >3mins, but if we revert this commit, Q8 takes around 1.5mins. Similar performance r

[2022-10-27 19:01] tanjialiang opened #2990 "Enable CircleCI automation for Fuzzer persistence upon failure"
We should leverage the recently implemented fuzzer persistence feature in our CircleCI runs so that whenever a fuzzer run fails we dump the repro info to artifacts for developers to fetch in order to debug.

[2022-10-27 19:03] tanjialiang opened #2991 "Add features to allow Fuzzer to persist repro info upon a crash failure"
Currently we only support Fuzzer failure persistence upon result/exception matching failure. We should also support such feature upon crash.

[2022-10-27 20:02] karteekmurthys opened #2992 "Linux benchmark compilation error DWRF Protobuf"
https://app.circleci.com/pipelines/github/facebookincubator/velox/15501/workflows/4694373c-4ce1-4f60-9d78-55ec0802e091/jobs/94786
[code]

[2022-10-27 22:18] mbasmanova commented on #2990
CC: @kagamiori

[2022-10-27 22:18] mbasmanova commented on #2991
CC: @kagamiori

[2022-10-27 22:32] tanjialiang opened #2993 "add appendSqlLiteral support for TIMESTAMP for dumping TIMESTAMP"
This support is needed for fuzzer to persist expressions upon failure when there is a TIMESTAMP type in the expression.

[2022-10-27 22:35] mbasmanova commented on #2993
Here is an example of adding support for DATE type: #2940 and #2949

CC: @kagamiori

[2022-10-27 22:41] save-buffer opened #2994 "Compiler error: writing 1 byte into a region of size 0"
Hi, I'm trying to compile Velox now on Linux with GCC 10.2.1 and I'm getting a ton of the following error:

[code]

Has anyone seen anything like this? Is this some static analysis with a new GCC maybe?

Thanks!

[2022-10-27 22:42] mbasmanova commented on #2994
CC: @raulcd @majetideepak @kgpai @Yuhta @laithsakka

[2022-10-27 22:42] mbasmanova commented on #2994
CC: @yingsu00

[2022-10-27 22:43] mbasmanova commented on #2992
CC: @raulcd @kgpai @kevinwilfong @pedroerp

[2022-10-27 23:03] majetideepak commented on #2994
@save-buffer This error seems to be coming directly from DuckDB code. Are you able to build DuckDB using GCC 10.2.1 https://github.com/duckdb/duckdb?

[2022-10-27 23:14] save-buffer commented on #2994
Hi @majetideepak I was able to compile duckdb itself with GCC 10.2.1. I did make sure to enable the Parquet extension like so:

[code]
I guess it's some sort of issue with the amalgamation then. The relevant line of code seems to be in duckdb's `extension/parquet/include/parquet_decimal_utils.hpp`.

[2022-10-28 00:28] majetideepak commented on #2994
@save-buffer Likely an issue with the amalgamation. You should be able to add `-Wno-stringop-overflow` to the `CMAKE_CXX_FLAGS` for now.

[2022-10-28 00:57] JkSelf commented on #2552
Thank you very much for your prompt reply. The specficed WindowType in Spark `RowNumber` function is `ROWS` not `RANGE`. So I need the following frame for my test.
[code]

[2022-10-28 01:57] #2793 closed

[2022-10-28 02:31] pedroerp commented on #2992
@karteekmurthys this should have been recently fixed by @kevinwilfong 's PR: https://github.com/facebookincubator/velox/pull/2979

Could you check if that works now?

[2022-10-28 03:07] xiaoxmeng commented on #2987
@markjin1990: can you try https://github.com/facebookincubator/velox/pull/2996 to see if the regression is caused by this. The parallel build is accidentally reverted. Also, I think the change pointed above is actually a good one? Thanks!

[2022-10-28 04:53] pedroerp opened #2998 "Infinite loop on split() function"
This fuzzer executing hangs on in an infinite loop:

[code]

[2022-10-28 05:55] kgpai commented on #2950
Hi @zuochunwei ,

Typically building , installing double conversion should produce an archive file and not a dylib (Since the install shows .a, I think this checks out).  However it seems that here velox is trying to link against a double-conversion dylib, that means it was probably installed via other means or CMake is finding a shared lib double conversion. One way to verify this is by adding `s

[2022-10-28 05:56] kgpai commented on #2948
Hi @natashaxin , Can you post the full cmake output so we can better debug ? Thanks.

[2022-10-28 07:49] mbasmanova commented on #2859
#3001 adds a check for duplicate map keys

[2022-10-28 15:58] mbasmanova commented on #2790
Closing per comments.

[2022-10-28 15:58] #2790 closed

[2022-10-28 15:58] mbasmanova commented on #2977
@oerling Orri offered to help with this one.

[2022-10-28 17:32] kevinwilfong commented on #2596
In case it helps, I ran into the same issue and discovered I had an older version of protobuf in my /usr/local/lib that was getting picked up

Removing all the protobuf libraries from there and allowing Velox to build it again from source resolved it.

Of course, I'm hoping https://github.com/facebookincubator/velox/pull/2979 fixes the build so it picks a consistent version of Protobuf.

[2022-10-28 17:38] pedroerp commented on #2998
Fixed on #3004

[2022-10-28 17:38] #2998 closed

[2022-10-28 17:44] markjin1990 commented on #2987
It works. Thanks! Also this this intended or it is also a mistake?
![image](https://user-images.githubusercontent.com/1387708/198699609-e0d4985c-0bec-4635-86a3-f12c2d9784a4.png)

[2022-10-28 18:49] pedroerp opened #3007 "SubscriptImpl: heap-overflow while accessing decoded vector"
buck run velox/expression/tests:velox_expression_fuzzer_test -- --velox_fuzzer_enable_complex_types   --velox_fuzzer_max_level_of_nesting 2 --only "element_at,map" --seed 2929397762 --duration_sec 60

[code]

[2022-10-28 18:59] aditi-pandit commented on #2552
Thanks. There is a PR around for that. I'll prioritize check-in.

[2022-10-28 19:55] save-buffer commented on #2994
@majetideepak That seems to have fixed it. Googling around it seems like this error is frequently a false positive (as here: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=99578), and I've seen a few other projects disable it. Would it be useful to make a PR to disable the flag in `velox/external/duckdb/CMakeLists.txt` if using GCC?

[2022-10-28 20:58] majetideepak commented on #2994
@save-buffer Do open a PR to disable the warning with a note briefly describing the false positive nature of this flag.

[2022-10-28 22:01] uhyonc opened #3009 "Output buffers for task not found in TPCDS - Q54"
Hi,

I'm trying to track down the issue for the following error (in presto-native) while running Q54 (It also seems to happen for Q75 as well). It doesn't happen all the time, but quite frequently (can be reproed after a few tries)
`Exceptions.h:68] Line: ../../velox/velox/exec/PartitionedOutputBufferManager.cpp:481, Function:operator(), Expression: it != buffers.end() Output buffers for task not

[2022-10-28 23:04] uhyonc commented on #3009
FYI, I've tried removing the check, returning nullptr and adding a check on the caller side.
Doing removes the query errors. Would this be a safe thing to do?

[2022-10-28 23:36] mbasmanova commented on #3009
One reason this may happen if the downstream task has failed or finished processing early (LIMIT N). Can you check whether this is happening? BTW, would you attache the distributed query plan, the output of EXPLAIN (TYPE DISTRIBUTED) <query>?

[2022-10-28 23:56] mbasmanova commented on #3009
It sounds like a race condition between upstream task enqueueing data via PartitionedOutputBufferManager::enqueue and downstream task or coordinator aborting the task via PartitionedOutputBufferManager::deleteResults.

We need to figure out how to handle this scenario.

There is logic in PartitionedOutputBuffer::enqueue to handle the case where one of the destinations called abort.

[code]

We nee

[2022-10-29 00:21] uhyonc commented on #3009
Hi, I'll see if I can start by adding a test case that will reproduce this issue in MultiFragmentTest.cpp.

[2022-10-29 00:36] uhyonc commented on #3009
[TPCDS_Q54_Explain.txt](https://github.com/facebookincubator/velox/files/9892526/TPCDS_Q54_Explain.txt)

[2022-10-29 00:54] markjin1990 commented on #3009
It's because the parent stage finishes early due to Limit N as @mbasmanova mentioned.

[2022-10-29 00:58] mbasmanova commented on #3009
CC: @spershin

[2022-10-29 03:46] mbasmanova opened #3017 "VectorFuzzer::randVariant throws not a scalar type! kind: UNKNOWN"
[code]

[2022-10-29 20:25] #2834 closed

[2022-10-30 03:52] unconsolable opened #3019 "Compile debug build on ubuntu 22.04 docker containter failed"
commit: 02607c7fdf80ecc8baf3713d8fe3e2f98e16d14f

I set up a ubuntu 22.04 container, execute `scripts/setup-ubuntu.sh`, then run `make debug`. But I see some warnings and finally it failed on building `protobuf`

[code]

[2022-10-30 07:40] unconsolable commented on #3019
I found the related issue in `protobuf` https://github.com/protocolbuffers/protobuf/issues/9758 and corresponding PR https://github.com/protocolbuffers/protobuf/pull/10188, but seems it is not included in release versions yet.

[2022-10-30 08:34] unconsolable commented on #3019
I found the related issue in `protobuf` https://github.com/protocolbuffers/protobuf/issues/9758 and corresponding PR https://github.com/protocolbuffers/protobuf/pull/10188, but seems it is not included in release versions yet.

I found the fix here https://github.com/facebookincubator/velox/pull/2976, however it seems that gcc compiler on Ubuntu 20.04 and 22.04 does not support this flag.

[2022-10-30 14:35] unconsolable commented on #3019
Using `clang` will enable codegen by default, but it will encounter another issue:
[code]

Is making `VELOX_CODEGEN_SUPPORT` as an option and disable it by default feasible?

[2022-10-31 02:43] #2821 closed

[2022-10-31 11:15] mbasmanova commented on #3019
CC: @kevinwilfong @pedroerp @kgpai @raulcd

[2022-10-31 15:58] pedroerp commented on #2984
Fixed in #2997

[2022-10-31 15:58] #2984 closed

[2022-10-31 16:12] unconsolable commented on #3019
I tried on using `clang` for compile, but I found following errors.
* Unless manually turn off `VELOX_CODEGEN_SUPPORT`, following line will cause configure failure. (Not quite familiar with CMake, so not sure whether there are other ways to resolve this issue)
https://github.com/facebookincubator/velox/blob/f62d51220fcc237497eb7738bb2bc19c2ad6e54b/velox/experimental/codegen/code_generator/CMakeLis

[2022-10-31 16:49] pedroerp commented on #3007
This doesn't seem to reproduce anymore. Probably related to #2848

[2022-10-31 16:49] #3007 closed

[2022-10-31 16:49] pedroerp commented on #2848
Fixed in https://github.com/facebookincubator/velox/pull/3010

[2022-10-31 16:49] #2848 closed

[2022-10-31 17:01] uhyonc commented on #3009
Hi, I've update the [PR#3014] to include a simple fix I mentioned before (for comparison purposes).
I'll try out @mbasmanova idea of not removing the task's buffer in deleteResults(), and letting it get removed in removeTask()   and get back to you.

[2022-10-31 19:04] kagamiori commented on #2795
Close this issue since it was fixed by #3002 .

[2022-10-31 19:04] #2795 closed

[2022-10-31 21:40] mbasmanova commented on #2972
One option to address this is this.

1. Introduce an internal function __complex_constant(varchar).
2. Modify ConstantExpr::toSql to emit "__complex_constant('__cc<N>'))" if constant is a value of complex type represented by a non-flat vector + record a mapping from __cc<N> to the constant vector in some context.
3. Combine all __cc<N> vectors into a single RowVector and serialize it into a file n

[2022-11-01 00:20] uhyonc commented on #3009
I've added a fix [PR#3035], a one liner which fixes this issue, including a unit test. Please take a look. @mbasmanova

I've tested it against Q54 as well as most other TPCDS queries (that currently work with Prestissimo) without issues.

[2022-11-01 00:21] kagamiori opened #3038 "Signed integer overflow in Timestamp.h:52"
[code]

[2022-11-01 01:00] mbasmanova commented on #3017
Fixed by #3028

[2022-11-01 01:00] #3017 closed

[2022-11-01 01:10] mbasmanova opened #3040 "Only common path threw exception: isIndexInRange(idx) in array_sort"
[code]

Repro files:

[array_sort.tar.gz](https://github.com/facebookincubator/velox/files/9905903/array_sort.tar.gz)

[2022-11-01 01:24] mbasmanova opened #3041 "Only simplified path threw exception: IN predicate supports only constant IN list"
[code]

Repro files:

[in.tar.gz](https://github.com/facebookincubator/velox/files/9905947/in.tar.gz)

[2022-11-01 01:30] mbasmanova opened #3042 "AddressSanitizer: heap-buffer-overflow in MapConcat.cpp:52"
Repro files:

[map_concat.tar.gz](https://github.com/facebookincubator/velox/files/9905993/map_concat.tar.gz)

[code]

[2022-11-01 01:40] mbasmanova opened #3043 "AddressSanitizer: heap-buffer-overflow in ArrayVector::ensureWritable"
Repro files:

[ensure-writable.tar.gz](https://github.com/facebookincubator/velox/files/9906042/ensure-writable.tar.gz)

[code]

[2022-11-01 01:47] mbasmanova opened #3044 "Only common path threw exception: Bin value cannot be null in width_bucket"
[code]

Repro files:

[width-bucket.tar.gz](https://github.com/facebookincubator/velox/files/9906054/width-bucket.tar.gz)

[2022-11-01 01:52] mbasmanova opened #3045 "Different results: array_position(array_intersect(map_values"
This is probably due to the order of elements in the array returned by array_intersect is not deterministic. The order may be different if inputs are flat vs. constant.

Repro files:

[array-intersect.tar.gz](https://github.com/facebookincubator/velox/files/9906088/array-intersect.tar.gz)

[code]

[2022-11-01 01:56] mbasmanova opened #3046 "Map keys cannot be null when opt.normalizeMapKeys is true"
[code]

CC: @pedroerp

[2022-11-01 03:10] mbasmanova commented on #3043
Simple repro:

[code]

[2022-11-01 03:20] mbasmanova commented on #3043
Repro using map_keys or map_values functions:

[code]

Workaround / fix:

[code]

[2022-11-01 03:37] tanjialiang commented on #2669
The feature has been added.

[2022-11-01 03:37] #2669 closed

[2022-11-01 03:46] mbasmanova commented on #3043
I think ArrayVector and MapVector need to check that offsets and sizes buffers are at least BaseVector::length_ * sizeof(vector_size_t) bytes long. Then, map_keys and map_values functions should create vectors of size rows.end() not rows.size().

[2022-11-01 06:36] zhouyuan opened #3047 "Velox HDFS connector dependencies not statically linked"
Hi Velox developers,

Trying to enable the HDFS connectors in Gluten, I followed the scripts in setup_adapters.sh and installed libhdfs3 manually.
https://github.com/facebookincubator/velox/blob/main/scripts/setup-adapters.sh#L34-L47
and then enable HDFS with `-DVELOX_ENABLE_HDFS`

The compile is fine but there are still several missing symbols in hdfs connector lib

[code]
Thus Gluten will still

[2022-11-01 10:52] mbasmanova commented on #3047
CC: @majetideepak

[2022-11-01 10:52] mbasmanova commented on #3047
CC: @kgpai

[2022-11-01 15:32] mbasmanova commented on #2977
Part of the fix: #2977

[2022-11-01 17:18] #2727 closed

[2022-11-01 17:22] laithsakka commented on #3045
@mbasmanova  so do we  have to make it deterministic?

[2022-11-01 17:31] mbasmanova commented on #3045
@laithsakka That's a good question. It would be great if we can make array_intersect deterministic without a performance hit. This would allow us to use Fuzzer for testing. If that's not possible or performance hit is too big, we have 2 options: (1) exclude this function from testing or (2) enhance the Fuzzer to allow for different order of elements when comparing arrays.

[2022-11-01 17:37] #2993 closed

[2022-11-01 18:26] laithsakka commented on #3046
I am looking at this

[2022-11-01 18:58] uhyonc opened #3057 "std::bad_alloc while running TPC-DS Q4"
Hi all,

We've been getting std::bad_alloc exceptions in TPC-DS Q4. The actual exception usually seems to happen in the JOIN stage between customer and catalog_sales (randomly stages 22, 30, 39), but not always.

The symptoms are that we see a high number of TaskManager::getResults calls... example:
[code]
Followed by allocation backoffs. In one, example I saw 94 of the backoff log entries
[code]

[2022-11-01 19:01] mbasmanova commented on #3057
CC: @xiaoxmeng

[2022-11-01 19:01] mbasmanova commented on #3057
CC: @oerling @tanjialiang

[2022-11-01 19:05] laithsakka commented on #3046
any link to the hash commit id

[2022-11-01 19:42] laithsakka commented on #3046
what was the commit id, or link to the failure? I am running this with the seed above but not caught issue

[2022-11-01 20:23] laithsakka commented on #3046
start with :
buck run //velox/expression/tests:velox_expression_fuzzer_test -- --velox_fuzzer_enable_complex_types
keep adding functions to blacklist until repro happen

[2022-11-01 20:27] gosharz commented on #2849
Hey folks, won't have bandwidth to tackle this one: unassigning for now.

[2022-11-01 20:30] oerling commented on #3057
If you have a concurrent high demand for pages for buffering IO and making a hash table of 1.2GB, it can be that the 1.2GB gets evicted and then before the allocation is actually completed somebody else allocates just enough memory that there's  just a little less than the evicted size available when we get to the alocation itself.

So, whatever gets evicted on behalf of an allocation should be he

[2022-11-01 20:33] laithsakka commented on #3046
to repor :
run  buck run //velox/expression/tests:velox_expression_fuzzer_test -- --seed=0 --steps=4000 --velox_fuzzer_enable_complex_types --seed=434987544

after updating skip list to include:
[code]

[2022-11-01 20:51] kagamiori commented on #2977
I had a PR for the second part back in August: https://github.com/facebookincubator/velox/pull/2007. It was blocked by fuzzer test failures that have the same root cause as https://github.com/facebookincubator/velox/issues/2749 which has been fixed by https://github.com/facebookincubator/velox/pull/2961 recently.

[2022-11-01 21:58] kagamiori commented on #2977
OK, the PR #2007 is blocked by another fuzzer test failure again. The failure can be reproduced via the following command.
[code]

[2022-11-01 22:22] kagamiori opened #3060 "Only simplified path throw INVALID_ARGUMENT error"
This can be reproduced internally by `velox/expression/tests/velox_expression_fuzzer_test --only "date_format,from_unixtime,replace,chr,substr,regexp_replace,regexp_extract,split_part,url_extract_path,lpad,strrpos,strpos,bitwise_and,truncate,rpad,to_base64,sha512" --seed 2869762080`

Or download the attached files and run `velox/expression/tests:velox_expression_runner_test --input_path /home/weih

[2022-11-01 22:40] kagamiori commented on #3060
[only_simplified_throw_repro.zip](https://github.com/facebookincubator/velox/files/9914399/only_simplified_throw_repro.zip)

[2022-11-02 00:43] uhyonc commented on #3057
After trying some things out, here is what I've found.
1) In this query (for the join stage mentioned), the big fact table (catalog_sales) is getting hashed, thus requiring a lot of memory to hold this. (this is because our tables currently don't have stats, so CBO isn't working well...)
2) If I disable the Buffered Input Cache, then we quickly get "INSUFFICIENT RESOURCES" (VeloxRuntimeError:  Exc

[2022-11-02 08:44] yyang52 opened #3065 "Hive predicate pushdown disabled is not supported"
Some cloud object storages (such as Ali OSS) may not support predicate pushdown mechanism, while there is no flag to toggle this option on and off in velox, which will cause the query fail due to `Table scan with filter pushdown disabled is not supported`.

Here are the error message and related code for your reference:

![image2022-10-31_11-14-44](https://user-images.githubusercontent.com/8220825

[2022-11-02 09:01] mbasmanova commented on #3065
@yyang52 Hi, thank you for reporting an issue. It is more convenient to work with text, than images. Any chance you could replace images with text?

Curious, what is "Ali OSS"? The pushdown logic is implemented inside HiveConnector. Are you using some other connector?

[2022-11-02 09:11] george-gu-2021 commented on #3065
@mbasmanova , Ali OSS is Alibaba Object Storage Service, and here is the service link: https://www.alibabacloud.com/product/object-storage-service

[2022-11-02 09:46] mbasmanova commented on #3065
@george-gu-2021 Then, you should be able to enable filter pushdown. Can you try that?

[2022-11-02 14:28] oerling commented on #3057
Firstly, Prestoo is known not to do many of the optimizer tricks DS requires. But even so, it should know better than to build on th fact table.

Secondly, running from cache is necessary for any benchmarks. So, we must stop other activity if there is a large allocation that does not make progress while having concurrent small ones.

When you set the query limit to 70G and run with cache, what hap

[2022-11-02 15:35] pedroerp commented on #3065
My understanding is that the pushdown enabled flag you refer to means that predicates will be pushed to the Table Scan node, not to the remote storage system (we don't really support that yet AFAIK). So in your case it should be ok to keep that flag enabled - even if your remote object store doesn't support predicate pushdown.

[2022-11-02 18:31] uhyonc commented on #3057
So some more findings (after changing various configs)
## node.memory_gb=80
In Prestissimo, AsyncDataCache is being used for mappedMemory_. Also the value set on the size of this memory is by default 40GB. When I increase this by "node.memory_gb=80", then even with caching on, we get
`VeloxRuntimeError:  Exceeded memory cap of 40.00GB when requesting 4.00MB`

## node.memory_gb=80, query.max-memory

[2022-11-02 18:33] kagamiori opened #3072 "Constant-fold function calls with constant null arguments"
Function calls with some of parameters being null and using functions with default null behavior can be optimized away and replaced with a null. We need to enhance constant folding logic in ExpressionCompiler to do that.

E.g., `f(a, null, b)` can be replaced with `null` if `f` has default null behavior .

[2022-11-02 18:35] kagamiori commented on #3072
Currently blocked by https://github.com/facebookincubator/velox/issues/3060.

[2022-11-02 19:09] laithsakka commented on #3046
fix diff is up

[2022-11-02 19:29] laithsakka commented on #2730
@mbasmanova  this is done right?

[2022-11-02 19:29] laithsakka commented on #2725
@kagamiori this is done right?

[2022-11-02 19:30] laithsakka commented on #2725
@kagamiori  this is done right?

[2022-11-02 19:37] laithsakka commented on #2733
@bikramSingh91 you did this right?

[2022-11-02 19:43] oerling commented on #3057
Do the consecutive runs with cache actually hit? For example, is affinity on? (session property). If you have total memory set to 40 and query max to 80 then you will error out in the manner that you have seen. You could put a consistency check at startup to declra that query max is not over 90% of the max memory, i.e. capacity for AsyncDataCache.

Run the presto CLI with –debug . See where the da

[2022-11-02 19:48] bikramSingh91 commented on #2733
Fixed in #2769

[2022-11-02 19:48] #2733 closed

[2022-11-02 20:02] mbasmanova commented on #2730
Added in #3070

[2022-11-02 20:02] #2730 closed

[2022-11-02 20:26] uhyonc commented on #3057
Ah, good question. I'll try out some of your suggestions here to get some more info.

Kubernetes on Debian linux. Data is from HDFS.

[2022-11-02 21:47] mbasmanova commented on #2877
@XuPingyong I added support for semi join project in #3068. Would you try it out and let us know how it goes?

[2022-11-03 02:36] taiyang-li commented on #2846
I compared the performance of native parquet reader/duckdb parquet reader/arrow parquet reader reading single parquet file.
[code]

The code
[code]

[2022-11-03 04:04] xiaoxmeng commented on #2987
I think that change is good. Thanks for the quick verification @markjin1990

[2022-11-03 04:04] #2987 closed

[2022-11-03 05:05] kgpai commented on #3047
@zhouyuan I havent used libhdfs3 - is it very hard to modify our hawq/hdfs build to create an archive file (.a) and then just statically link against it ?
We would welcome any  help to contribute a fix for this and allow for static linking.

[2022-11-03 05:08] kgpai commented on #3019
Hi @unconsolable we use clang on mac and meta's internal systems so clang is well supported. VELOX_CODEGEN_SUPPORT can be safely turned off (We should probably deprecate it).
Secondly please pull from main, I think we ought to have resolved most of the proto issues.
Let us know if you are still running into any problems.

[2022-11-03 05:09] kgpai commented on #2994
Closing issue due to fix.

[2022-11-03 05:09] #2994 closed

[2022-11-03 05:22] aditi-pandit commented on #2820
https://github.com/facebookincubator/velox/pull/2919 is submit today for supporting aggregates as window functions.

Please let me know if that works on your side.

[2022-11-03 07:38] unconsolable commented on #3019
I used latest commit in main 065d19973942ba753eae6968a6ff17b6e0ac0030, switched to clang-14 in ubuntu 22.04, disabled `VELOX_CODEGEN_SUPPORT`, but meet following errors:
[code]

[2022-11-03 09:02] Guhaiyan opened #3084 "Got type INTEGER for field `hd_buy_potential` at position 2, but expected VARCHAR"
I encountered error below when running TPC-DC q73 with duckdb parquet reader and HiveConnector in Debug Version(checks producing the error is only done in Debug,  different error will show in Release)。

`failed: child->type()->kindEquals(type->childAt(i)) Got type INTEGER for field `hd_buy_potential` at position 2, but expected VARCHAR.Split [file hdfs://localhost:9000/user/hive/warehouse/tpcds.db

[2022-11-03 11:40] mbasmanova commented on #3084
@Guhaiyan Thank you for reporting this issue. Can you write a test case that reproduces this problem?

CC: @yingsu00 @oerling @Yuhta

[2022-11-03 12:08] mbasmanova commented on #3084
@Guhaiyan Would you attach full stack trace?

[2022-11-03 14:02] #3042 closed

[2022-11-03 14:09] Guhaiyan commented on #3084
The query to reproduce this problem is quite simple。
steps:
[code]
I am not sure whether it is easy to reproduce it using PlanBuilder,  because PlanBuilder.tableScan() requires subfieldFileters be one of outputType, which is more like select c3, c2 from tt where c2, even though you can project c3 only by PlanBuilder.tableScan().project()。

[2022-11-03 14:23] oerling commented on #3084
How does this work with the native Parquet reader? Is there a particular reason you are running the DuckDB one? If so, we should fix the native one first. We are likely to stop maintaining the DuckDB reader.

[2022-11-03 15:16] majetideepak commented on #3047
CC: @artem.malyshev, @frankobe

[2022-11-03 15:31] raulcd commented on #3019
Hi,
Are you using the provided `Dockerfile` or have you created your own?
Our `docker-compose` setup (https://github.com/facebookincubator/velox#building-velox-with-docker-compose) uses the `setup-ubuntu.sh` script and the provided `Dockerfile` (https://github.com/facebookincubator/velox/blob/main/scripts/ubuntu-22.04-cpp.dockerfile) on `Ubuntu 22.04` and I was able to build locally with the lates

[2022-11-03 15:38] Yuhta commented on #3084
@Guhaiyan Do you mean changing the `ScanSpec`s to the order `[output columns, remainingFilter, filters(not duplicated)]`?  Can you summarize this logic in the description of PR and put some test?

[2022-11-03 15:45] unconsolable commented on #3019
Hi, @raulcd
- I just pull down the ubuntu:latest from docker hub, then execute `scripts/setup-ubuntu.sh`, then `make debug`
- The `docker-compose` will compile release build, it is successful. I'm trying to compile a debug build here.
Thanks.

[2022-11-03 15:45] unconsolable commented on #3019
Hi, @raulcd
- I just pull down the ubuntu:latest from docker hub, then execute `scripts/setup-ubuntu.sh`, then `make debug`
- The `docker-compose` will compile release build, it is successful for me. I'm trying to compile a debug build here.
Thanks.

[2022-11-03 15:59] gosharz commented on #2887
From https://en.wikipedia.org/wiki/Floating-point_arithmetic:

Type | Sign | Exponent | Significand field | Total bits |   | Exponent bias | Bits precision | Number of decimal digits
-- | -- | -- | -- | -- | -- | -- | -- | --
Half (IEEE 754-2008) | 1 | 5 | 10 | 16 |   | 15 | 11 | ~3.3
Single | 1 | 8 | 23 | 32 |   | 127 | 24 | ~7.2
Double | 1 | 11 | 52 | 64 |   | 1023 | 53 | ~15.9
x86 extended prec

[2022-11-03 20:25] paul-amonson opened #3088 "Unclear --help on "velox_s3read_benchmark"; need help running benchmark on S3 connector"
After building with:

make -E "EXTRA_CMAKE_FLAGS := -DVELOX_ENABLE_S3=ON" release

A executable called "velox_s3read_benchmark" is created in the _build/release/velox/connectors/hive/storage_adapters/s3fs/benchmark

I would like to use this to do some S3 file read benchmarks but the --help only leads to the following output with no real text on usage. Short term I need to know how to use this tool

[2022-11-03 20:26] mbasmanova commented on #3088
CC: @majetideepak

[2022-11-03 20:37] uhyonc commented on #3009
Also, I've found that this fix also fixes the occasional hanging issue we saw in some TPC-DS queries (Q8, Q32, Q71, Q78).
Here is the reason for that.

The hanging occurs because when Task::removeDriver() is called, Task::terminate() isn't called to mark the task as being finished (even though it's actually finished)

* Task::terminate() doesn't get called is because allFinished is false.
* allFin

[2022-11-03 21:11] bikramSingh91 opened #3089 "Investigate wherever we rely on buffer->capacity and ignore buffer->size"
There can be parts in the code where we only ensure that the buffer we want to access or write to has enough capacity but ignore the size(), this can result in discrepancies where some logic relies on size (eg. initializing values when size increases but capacity does not) and some which relies on capacity (code in the reader writes directly into the buffer and only makes sure that there is enough

[2022-11-03 23:55] uhyonc opened #3092 "TPC-DS queries (Q8, Q32, Q71, Q78) occasionally hanging"
We've been noticing some TPC-DS queries are occasionally hanging. The hanging seems to happening in the table scan stage of bigger fact tables.
In the explain plan I attached for Q71, it happens in Stage 10 or Stage 13.

Here is an example of the log from one of the workers for Stage 10 (I added some additional logs...)

Here are two log entries from an abnormal (hanging) query...
[code]
For this

[2022-11-04 00:03] mbasmanova commented on #3092
@uhyonc Thank you for detailed description of the problem.

This solution might work. Would you like to give it a try?

CC: @spershin

[2022-11-04 01:28] zhouyuan commented on #3047
@kgpai
Thanks for the hints, currently libhdfs3 depends on these packages mainly in my testing env:
[code]
on ubuntu system these packages do provide some static libs, however these libs are not compiled with "-fPIC" thus it's not working for Velox use case.
I have tried to rebuild those packages locally with -fPIC but ran into more similar issues with the the packages' dependencies :sweat:
so wan

[2022-11-04 03:42] XuPingyong commented on #2877
Thanks very much. LGTM.
But the error "Unsupported Filter over SemiJoin" still exists in prestodb/presto native-engine.

[2022-11-04 04:09] kagamiori commented on #3041
The evaluated expression is `in(-40, reverse(ARRAY [...]))`. The common evaluation path constant-folds the second sub-expression such that when `in` is evaluated, InPredicate::create() sees the second argument being a constant. On the other hand, the simplified evaluation path does not do constant-folding, so InPredicate::create() sees the second argument being an expression. But it requires the s

[2022-11-04 07:21] Guhaiyan commented on #3084
I run the same test case with native one, fortunately it works.
In this test case, the main difference between duckdb and native is that native does no care about spec->projectOut() flag but duckdb does.  Duckdb choose projected-out spec to build VeloxVector using duckdb::toVeloxVector.

[code]

Is there a particular reason you are running the DuckDB one? If so, we should fix the native one first.

[2022-11-04 07:24] #3084 closed

[2022-11-04 08:55] rui-mo opened #3096 "What happens after max distinct is reached in vector hasher"
Hi,
We are debugging one incorrect result issue in hash aggregation, and found if we increase max distinct like below, the result became correct.

![Screenshot from 2022-11-04 08-42-09](https://user-images.githubusercontent.com/41687378/199931003-95ba5405-a365-4374-af35-3b0c0904ed8b.png)

I see `distinctOverflow_` will be set true if this value is reached, but do not know what is expected to happe

[2022-11-04 08:56] rui-mo commented on #3096
cc @FelixYBW

[2022-11-04 11:29] mbasmanova commented on #2877
@XuPingyong That's right. I didn't update the plan translation in Prestissimo yet to use the kSemiJoinProject join type. Let me send out a PR with these changes.

[2022-11-04 12:26] mbasmanova commented on #3096
@rui-mo Rui, would you provide a small test case that illustrates the problem?

[2022-11-04 12:28] mbasmanova commented on #3096
The following assumption may no longer hold after the change you made.

[code]

[2022-11-04 13:25] mbasmanova commented on #3088
@paul-amonson Try --helpmatch (see Special Flags section in https://gflags.github.io/gflags/)

[code]

[2022-11-04 16:30] mbasmanova opened #3099 "Crash in approx_percentile"
To reproduce, run single aggregation `approx_percentile(c0, c1, c2)` on the attached vector.

[approx_pct.tar.gz](https://github.com/facebookincubator/velox/files/9940333/approx_pct.tar.gz)

[2022-11-04 16:41] mbasmanova opened #3101 "Crash in approx_most_frequent"
Reproduce by running single aggregation `approx_most_frequent(c0, c1, c2)` over attached vector.

[approx_most_fr.tar.gz](https://github.com/facebookincubator/velox/files/9940420/approx_most_fr.tar.gz)

[2022-11-04 17:20] Yuhta commented on #3099
The 'arrays->elements()' below is a dictionary encoded vector, hence, a cast to flat vector returns nullptr.

[code]

[2022-11-04 17:33] Yuhta commented on #3099
This is generated by parsing from a constant expression.  I will double check where all these constant exprs coming from and how they get parsed.  If it’s all generated in our code we can exclude some encoding combination for these arguments in fuzzer.  Otherwise I will just harden the function implementation.

[2022-11-04 19:16] mbasmanova opened #3103 "UndefinedBehaviorSanitizer: signed-integer-overflow aggregates/AverageAggregate.cpp:138:63"
To reproduce, run avg(c0) single aggregation over attached vector:

[avg.tar.gz](https://github.com/facebookincubator/velox/files/9941377/avg.tar.gz)

[code]

[2022-11-04 23:30] bikramSingh91 commented on #3089
Preliminary thought: I think we should treat Buffer similar to how we use vectors, where the capacity is mostly used internally for resizing decisions and externally we only rely on size().

[2022-11-05 01:33] Yuhta commented on #3089
I would suggest we switch to use `capacity` instead, because in most of the cases the size information is already defined in vector, keeping duplicate information like this would just create chance for inconsistency.  The only main purpose of size on buffer is to initialize and destroy non-POD elements.

[2022-11-05 02:42] unconsolable commented on #3019
IMHO, for this part of `build_protobuf`, if the compiler does not support `-Winvalid-noreturn`, simply suppress all warning by `-Wno-error`
https://github.com/facebookincubator/velox/blob/22bed48d4d1879241c9da074dc967b01424e4627/ThirdpartyToolchain.cmake#L126-L130

In other words, change it to
[code]

[2022-11-05 02:43] unconsolable commented on #3019
IMHO, for this part of `build_protobuf`, if the compiler does not support `-Winvalid-noreturn`, we may simply suppress all warning by `-Wno-error`
https://github.com/facebookincubator/velox/blob/22bed48d4d1879241c9da074dc967b01424e4627/ThirdpartyToolchain.cmake#L126-L130

In other words, change it to
[code]

[2022-11-05 02:44] unconsolable commented on #3019
IMHO, for this part of `build_protobuf`, if the compiler does not support `-Winvalid-noreturn`, we may simply suppress all warning by `-Wno-error`. The debug build can be compiled then.
https://github.com/facebookincubator/velox/blob/22bed48d4d1879241c9da074dc967b01424e4627/ThirdpartyToolchain.cmake#L126-L130

In other words, change it to
[code]

[2022-11-07 06:36] rui-mo commented on #3096
Thank you Masha. Will try that. I saw from below comment that if this value was reached would revert to regular hash, but did not find the related code. Could you show me the code on that? Thanks.

[code]

[2022-11-07 13:14] mbasmanova commented on #3096
@rui-mo Rui, checkout `HashTable<ignoreNullKeys>::decideHashMode` method in velox/exec/HashTable.cpp

[2022-11-07 17:33] laithsakka opened #3118 "Add unit tests for Decoded Vectors new API that does not take rows"
A previous diff added an API that does not requires passing a selectivity vector when decoding
a vector. a bug was introduced due to lack of unit testing and caught by the fuzzer, this issue it track creating
unit tests to make sure there is no more bugs.

[2022-11-07 17:33] laithsakka opened #3119 "Split integer variables and type parameters."

[2022-11-07 17:35] laithsakka opened #3120 "Split integer variables and type parameters."
right now TypeVariableConstraint holds both type parameters and integer variables,
this task is to split them. since integer variables are not types.

[2022-11-07 17:37] laithsakka opened #3121 "Add isKnowType property to type parameters"
A function with an input map Map<K, V> signature right now, were K is a a type variable allow K to be bound to unknown.
this task is to create a property isKnowType that can be assigned to to type variables to make them more precise and complete.

[2022-11-07 18:08] paul-amonson commented on #3088
So this only filtered the pasted list above to:

Flags from /home/localuser/workspace/velox/connectors/hive/storage_adapters/s3fs/benchmark/S3ReadBenchmark.cpp:
-s3_config (Path of S3 config file) type: string default: ""

Unfortunately, I still don't have a syntax for the command line to execute the "velox_s3read_benchmark" executable. Also, I can't find documentation for the referred to "S3 conf

[2022-11-07 20:15] #3119 closed

[2022-11-07 20:15] laithsakka commented on #3119
duplicate

[2022-11-07 20:16] mbasmanova commented on #3120
CC: @majetideepak @aditi-pandit @karteekmurthys

[2022-11-07 20:20] mbasmanova commented on #3120
See for more context

- presto-spi/src/main/java/com/facebook/presto/spi/function/TypeVariableConstraint.java
- presto-spi/src/main/java/com/facebook/presto/spi/function/LongVariableConstraint.java
- presto-main/src/main/java/com/facebook/presto/type/DecimalOperators.java

[2022-11-07 20:20] mbasmanova commented on #3121
CC: @majetideepak @aditi-pandit @karteekmurthys

[2022-11-07 22:04] Yuhta opened #3133 "DECIMAL comparison is not handling rescaling"
In #2543 we have simple function implementation comparing unscaled decimals directly, which is not working if the scales are not matching.  The functions should consider rescaling.

@majetideepak @karteekmurthys

[2022-11-07 22:08] mbasmanova commented on #3133
CC: @aditi-pandit

[2022-11-07 22:13] karteekmurthys commented on #3133
@Yuhta @mbasmanova @majetideepak
This as per the design. We expect the user to user cast decimal values to same scale before calling comparison operations:

https://github.com/facebookincubator/velox/pull/2278

"In this PR, we introduce a way to declare SCALAR functions for one or more decimal type inputs with same precision and scale. To achieve this, we inject default signatures SHORT_DECIMAL(a_

[2022-11-07 22:17] Yuhta commented on #3133
@karteekmurthys Thanks for the explanation.  Do we have any plan to support directly comparison between DECIMALs without casting?

[2022-11-07 22:21] mbasmanova commented on #3133
CC: @laithsakka

[2022-11-07 22:33] karteekmurthys commented on #3133
@Yuhta We did consider designing Decimal Comparison Vector functions similar to decimal arithmetic, but we decided to leverage the Generic Framework over vector functions. Makes it easier to manage different vector types.

We also observed that the plan from Presto does cast the parameters to same type to comparison functions:
[code]
The predicate “BETWEEN” plan node looks as follows, The column C

[2022-11-07 22:51] Yuhta commented on #3133
OK I see this is enough for Presto.  Maybe we can come back to this if there is other usage case coming up.

[2022-11-07 22:51] #3133 closed

[2022-11-08 01:03] pzhzqt opened #3135 "Repro not correctly restore type of field reference"
velox/expression/tests/velox_expression_fuzzer_test --velox_fuzzer_enable_complex_types --repro_persist_path ~/fuzzer_repro --seed 987157638 (Could be any other thing, this is just an example)

This should fail, however, the repro successfully ran the query(even after #2972 is fixed temporarily locally). After looking into it, it seems the FieldReference exprs aren't correctly rebuilt from sql: no

[2022-11-08 01:09] mbasmanova commented on #3135
It is not clear what's wrong here. Would you explain a bit more?

[2022-11-08 01:28] zhejiangxiaomai opened #3136 "Protobuf 3.21.4 can lead to a denial of service attack"
Do we need to upgrade protobuf version to 3.21.7?

https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2022-3171

[2022-11-08 01:31] mbasmanova commented on #3136
CC: @kgpai @raulcd

[2022-11-08 01:33] kgpai commented on #3136
cc : @spershin

Thanks for bringing this to our notice @zhejiangxiaomai ,
 I will create a PR incrementing protobuf to a safer version.

[2022-11-08 02:02] pzhzqt commented on #3135
I'm still trying to understand more myself. Now all I know is that the example test fails and persists repro files, however, expression runner successfully ran the query from the repro files, and the only difference I found right now from `toString()` from the typedExpr is that in fuzzer it's `array_join("c0","c1")`, and when reproduced from the exact same sql it somehow become `array_join(ROW["c0

[2022-11-08 02:20] pzhzqt commented on #3135
Actually, they are both result from `toString()`

[2022-11-08 02:34] pzhzqt commented on #3135
Sorry, false alarm. It seems I just didn't run the reproducer correctly, just add --mode verify will successfully reproduce

[2022-11-08 02:34] #3135 closed

[2022-11-08 02:37] mbasmanova commented on #3135
@pzhzqt Happy to hear the issue is resolved.

[2022-11-08 04:30] #2846 closed

[2022-11-08 04:45] majetideepak commented on #3088
@paul-amonson The PR description has some details on how to run this https://github.com/facebookincubator/velox/pull/1033.

I am currently working on the documentation for this as part of https://github.com/facebookincubator/velox/issues/2861

[2022-11-08 05:06] shiyu-bytedance opened #3140 "Support distinct"
Currently, the velox runtime does not have sufficient "primitives" to truly support the DISTINCT keyword.

For example, the below snippet is wrong result:

[code]

And if we do not disable `use_mark_distinct`, velox runtime error out:
[code]

Solution, it is necessary that Velox either:

- Add support to handle [distinct](https://github.com/prestodb/presto/blob/master/presto-native-execution/prest

[2022-11-08 07:37] mbasmanova opened #3143 "map_agg: Malformed dictionary, index array is shorter than DictionaryVector"
The new Aggregation Fuzzer found a bug in map_agg:

[code]

The problem is in this code, which allocates newSizes buffer using 'numElements' instead of 'numRows', but then copies up to 'numRows' values into it. When numElements is shorter then numRows, the memcpy ends up corrupting the next buffer in memory: 'elementIndices'.

[code]

[2022-11-08 07:40] mbasmanova opened #3144 "array_agg returns incorrect result for empty input"
Array_agg should return NULL if input is empty, but it returns empty array.

This issue was found by the new Aggregation Fuzzer.

[2022-11-08 07:45] mbasmanova opened #3145 "map_agg returns incorrect result for empty input"
Map_agg and map_union should return NULL if input is empty, but they returns empty map.

This issue was found by the new Aggregation Fuzzer.

[2022-11-08 08:01] Weixin-Xu commented on #908
Duckdb's parquet reader do not support isNull or isNotNull filter pushdown, but Native Parquet Reader has implement it.

[2022-11-08 11:07] #3144 closed

[2022-11-08 12:56] assignUser opened #3148 "Make dependency source configurable"
Using `resolve_dependency` allows us to choose the dependency source between `BUNDLED` (build from source), SYSTEM and AUTO. At the moment we force AUTO which first uses `find_package` and then falls back on the source build.

This should be user configurable per dependency, with an overall default.

[2022-11-08 13:00] mbasmanova commented on #3148
CC: @kgpai @raulcd

[2022-11-08 14:19] RamaMalladiAWS opened #3150 "Unable to build Velox for TARGET "aarch64""
I am trying to build Velox for "aarch64" target. I get the below error. Can you please help me resolve it? Thanks.

/home/ubuntu/velox/velox/type/Filter.cpp: In member function ‘virtual xsimd::batch_bool<long int> facebook::velox::common::BigintValuesUsingHashTable::testValues(xsimd::batch<long int>) const’:
/home/ubuntu/velox/velox/type/Filter.cpp:222:57: error: no matching function for call to ‘

[2022-11-08 14:25] mbasmanova commented on #3150
CC: @kgpai @raulcd

[2022-11-08 14:25] mbasmanova commented on #3150
CC: @Yuhta

[2022-11-08 14:31] mbasmanova opened #3151 "map_union: Reading past end of ByteStream"
map_union aggregation throws "Reading past end of ByteStream" when resulting map's size is a multiple of 64.

[code]