[2021-08-16 18:00] majetideepak opened #46 "Add array_min() and array_max() functions"
The scope of this issue is to implement the array_min and array_max function similar to the Java side.
https://prestodb.io/docs/current/functions/array.html

[2021-08-18 21:17] pedroerp opened #67 "fromUnixtime() crashes if it gets a NaN or Inf"
functions/common/DateTimeImpl.h:29 crashes UBSAN if the double passed as a parameter is NaN or Inf:

===
Stack trace example:
[code]

[2021-08-18 21:20] pedroerp opened #68 "Refactor velox/functions/common/ArrayIntersect.cpp to support array_except()"
The main logic is common. Refactor ArrayIntersect.cpp to provide array_except() semantic, register it as a function with the available signatures in Presto, and add unit tests.

This link has useful information: https://prestodb.io/blog/2020/12/04/typedset

[2021-08-18 21:22] pedroerp opened #69 "Refactor velox/functions/common/ArrayIntersect.cpp to support array_union()"
The main logic is common (union needs to de-duplicate elements). Refactor ArrayIntersect.cpp to provide array_union() semantic, register it as a function with the available signatures in Presto, and add unit tests.

This link has useful information: https://prestodb.io/blog/2020/12/04/typedset

[2021-08-20 19:51] #46 closed, assigned to majetideepak

[2021-08-23 18:46] majetideepak opened #91 "Improve test coverage for existing tests"
Some of the current tests do not have coverage for all the supported types. We should re-use the input data where possible and simplify adding tests for all the types.

[2021-08-30 22:25] shixuan-fan opened #132 "Support casting for complex type in parser"
This could be a duckdb limitation.

This is a follow up for #63 (WidthBucketArrayTest#failureForConstant). It could be reproduced by evaluating expression that looks like `width_bucket(c0, CAST(ARRAY[] AS ARRAY(DOUBLE)))`. The parser would fail with:

[code]

[2021-08-30 22:32] shixuan-fan opened #133 "Support infinity() and NaN() when constructing array in DuckParser"
This is a follow up for #63 (`WidthBucketArrayTest#failureForConstant`). It could be reproduced by evaluating expression that look like `width_bucket(c0, ARRAY[infinity()])` or `width_bucket(c0, ARRAY[nan()])`. It would fail with the following information:

[code]

[2021-09-02 15:41] mbasmanova opened #153 "Implement Filter::mergeWith for BytesRange and BytesValue"
Filter::mergeWith API is used to merge filters pushed down from the join to topN operators into collocated table scan. Currently this API is implemented for numeric types. This task is to implement the API for strings.

https://github.com/facebookincubator/velox/pull/119 PR introduced Filter::mergeWith() API with implementation for numeric types.

https://github.com/facebookincubator/velox/pull/10

[2021-09-02 15:43] mbasmanova opened #154 "Implement Filter::mergeWith for MultiRange"
Similar to #153 this task is to implement Filter::mergeWith() for MultiRange filters which represent an OR of two of more filters.

CC: @pedroerp @kgpai @aditi-pandit @majetideepak

[2021-09-03 22:06] pedroerp opened #163 "Identify missing features for TPC-H queries"
Like we discussed on yesterday's sync, let's use the e2e test suite to experiment with the different TPC-H queries, and identify the features we currently have missing. When we do, let's open github issues so we can coordinate between the TPC-H stakeholders.

This is the file we could use to add the queries:

[2021-09-03 22:10] pedroerp opened #164 "Add a TPC-H connector"
Similarly to what Presto has for java, let's create a native TPC-H connector for Velox so we can easily generate synthetic TPC-H data on-the-fly. We could leverage duckdb's tpc-h generator, which will generate duck vector that can be easily converted into Velox vectors.

This is some documentation on the java connectos:

[2021-09-09 04:55] kidkun opened #180 "Support reading data from HDFS"

[2021-09-14 15:01] mbasmanova opened #208 "Add support for LIKE operator"
Presto's documentation about LIKE operator: https://prestodb.io/docs/current/functions/comparison.html#like

LIKE operator can be implemented by translating the pattern to a regular expression and using regexp_like function to evaluate it.

regexp_like already exists. See velox/functions/prestosql/VectorFunctions.cpp

Presto's conversion from like pattern to regex pattern can be found at https://g

[2021-09-14 21:03] majetideepak opened #211 "Support reading data from S3"
The scope of this issue is to implement the S3 connector

[2021-09-16 03:18] aditi-pandit opened #222 "Fix error: VeloxRuntimeError: !leftKeys_.empty() in TPC-H tests"
Several TPC-H benchmark queries (Q2, Q11, Q17, Q20) failed on PrestoCPP with the error:
VeloxRuntimeError: !leftKeys_.empty()

Stack trace

Caused by: java.lang.RuntimeException: !leftKeys_.empty()
at com.facebook.presto.tests.AbstractTestingPrestoClient.execute(AbstractTestingPrestoClient.java:124)
at com.facebook.presto.tests.DistributedQueryRunner.execute(DistributedQueryRunner.java:552)
at com

[2021-09-16 03:23] aditi-pandit opened #223 "Fix PrestoException in TPC-H query 21"
TPC-H benchmark query 21 failed on PrestoCPP with the following Exception:
"PrestoException com.facebook.presto.sql.planner.plan.AssignUniqueId no abstract type PlanNode".

Steps to reproduce :  Run unit tests testTpchQ21 in
java/presto-native-tests/src/test/java/com/facebook/presto/nativeworker/TestHiveTpchQueries.java

[2021-09-16 03:25] aditi-pandit opened #224 "Fix PrestoException in TPC-H query 22"
TPC-H benchmark query 22 failed on PrestoCPP with the following Exception:
"PrestoException com.facebook.presto.sql.planner.plan.EnforceSingleRowNode no abstract type PlanNode"

Steps to reproduce : Run unit tests testTpchQ22 in
java/presto-native-tests/src/test/java/com/facebook/presto/nativeworker/TestHiveTpchQueries.java

[2021-09-16 03:28] aditi-pandit opened #225 "Fix TPC-H query 19"
Fix TPC-H Q19 run. It failed with error "Failed with VeloxUserError:  Unsupported input type for the IN predicate: DOUBLE".

Note: This error is a red-herring imo since there isn't an IN predicate using a DOUBLE type in that SQL per se.

Steps to reproduce : Run unit test testTpchQ19 in
java/presto-native-tests/src/test/java/com/facebook/presto/nativeworker/TestHiveTpchQueries.java

[2021-09-16 03:31] aditi-pandit opened #226 "Fix LOJ query 13 in TPC-H tests"
TPC-H q13 has an LOJ that seemed to run indefinitely in the local environment. The understanding is that only INNER join is supported today so at the very least this query should've failed cleanly.

Steps to reproduce : Run unit tests testTpchQ13 in
java/presto-native-tests/src/test/java/com/facebook/presto/nativeworker/TestHiveTpchQueries.java

[2021-09-16 03:35] aditi-pandit opened #227 "Add support for INTERVAL. This is used in 9 TPC-H queries."
Intervals are used in TPC-H queries 1, 4, 5, 6, 10, 12, 14, 15, 20

Steps to reproduce : Run unit tests testTpchQ1, testTpchQ4, etc in
java/presto-native-tests/src/test/java/com/facebook/presto/nativeworker/TestHiveTpchQueries.java

Note: In several tests the predicates with INTERVAL are commented out in the sql files to test the rest of the query. Please take a look at the sql and un-comment the

[2021-09-16 03:45] aditi-pandit opened #228 "Add support for EXTRACT Year from Date. This is used in 3 TPC-H queries."
TPC-H queries 7, 8, 9 group by a column that is obtained using EXTRACT Year from Date. Add support for this functionality in PrestoCPP.

Steps to reproduce : Run unit tests testTpchQ7(8)(9) in
java/presto-native-tests/src/test/java/com/facebook/presto/nativeworker/TestHiveTpchQueries.java

(The test also fails as DATE type is not supported for the EXTRACT functionality)

[2021-09-16 03:51] aditi-pandit opened #229 "Add support for DATE . This is used in 12 TPC-H queries."
DATE is used in  TPC-H queries 1, 3, 4, 5, 6, 7, 8, 10, 12, 14, 15, 20

Steps to reproduce : Run unit tests testTpchQ1, testTpchQ3 etc in
java/presto-native-tests/src/test/java/com/facebook/presto/nativeworker/TestHiveTpchQueries.java

Note: The DATE based predicates might have been commented in the underlying SQL file to run the rest of the query in the test. Please fix the underlying SQL if need

[2021-09-22 20:36] amaliujia commented on #154
@mbasmanova

I am a person who is interested in contributing to open source. Looks like this issue is a good one for a starter. May I work on this issue?

[2021-09-22 20:39] amaliujia opened #273 "Is http://velox-oss.slack.com an workspace that is invitation based only?"
Hi Velox community,

I am wondering if http://velox-oss.slack.com is  invitation based only? I tried to use `amaliujia@apache.org` to signin which didn't work. Also tried a gmail address which seemed not working either.

Thanks,
Rui

[2021-09-22 21:32] mbasmanova commented on #154
Welcome, @amaliujia . Sure, feel free to pick this up. CC: @atanu1991 who is working on a related issue #153

[2021-09-23 00:32] pedroerp commented on #273
@amaliujia sorry, I'm trying to figure out a way to let the Slack workspace open without requiring an invite, but couldn't find a way. I sent you an invite for now.

[2021-09-23 01:05] amaliujia commented on #273
Thanks @pedroerp! I received the invitation and joined now without a problem.

[2021-09-23 01:05] #273 closed

[2021-09-23 20:17] kgpai opened #290 "Additional Unicode test cases"
We should extend Fuzzer to add more unicode specific test cases here to ensure more robust UTF8 char handling.
Some of these test cases are detailed here : https://www.cl.cam.ac.uk/~mgk25/ucs/examples/UTF-8-test.txt

[2021-09-24 03:18] amaliujia commented on #154
@mbasmanova

I want to discuss a bit on high level before start to implement.

MultiRange is a class that contains a list of Filter, with nan_allowed and null_allowed. So my current idea of the implementation is:
1. Two MultiRange can merge only if they have the same nan_allowed and null_allowed.
2. Two MultiRange can merge only if they have the same data type on all the Filters.
3. If 1 and 2 are

[2021-09-24 09:42] baiwfg2 commented on #273
@pedroerp Hi, I've sent an email to you, would you please send me an invitation ?

[2021-09-24 11:27] mbasmanova commented on #154
Rui,

MultiRange represents and OR of multiple filters. NaN values pass only if MultiRange::nanAllowed is true. Null values pass only if nullAllowed is true.

Merging two filters is combining the filters with an AND. A value passes the new filter only if it passes both the original filters.

Here is how I would represent a merge of two MultiRange filters (with just 2 filters in each for simplicity

[2021-09-24 22:22] amaliujia commented on #154
Thanks @mbasmanova!

I prepared a WIP impl based on your suggestions: #299.

Can you comment on the PR to see if I am on the right track?

Sorry to occupy too much of your time. I am a beginner so probably need more guidance at this moment (for example on how to deal with nullness in Volex)? Maybe later I could help to contribute a doc about nullness, nan, always true, always false, is null, is no

[2021-09-25 00:47] amaliujia opened #305 "Should require protobuf be at least 3.0.0"
See protobuf 3.0.0 release note: https://github.com/protocolbuffers/protobuf/releases?after=v3.0.0-alpha-3.  Arena allocation support (i.e. option cc_enable_arenas) starts to be supported since that version.

Velox is using `option cc_enable_arenas` now.

[2021-09-25 00:49] amaliujia commented on #305
https://github.com/facebookincubator/velox/pull/304

[2021-09-25 03:53] damianr99 opened #308 "Build failure on Ubuntu 20.04.2 LTS"
[code]

[2021-09-27 16:56] #305 closed

[2021-09-28 00:44] mbasmanova opened #327 "Add support for more types in HivePartitionFunction"
#314 introduced HivePartitionFunction to BIGINT and VARCHAR types. We need to add support for the rest of the types as well, e.g. TINYINT, SMALLINT, INTEGER, REAL, DOUBLE, TIMESTAMP and VARBINARY.

See https://github.com/prestodb/presto/blob/master/presto-hive/src/main/java/com/facebook/presto/hive/HiveBucketing.java#L147 for reference implementation in Presto.

CC: @pedroerp

[2021-09-28 00:45] mbasmanova commented on #327
CC: @amitkdutta

[2021-09-28 00:53] mbasmanova opened #328 "Replace std::unordered_map with F14FastMap in velox/type/tz/TimeZoneMap.cpp"
CC: @funrollloops

[2021-09-28 00:54] mbasmanova commented on #68
@aditi-pandit This is done, right? Should we close this issue?

[2021-09-28 04:54] aditi-pandit commented on #68
Yes, the main function is done. But I didn't get to the microbenchmark suggested by Pedro. It might be better to separate the two. wdyt ?

[2021-09-28 12:33] odilov commented on #328
Hi Maria @mbasmanova,
I'd like to work on this bug.

[2021-09-28 13:05] mbasmanova commented on #328
@odilov Welcome, Akbar. Please, go ahead.

[2021-09-28 13:15] mbasmanova commented on #208
DuckDB has a custom LIKE implementation not using regular expressions: https://github.com/duckdb/duckdb/blob/master/src/function/scalar/string/like.cpp

DuckDB folks considered switching to RE2, but found that RE2 is 2-4x slower: https://github.com/duckdb/duckdb/issues/157

Same for OmniSciDB: https://github.com/omnisci/omniscidb/blob/master/Utils/StringLike.cpp#L94

CC: @biswapesh @spershin @amit

[2021-09-29 16:21] pedroerp commented on #68
Regarding the benchmark: it would be nice to evaluate if the current approach is faster for primitive types as well - I remember there was a discussion that maybe for primitive types it could be faster to just create a new vector. Not a blocker though.

We could even create a separate issue to track that, in case some of the new folks learning about the project would like to claim it.

[2021-09-29 16:24] pedroerp commented on #308
I've seen this before. Does this happen in both debug and release compilation modes?

[2021-09-29 16:26] pedroerp commented on #273
@baiwfg2 sorry about that. I'm trying to make it open but I can't find out how. Any chance any of you guys would know?

In the meantime, you can use this invitation link:

[2021-09-29 16:29] #67 closed, assigned to pedroerp

[2021-09-29 16:29] pedroerp commented on #67
This was fixed.

[2021-09-29 23:40] wenleix opened #353 "Velox build unconditionally add `-g` flag even in release mode"
I am wondering why Velox always adds "-g" flag even in release mode? We shall be able to use `RelWithDebInfo` if we wants to keep the debug symbols right?

https://github.com/facebookincubator/velox/blob/904aff8fed068cad6232502ff2c2a9340d23e591/CMakeLists.txt#L52-L54

[2021-09-30 04:16] damianr99 commented on #308
It works on debug mode, fails on release.  (debug mode compiles, but many of the test programs fail to link due to a missing `-lpthread`, forcing adding the `-lpthread` option got `make debug` working successfully).

[2021-09-30 12:47] odilov commented on #328
@mbasmanova, done :) it's my first pull request in open source project, any feedback is welcome

[2021-09-30 16:26] mbasmanova commented on #328
Thank you, @odilov . Let me take a look.

[2021-09-30 16:26] mbasmanova commented on #328
@odilov Can you make it into a pull request and provide a link or a number?

[2021-10-01 07:16] viirya opened #360 "Fail to build with with compilation error on Folly"
I tried to build this on Mac OS, but saw the error as follows:

[code]

I looked at `Conv.h` quickly, there are some candidate templates. But based on the message of compiler, seems these templates are not suitable for `unsigned __int128` so the compiler cannot find a matching function of `estimateSpaceNeeded`.

[2021-10-01 16:15] sunchao opened #362 "Parquet and S3 support"
The project README mentions that Parquet and S3 are supported, but I couldn't find any reference in the repo. Can someone provide more information on this?

[2021-10-04 19:44] majetideepak commented on #362
@sunchao The README is slightly ahead of time :). S3 and Parquet support should land soon. See https://github.com/facebookincubator/velox/issues/211 for S3 support updates.

[2021-10-04 20:25] sunchao commented on #362
@majetideepak thanks! looking forward to these features!

[2021-10-04 20:30] pedroerp commented on #308
@damianr99 @wenleix this is should fix the second half of the issue:

This PR disable strict aliasing (and other warnings) to ensure we can compile in Ubuntu 20.04.

[2021-10-04 20:45] viirya commented on #360
This can be fixed by https://github.com/Homebrew/homebrew-core/pull/86451

[2021-10-04 21:28] pedroerp commented on #360
I remember seeing this problem in Ubuntu as well, so I had to add this flag:

does this help in your case as well (adding the flag to setup-macos.sh)?

[2021-10-04 21:45] viirya commented on #360
Yes, I added the flag to homebrew folly Formula to fix it.

[2021-10-04 23:47] viirya opened #376 "Another issue with Folly: Cannot found folly library from rpath"
After fixing #360 by adding `FOLLY_HAVE_INT128_T` (I used homebrew, not the `setup-macos.sh`), I had another Folly issue as follows.

[code]

It looks weird because ` /usr/local/lib/libfollybenchmark.dylib` and `libfolly_test_util.dylib` both load libfolly.0.58.0-dev.dylib from `@rpath/libfolly.0.58.0-dev.dylib`, but they don't specify RPATH?

Anyway, it is a bit hacky, but I manually added rpath

[2021-10-05 17:57] damianr99 commented on #308
This now builds successfully for me, thanks!

[2021-10-05 21:13] pedroerp commented on #308
Great, closing the issue!

[2021-10-05 21:13] #308 closed

[2021-10-06 13:05] odilov commented on #327
@mbasmanova, I'd like to work on the feature.

[2021-10-06 18:26] aditi-pandit commented on #226
Hi Masha,

I confirmed that Tpch q13 LOJ got fixed after https://github.com/facebookincubator/velox/pull/244. It is now failing with the "like" error. https://github.com/facebookexternal/presto_cpp/pull/517 updates the test.

Please mark this issue as fixed.

[2021-10-06 18:28] aditi-pandit commented on #224
This is fixed after https://github.com/facebookexternal/presto_cpp/pull/240 , https://github.com/facebookexternal/presto_cpp/pull/505 and https://github.com/facebookexternal/presto_cpp/pull/343

[2021-10-06 18:29] aditi-pandit commented on #224
Masha, Please mark as fixed. No further work is needed on this issue for now.

[2021-10-06 18:42] aditi-pandit opened #390 "Benchmark array_except function"
It would be good to create a microbenchmark binary for array_except. There are examples in the codebase like velox/functions/lib/benchmarks/Re2FunctionsBenchmarks.cpp. These help to understand where the bottlenecks for these functions are.

https://prestodb.io/blog/2020/12/04/typedset describes certain optimizations for array functions in presto. The benchmark would help us assess if there's value

[2021-10-06 18:43] #68 closed, assigned to aditi-pandit

[2021-10-06 18:44] #226 closed, assigned to mbasmanova

[2021-10-06 19:43] #163 closed, assigned to aditi-pandit

[2021-10-12 19:06] mbasmanova opened #418 "Add DATE type"
Add DATE type backed by 32-bit integer (int32_t).

CC: @funrollloops @pedroerp @aditi-pandit

[2021-10-12 23:41] frankobe commented on #223
This is caused by `AssignUniqueId` plan node is not supported in presto_cpp & velox. I am adding the support

[2021-10-13 15:56] aditi-pandit commented on #208
More changes are needed in presto_cpp for the e2e TPC-H query.

[2021-10-14 06:40] baiwfg2 commented on #273
@pedroerp I happen to see this. https://groups.google.com/g/janusgraph-dev/c/5Fp2tQNn_Po/m/0g8CiFknBQAJ
It turns out that a bot is needed.

[2021-10-16 04:53] aditi-pandit commented on #418
Overlaps with https://github.com/facebookincubator/velox/issues/229 for TPC-H queries.

[2021-10-21 00:00] aditi-pandit commented on #418
https://github.com/facebookincubator/velox/pull/475

[2021-10-24 20:33] Sangarkhan786 opened #489 "This pull request was **exported** from Phabricator. Differential Revision: [D31360049](https://phabricator.intern.facebook.com/D31360049)"
This pull request was **exported** from Phabricator. Differential Revision: [D31360049](https://phabricator.intern.facebook.com/D31360049)

_Originally posted by @facebook-github-bot in https://github.com/facebookincubator/velox/issues/378#issuecomment-933999264_

[2021-10-28 05:45] baibaichen opened #513 "CMake failed to find the `glog` module in ubuntu 20.04."
After https://github.com/facebookincubator/velox/pull/500,  CMake failed to find the `glog` module on ubuntu 20.04. Please see error message [here](https://github.com/facebookincubator/velox/pull/500#issuecomment-952792585). It works fine on macOS. I guess glog is built with Make other than CMake on ubuntu so that `glog-config.cmake` doesn't exist.

To fix this, we need to provide `Findglog.cmake`

[2021-10-29 22:40] #211 closed

[2021-10-30 02:45] #513 closed

[2021-11-01 21:01] pedroerp commented on #273
Sure, you can use this link:

[2021-11-02 01:35] waitinfuture commented on #273
Thanks!

[2021-11-03 08:17] leoluan2009 opened #549 "Migrate more Presto functions to new framework"
Hi team, do we need to migrate more Presto functions such as arithmetic and comparison functions to new framework just like [487](https://github.com/facebookincubator/velox/pull/487) for String functions? If yes, I'll happy to take the task.

[2021-11-03 13:10] majetideepak commented on #362
@sunchao, S3, and Parquet support are now available.

[2021-11-03 13:10] #362 closed

[2021-11-04 03:47] aditi-pandit commented on #418
https://github.com/facebookincubator/velox/pull/552

[2021-11-04 14:13] #489 closed

[2021-11-04 14:14] mbasmanova commented on #549
@leoluan2009 You are welcome to help. CC: @pedroerp

[2021-11-04 14:15] mbasmanova commented on #376
CC: @funrollloops @syotfs @pedroerp

[2021-11-04 14:19] mbasmanova commented on #228
Year function was added in https://github.com/facebookincubator/velox/commit/7ac665ad5ed6b973dcf5daef98045adc72a768d8

[2021-11-04 14:20] #224 closed

[2021-11-04 14:21] mbasmanova commented on #222
This has been fixed.

[2021-11-04 14:21] #222 closed

[2021-11-04 14:23] mbasmanova commented on #91
@majetideepak Deepak, is there still something left to do here? If not, maybe we can close this issue.

[2021-11-04 14:30] majetideepak commented on #91
@mbasmanova nothing left here. Closing.

[2021-11-04 14:30] #91 closed

[2021-11-04 16:01] aditi-pandit commented on #228
EXTRACT YEAR is required from DATE type also for this work.

[2021-11-05 17:54] pedroerp commented on #549
Yes, help on that would be great :)

[2021-11-05 18:08] jijufb commented on #549
@leoluan2009 You are welcome and excited to see the impact you and team are planning with this collaboration.

[2021-11-05 18:51] #353 closed

[2021-11-09 17:30] #223 closed

[2021-11-15 04:03] zhangzhenghao opened #613 "Is it possible to support ARM64 Neon?"
It seems all SIMD instructions have been abstracted in `SimdUtil.h`. Is it possible to implement a ARM64 Neon version of `SimdUtil`. If yes, I'll happy to try some works.

[2021-11-16 01:49] RaymondChina opened #619 "How connect presto with velox?"
We want to try velox with presto, it seems the todo includes
1. define protocol between presto and velox, build a binary with velox, and list on a port x
2. presto connect port x and send plan tree, receive the result

is it right ? thanks.

[2021-11-17 04:06] aditi-pandit commented on #229
More date functionality specifically date comparisons and between support are added in https://github.com/facebookincubator/velox/pull/552

Work is now needed on the presto_cpp side to start using these.

[2021-11-17 04:08] aditi-pandit commented on #228
https://github.com/facebookincubator/velox/pull/627 extends Masha's PR for Date.

[2021-11-17 23:55] aditi-pandit commented on #229
presto_cpp PR to use date casts https://github.com/facebookexternal/presto_cpp/pull/577

[2021-11-18 04:03] #229 closed

[2021-11-18 04:04] aditi-pandit commented on #228
https://github.com/facebookexternal/presto_cpp/pull/578 enables the queries using extract(year from date) in the TPC-H tests.

[2021-11-18 21:11] #228 closed

[2021-11-18 21:14] aditi-pandit commented on #418
https://github.com/facebookincubator/velox/pull/627

[2021-11-18 21:16] aditi-pandit commented on #418
Leaving this open since there are few functions left to be implemented for date type for completeness

viz current_date, from_iso8601_date and to_iso8601.

Will work on them after completing the interval related functionality.

[2021-12-01 18:43] aditi-pandit opened #685 "Implement window functions in Velox"
Window functions https://prestodb.io/docs/current/functions/window.html#functions-window are a special category of analytic functions in SQL.

These are heavily used in TPC-DS benchmark and also critical to other client SQL workloads.

This issue tracks their implementation in Velox.

Efficient Processing of Window Functions in Analytical SQL Queries VLDB paper: http://www.vldb.org/pvldb/vol8/p105

[2021-12-01 18:46] mbasmanova commented on #685
CC: @beroyfb @pedroerp

[2021-12-03 22:41] aditi-pandit commented on #225
https://github.com/facebookincubator/velox/pull/699 should fix the problem

[2021-12-07 16:03] huxiaoxiang commented on #619
We have the same question. Will there be a simple tutorial or blog about integration?

[2021-12-07 17:30] kgpai commented on #619
@RaymondChina @huxiaoxiang

Meta has the Prestissimo project (presto_cpp) which integrates velox and presto. It is not yet open sourced, however you can get access to it by signing some NDA's.

cc: @jijufb @pedroerp

[2021-12-07 18:28] jijufb commented on #619
@RaymondChina, I can initiative NDA process if you would like. Share me your company name, Company address and email address to which NDA doc should be sent?

[2021-12-08 18:50] #225 closed

[2021-12-10 13:10] RaymondChina commented on #619
where should I send company name and email to ? on this comments board ?
  @jijufb

[2021-12-10 15:56] jijufb commented on #619
Please send to my email address - jiju@fb.com

[2021-12-10 18:15] mbasmanova commented on #418
We also need to add support for DATE type to

- VectorHasher (will enable array-based aggregation for grouping keys of type DATE - https://facebookincubator.github.io/velox/develop/aggregations.html#array-mode )
- min/max aggregate functions
- registerUnaryScalar helper functions in velox/functions/lib/RegistrationHelpers.h

[2021-12-13 03:58] tangjiangling commented on #619
@kgpai @jijufb One more question: Are there any plans to open source Prestissimo?

[2021-12-13 16:16] jijufb commented on #619
yes, tentatively targeting for H1 2022

[2021-12-13 17:23] tangjiangling commented on #619
Wow, Awesome!

[2021-12-14 02:33] huxiaoxiang commented on #619
I'v already signed the NDA doc.
My Github info:
userName: huxiaoxiang
email:         34263604@qq.com
Thanks jijufb.

[2021-12-14 10:40] RaymondChina commented on #619
done

[2021-12-16 05:58] #613 closed

[2021-12-22 00:05] c21 opened #798 "Support extra join filter for SEMI/ANTI join"
Currently we don't support SEMI/ANTI join with extra join filter in hash join, and also merge join. In Velox, we only supports SEMI/ANTI join with no join filter for hash join. In Spark, we support this type of query. Creating an issue here to track progress after talking to @mbasmanova offline. We are working on this issue now.

[2021-12-22 10:18] RaymondChina commented on #619
done, pls check it, thanks.

[2021-12-25 17:42] wilhelmjung commented on #619
Hi, Jiju. I also need the access to Prestissimo source code. Pls check the email, thanks!

[2021-12-27 02:23] yvxiang opened #812 "Why implementation of Driver::runInternal is so complicated？"
I checked out the implementation of  Driver::runInternal，it looks so complicated:

1. why not use coroutine to simplify the block of pyhsical thread
2. why not push data from bottom to top

Both 1 and 2 can make the code more easier, more maintainable, and also with high concurrency

[2021-12-29 18:49] jijufb commented on #619
Are you part of Ant Group company?

[2021-12-30 01:46] huxiaoxiang commented on #619
Well, I'm a SDE of Ant Group...

[2021-12-30 03:03] jijufb commented on #619
Access to code have given.

[2021-12-30 03:29] RaymondChina commented on #619
company : Alibaba cloud
mail: 1106927850@qq.com

[2021-12-30 13:00] chuanlei commented on #619
@jijufb
I want to get access to the Prestissimo presto_cpp which integrates velox and presto by signing some NDA's. Please send NDA doc to this email address.

Company Name: Ant Group
Company Address:	Xixi Road 556, Xihu district, Hangzhou City, Zhejiang Province, China
Sending Email Address:	chuanlei.ncl@antgroup.com

[2021-12-30 18:23] jijufb commented on #619
Access to code have given.

[2022-01-05 03:16] majetideepak opened #833 "Make SIMD support optional in favor of portability"
The current Velox implementation uses SIMD instructions specific to Intel. We must make this use optional in favor of portability to other hardware such as the Mac M1 processors.

[2022-01-05 03:31] mbasmanova commented on #833
CC: @kgpai @wenleix @pedroerp @laithsakka @kevinwilfong

[2022-01-05 16:33] majetideepak opened #836 "Add support for S3 IAM Roles"
We must add support for IAM Roles for S3. The parameter that supports this is `hive.s3.iam-role`
https://prestodb.io/docs/current/connector/hive.html#s3-configuration-properties

[2022-01-05 16:41] majetideepak opened #837 "Add support for Parquet writer"
The scope of this issue is to add support to write to Parquet format

[2022-01-06 06:31] yingsu00 opened #846 "Parquet reader throws EXC_BAD_ACCESS on simple query with filter"
After enabling filter pushdown https://github.com/prestodb/presto/pull/17161 on Presto, the Parquet reader code path is activated. However it fails to run any query. A simple query with filter yields the " EXC_BAD_ACCESS (code=EXC_I386_GPFLT)" error.

Query:
select sum(orderkey) from lineitem where partkey =1;

The stack trace is

[code]

I have root caused the problem. It was because ParquetReade

[2022-01-06 13:26] mbasmanova commented on #846
CC: @ienkovich @majetideepak

[2022-01-06 13:28] mbasmanova commented on #846
These are reset only at the end of the split, not at every batch.

[2022-01-06 15:31] ahadnagy opened #849 "Is this the expected way to parallelize?"
Hi everyone,

I'm trying to get a few TPC-H-like queries running by building the query plans manually.

For example, TPC-H 13:
[code]

I tried to parallelize the execution using the CursorParameters:
[code]

This appears to be working, although it's on a single core ~95% of the time. `params.numResultDrivers = 1;` seem fishy to me, but without that the execution hangs.

Is this the correct approac

[2022-01-06 19:15] mbasmanova commented on #846
CC: @frankobe

[2022-01-07 18:07] majetideepak opened #855 "Improve AWS error message description"
I used an invalid key for accessing S3. I get the following error message
[code]
It is not clear that the error is related to an invalid key.

[2022-01-09 01:32] yingsu00 opened #858 "Add support for ORC reader"
Currently there are no ORC reader support yet:

presto:tpch_1_partitioned> show create table lineitem_short;
Create Table
CREATE TABLE hive.tpch_1_partitioned.lineitem_short (
"orderkey" bigint,
"partkey" bigint,
"linenumber" integer,
"suppkey" bigint,
"linestatus" varchar(1),
"returnflag" varchar(1)
)
WITH (
format = 'ORC',
partitioned_by = ARRAY['linestatus','returnflag']
)
(1 row)
presto:tpch_1

[2022-01-09 10:56] ankur4369 commented on #69
I would like to work on this if that is okay

[2022-01-09 15:13] ankur4369 commented on #858
@yingsu00 I would like to attempt this and get it done. Still pretty new to the library but I hope to be able to contribute with guidance. Let me know if this is okay.

[2022-01-10 22:00] majetideepak opened #864 "Add documentation for S3 support inside Hive Connector"

[2022-01-10 23:24] #836 closed

[2022-01-11 03:20] yingsu00 commented on #858
@ankur4369 Thank you for offering help! ORC reader is crucial and performance critical. Some functionality may already be supported in DWRF reader but many are not. It will take several months to make it work and performant. How's your time commitment on it?

@mbasmanova @pedroerp What's Meta's plan on this? Will XLDB folks work on ORC reader?

[2022-01-11 08:26] yingsu00 opened #865 "ParquetReader passes wrong columnIds array to DuckDB::ParquetReader"
The following query fails with index out of bound error:
[code]
Call stack
[code]

This is because DuckDB creates readers for all table columns even they are not used in the query and I created issue https://github.com/duckdb/duckdb/issues/2898
while ParquetRowReader only include the columns with filters:

[code]
In DuckDB `ParquetReader::ScanInternal()`, it gets the reader
[code]
But filter_col.f

[2022-01-11 08:28] yingsu00 commented on #865
cc @mbasmanova @majetideepak @aditi-pandit @frankobe
Before this is fixed, almost all queries on Parquet would return wrong results or just fail.

[2022-01-11 12:12] ankur4369 commented on #858
@yingsu00 I have started to understand the code. I am already up to speed with developer docs on Velox. But still wrapping my head around the implementation details.

In terms of time commitment, I should easily be able to spend ~4-5 hours daily going up to 10-12 hours/day if required. However, being new to the code base, I may need some guidance to speed up.

[2022-01-11 14:53] mbasmanova commented on #865
@yingsu00 Thank you file filing an issue in DuckDB project. I saw a reply from Hannes where he acknowledged the problem and stated that he'd be happy to review the fix. Would you like to work on that?

[2022-01-11 14:56] mbasmanova commented on #858
@ankur4369 It would be very nice if you could help add support for the ORC format. ORC is similar to DWRF and we have support for DWRF already. I hope it would be just a handful of tweaks to add support for ORC. We should be able to help by answering questions, brainstorming and reviewing the PRs. I'm CC-ing Zhenyuan and Orri who should be able to provide guidance as well.

I suggest to first figu

[2022-01-11 21:09] yingsu00 commented on #865
@mbasmanova DuckDB parquet reader has much more problems than this. We need to come up with a plan together. I'm preparing a document/issue, stay tuned.

[2022-01-11 21:11] mbasmanova commented on #865
@yingsu00 Do you have a sense of when you might have something to share?

[2022-01-11 21:11] mbasmanova commented on #865
CC: @Mytherin @hannesmuehleisen

[2022-01-12 00:20] yingsu00 commented on #865
@mbasmanova Should be by next Thursday.

[2022-01-12 01:21] yingsu00 commented on #833
SIMD code should be guarded by hardware and OS check. Is this not the case?

[2022-01-12 01:28] yingsu00 commented on #208
Seems this is already done. Shall we close the issue? @aditi-pandit

[2022-01-12 01:40] aditi-pandit commented on #208
@yingsu00 : I have not spent much time benchmarking the like operator. But I will open a separate issue for it and close this one.

[2022-01-12 01:46] aditi-pandit opened #872 "Benchmark "like" operator"
Velox LIKE operator was added in https://github.com/facebookincubator/velox/issues/208.

This was a quick first cut implementation using regex.

Multiple open ended questions about the performance came up:
i) Comparison with DuckDB implementation : https://github.com/duckdb/duckdb/blob/master/src/function/scalar/string/like.cpp
This implementation is supposed to be 2-4x faster than regex.
ii) Opti

[2022-01-12 01:47] #208 closed

[2022-01-12 05:36] hannesmuehleisen commented on #865
I’d be curious to hear what those “much more” problems are

[2022-01-12 11:14] #855 closed

[2022-01-12 15:54] majetideepak opened #874 "Implement Presto aggregate function max_data_size_for_stats"
This is used by the `analyze` statement

[2022-01-13 04:10] yingsu00 commented on #865
@hannesmuehleisen Maybe I should rephrase the word "problem" to "unsupported features" and "future improvements", for example, Velox need to control and account for the memory Parquet reader uses. As another example, only RLE_DICTIONARY, PLAIN_DICTIONARY and PLAIN encodings are supported and we need to expand the coverage. Another example is to support rowgroup elimination based on rowgroup stats.

[2022-01-13 06:22] hannesmuehleisen commented on #865
@yingsu00 Some comments (CC @mytherin):

- As far as I know, we had added memory allocation control to the Parquet reader for you guys, is that not sufficient
- Parquet has several specified but hardly used encodings, which ones do you need in particular?
- Row group elimination based on stats is supported, maybe its an integration issue from Velox?
- Re engineering cost, what did you need to chan

[2022-01-13 07:03] yingsu00 commented on #865
cc @dborkar

[2022-01-13 12:40] yingsu00 commented on #865
@hannesmuehleisen I'm sorry I may have missed the memory allocator for Velox was already implemented, but there are other features that might help, eg caching and read ahead, pushdown aggregation and more. We may also want to optimize for the hardware our services are running on. The encoding we need at least includes DELTA_BINARY_PACKED. But anyways the basic need is we need a way to work on the

[2022-01-13 15:24] hannesmuehleisen commented on #865
Sure, drop me a line hannes@duckdblabs.com

[2022-01-13 17:47] mbasmanova commented on #846
Fixed in #869

[2022-01-13 17:47] #846 closed

[2022-01-13 18:49] majetideepak commented on #865
@hannesmuehleisen thanks for all the feedback. We will work with Ying and others to create a document with the missing pieces. I guess we can discuss further from there.

[2022-01-13 19:28] mbasmanova commented on #865
@yingsu00 Here is a nice blog post about Parquet reader in DuckDB: https://duckdb.org/2021/06/25/querying-parquet.html

[2022-01-13 22:16] mbasmanova commented on #865
Indeed, I see that being the case. There might be a bug in that logic though. I'm reading Parquet files for the 'lineitem' table created by Presto and these appear to have incomplete stats, e.g. min is present, but max is not. This generated a failure when pushing down `quantity < 24` filter.

`INTERNAL Error: Invalid PhysicalType for GetTypeIdSize`

Here is a repro: https://github.com/facebookinc

[2022-01-13 22:19] yingsu00 commented on #865
@hannesmuehleisen Thank you for your email. I actually already pinged you on linkedin. We'll send you something next week.

[2022-01-13 23:49] #849 closed

[2022-01-14 06:07] zhengxingmao commented on #619
company : Deepexi
mail: zhengxingmao@deepexi.com
Thanks!

[2022-01-14 13:32] mbasmanova commented on #837
It turns out that DuckDB has Parquet writer (in addition to reader). We could use that.

An example of using Parquet writer is: `COPY (SELECT * FROM tbl) TO 'result-snappy.parquet' (FORMAT 'parquet')`

[2022-01-14 13:32] mbasmanova commented on #874
Here is documentation of the ANALYZE for reference: https://prestodb.io/docs/current/sql/analyze.html

[2022-01-14 13:36] mbasmanova commented on #812
Hi @yvxiang,

thank you for the questions.

(1) coroutines are available only in C++ 20, but Velox requires only C++ 17.

(2) we want to allow for early termination by operators like Limit and Hash Join. Limit doesn't need to receive all its input before producing full output. As soon as it has seen N rows, it is done. Similarly, Hash Join can finish early if build side turns out to be empty. We a

[2022-01-17 02:19] yingsu00 opened #891 "Add support for reading partition key columns for ParquetReader"
The DuckDB reader doesn't create readers for partition key columns since they are not in the Parquet file. This logic needs to be handled in Velox ParquetRowReader.

[2022-01-17 02:35] yingsu00 commented on #891
cc @majetideepak @aditi-pandit

@mbasmanova Would it make sense to create a label "parquet" to help us track all parquet related issues?

[2022-01-17 02:44] yingsu00 opened #892 "DuckWrapper throws EXC_BAD_ACCESS when converting strings"
The following query throws Exception: EXC_BAD_ACCESS (code=1, address=0x0)

select shipinstruct from lineitem where partkey < 10;

Callstack

[code]

The problem was in DuckWrapper.cpp ln 207, where maxIndex = 0. Then validityVector was not allocated properly
[code]

[2022-01-17 02:44] yingsu00 commented on #892
cc @majetideepak @aditi-pandit

[2022-01-18 15:10] mbasmanova commented on #891
That's a good idea. Created.

[2022-01-19 18:24] mbasmanova opened #895 "Add support for pushing down IN ('foo', 'bar') filter into Parquet reader"
I tried to pushdown  name IN ('CANADA', 'UNITED KINGDOM') filter into a scan of TPC-H nation table, but got all rows, instead of just 2. I used ConjunctionOrFilter with 2 COMPARE_EQUAL child filters.

[code]

velox/dwio/parquet/tests/ParquetReaderTest.cpp
[code]

CC: @majetideepak @yingsu00 @hannesmuehleisen @Mytherin

[2022-01-19 21:12] majetideepak commented on #895
I debugged this issue. Below is some explanation
- `ParquetReader::ScanInternal()` reads all the rows and sets the `filter_mask` bits to all `true`
- `ApplyFilter()` is invoked with the two `::duckdb::ConjunctionOrFilters`
- Now inside `ApplyFilter`, for each filter, `child_mask` a copy of `filter_mask` is passed to `ApplyFilter()`.
- The contents of `child_mask` returned are correct. However, `fi

[2022-01-19 21:20] mbasmanova commented on #895
@majetideepak Nice debugging, Deepak. Is this on the latest version of DuckDB? Perhaps, file an issue?

[2022-01-19 21:28] majetideepak commented on #895
@mbasmanova DuckDB master should have the same problem. https://github.com/duckdb/duckdb/blob/master/extension/parquet/parquet_reader.cpp
The fix below works. I will file an issue.
[code]

[2022-01-19 23:29] majetideepak commented on #895
@Mytherin I verified this by running the following C++ example against DuckDB. I can see that the parquet_scan returns all the rows. However, the filter step prunes correctly.
[code]
[code]

[2022-01-20 02:32] yingsu00 opened #902 "Parquet query fails on double type filters"
Using velox/dwio/parquet/tests/examples/sample.parquet, the following query fails:
[code]
Error message:

++ exception with description "Exception: VeloxUserError
Error Source: USER
Error Code: UNSUPPORTED
Reason: Unsupported column type for integer filter: DOUBLE
Retriable: False
Function: makeValue

The Velox filter in column b's ScanSpec is `kBigintRange`, while the DuckDB type is DOUBLE

[2022-01-20 02:34] yingsu00 commented on #902
cc @majetideepak @mbasmanova @aditi-pandit

[2022-01-20 05:08] yingsu00 commented on #865
@mbasmanova @hannesmuehleisen Per our internal discussions, we will contact DuckDB offline. I will hold off publishing the document as a Github issue now.

[2022-01-20 15:35] majetideepak commented on #902
@yingsu00 The filter should be created as below. That worked for me.

[code]

[2022-01-21 04:09] majetideepak opened #907 "Unsupported filter in parquet reader: Filter(BigintValuesUsingBitmask, deterministic, null not allowed)"
TPC-H part table
[code]

[2022-01-21 04:12] majetideepak opened #908 "Unsupported filter in parquet reader: Filter(MultiRange, deterministic, null not allowed)"
TPC-H part table
[code]

[2022-01-25 06:17] rui-mo opened #922 "Orc reader complains unknown encoding for String column"
Hi, I tried to use Table Scan to read data from some Spark generated ORC files. But met below issue:

`Reason: buildReader string unknown encoding`

Looks like thrown from here:

    case TypeKind::VARCHAR:
      switch (static_cast<int64_t>(stripe.getEncoding(ek).kind())) {
        case proto::ColumnEncoding_Kind_DIRECT:
          return std::make_unique<SelectiveStringDirectColumnReader>(

[2022-01-25 08:03] rui-mo commented on #922
Noticed when generating ORC files, setting "spark.sql.hive.convertMetastoreOrc" to false can avoid this issue.

[2022-01-25 08:07] #922 closed

[2022-01-25 16:02] mbasmanova commented on #922
CC: @yingsu00 @majetideepak

[2022-01-26 16:11] GavinRay97 opened #927 "Slack link doesn't appear to be open to the public"
Hiya. I was interested in following the community discussion & learning more, but it seems like the Slack link in the readme isn't open for registration.

[2022-01-26 22:24] #865 closed

[2022-01-27 08:02] 9prady9 opened #934 "What is the appropriate use of localPartition"
Given below is the TPC-H query 17 using velox I have come up with. except the last node, all the other nodes seem to give my expected outcomes.

[code]
The last hashJoin between `joined` and `quantity_by_part` is giving the below error.
[code]

Any help/hints into how local partitioning works is greatly appreciated.

[2022-01-28 00:02] pedroerp commented on #833
+1. We had some chats with folks from TU Dresden who are developing a library to abstract SIMD usage called TVL. Pretty promising; this is the context:

[2022-01-28 00:09] pedroerp commented on #69
Just double checking that this is not done yet. I remember @aditi-pandit worked on this codebase.

[2022-01-28 00:48] aditi-pandit commented on #69
array_union is not implemented. array_except, array_intersect and array_join are.

[2022-01-28 15:14] mbasmanova commented on #833
Here is the repo for TLV: https://github.com/MorphStore/TVLLib#welcome-to-the-template-vector-library-tvl

[2022-01-28 16:17] 9prady9 opened #942 "Having an issue with hashJoin implementing TPC-H query 11"
q11: https://github.com/dragansah/tpch-dbgen/blob/master/tpch-queries/11.sql

[code]
Error
[code]

[2022-01-28 16:37] mbasmanova commented on #942
It could be that the plan has duplicate plan node IDs. I see you use PlanBuilder(0) twice. Would you double check?

[2022-01-28 16:45] mbasmanova commented on #934
Would you check that the final plan doesn't have any duplicate plan node IDs. I suspect PlanBuilder(1), PlanBuilder(2), PlanBuilder(3) and PlanBuilder(4) would need to be changed to make a bit of space in between the IDs, e.g. PlanBuilder(10), PlanBuilder(20), PlanBuilder(30) and PlanBuilder(40).

[2022-01-28 16:52] 9prady9 commented on #934
Sure, will check and get back to you. I am not from DB world, sorry for naive question. What is reason behind such spacing ?

[2022-01-28 17:00] mbasmanova commented on #942
Yes, you cannot reuse fragments of the plan. You need to make a new fragment and use different plan node IDs.

Yes, this would look something like this:

[code]

[2022-01-28 17:02] mbasmanova commented on #934
PlanBuilder is a helper class for building query plans for testing only. Internally, it generated plan node IDs as a sequence. By default, it starts with 0. If you use PlanBuilder two or more times in a single query plan, you'll end up with duplicate IDs. To avoid that, you can provide a starting plan node ID in the constructor, e.g. PlanBuilder(10) will make node IDs as 10, 11, 12, etc. You need

[2022-01-28 18:33] tangjiangling commented on #927
+1

[2022-01-30 01:16] yingsu00 opened #949 "ParquetRowReader::next() should return all read row cound instead of output size"
Currently ParquetRowReader::next() returns output vector size instead of the number of rows read:

[code]

In `HiveDataSource::next()`, the output of `rowReader_->next()` is added to `completedRows_` which would then be added to `stats_.rawInputPositions` for the TableScan operator.

[code]

From the naming of these variables, we can see the rowReader_->next() function should return the number of

[2022-01-30 01:19] yingsu00 commented on #949
cc @majetideepak @aditi-pandit @frankobe @mbasmanova @ienkovich

[2022-01-31 07:05] 9prady9 commented on #942
@mbasmanova I have been able to resolve that "SetHashTable twice" error by adding an duplicate entry(fragment) for `partsupp` table and using the corresponding index on second read of `partsupp`. Thank you.

I am hitting another problem now though. Please see the line highlighted(`>>2`) lines in the below query which is where the issue happens now.
[code]
The value of `global_value` is coming up a

[2022-01-31 08:00] 9prady9 commented on #934
I have changed  the plan Ids, but I am hitting something different now.
[code]
The error says hash join on BitInt key is not supported, AFAIU. Is that true ? or I am doing something wrong here.
[code]

Thank you

[2022-01-31 16:18] 9prady9 commented on #934
Finally got it working with the following:

For every read, it requires additional fragment entry.

[code]

Thank you @mbasmanova

[2022-01-31 16:18] #934 closed

[2022-01-31 18:01] majetideepak opened #956 "linux-parquet-s3 CircleCI run is failing"
The issue is with curl not being able to be installed
[code]
The root cause is that CentOS 8 is now EOL. We should move to CentOS Stream 8 and bake curl-devel into the image.

[2022-02-01 14:06] mbasmanova commented on #934
[code]

This is a limitation of Parquet reader that @majetideepak has reported earlier. We can fix it by adding support for BigintValuesUsingHashTable filter to toDuckDbFilter function in velox/dwio/parquet/reader/ParquetReader.cpp

My guess is that this filter is generated dynamically by selective hash join and is being pushed down adaptively during runtime. See https://facebookincubator.github.i

[2022-02-01 14:09] mbasmanova commented on #956
CC: @kgpai @mshang816 Krishna, Michael, is this something you could take a look at?

[2022-02-01 15:23] majetideepak commented on #956
@mbasmanova, @funrollloops opened a PR here https://github.com/facebookincubator/velox/pull/960 to fix this.

[2022-02-01 18:58] mbasmanova commented on #942
@9prady9 Pradeep, would it be possible to make a repro that I could run locally? This would make it easier for me to figure out what's going on.

[2022-02-01 19:52] aditi-pandit opened #965 "Add "arrays_overlap" function in Velox"
Presto documentation is available here: https://prestodb.io/docs/current/functions/array.html?highlight=arrays_overlap#arrays_overlap

[2022-02-01 23:59] wesm opened #967 "Possible race condition in facebook::velox::duckdb::InputStreamFileSystem"
I observed a possible race condition in `InputStreamSystem::CloseStream`:

[code]

If a thread is waiting on `wlock()` while another thread is holding the lock and closing the stream for the same id, then this would occur.  Don't have an easy minimal reproducer

[2022-02-02 00:01] #956 closed

[2022-02-02 00:16] majetideepak commented on #967
@wesm I have a fix for this coming up here https://github.com/facebookincubator/velox/pull/923
The change for this particular fix is in this commit https://github.com/facebookincubator/velox/pull/923/commits/0122b20b0378ea3c3c77673661885f3c7285e551
Can you try this fix? Thanks.

[2022-02-02 01:20] wesm commented on #967
That fix seems to work for me

[2022-02-02 12:57] 9prady9 commented on #967
@majetideepak @wesm I am still seeing the problem. I don't think it is a residue effect of past builds, because I did clean build and that still has the issue. I am trying to create a Test in existing velox tests to help share a reproducible.

[2022-02-02 20:09] #895 closed

[2022-02-02 22:26] frankobe opened #974 "`avg` function doesnt work on `real` type"
`avg` on `Real` column like `select avg(sr_return_amt) from store_returns` in tpcds leads to following exception

[code]

[2022-02-03 15:48] wesm opened #977 "Sharp edge: supporting libfmt v6"
Since https://github.com/facebookincubator/velox/commit/bc7b6fad728fdbfa3abde01664d106f30c320bbc#diff-d19cb76f09197634b6aff9106b2a0d660d49e6fab00fc7456fa528bc30c68dea, compiling with libfmt 6.x (for example what's in Ubuntu 20.04) doesn't work anymore (looks like this https://gist.github.com/wesm/db7738cfe3f7b4604652725616539a4d)

Since the version of the library is available in `FMT_VERSION`, e.g

[2022-02-03 23:39] karteekmurthys opened #980 "Circle CI job for linux-build failing intermittently"
Linux-build:

https://app.circleci.com/pipelines/github/facebookincubator/velox/4664/workflows/a8301152-13ed-4376-bb45-31045efecf23/jobs/23086

**velox_exec_test was failing and velox_functional_test failed intermittently.**

[code]
Commands used for running tests on docker container:

[code]

[2022-02-04 15:22] 9prady9 opened #987 "Example similar to ParquetTpchTest.cpp is giving unresolved function error"
Here is the below C++ code for setting up Test Fixture and following that is the manually written query plan for TPC-H query 1. This tailored based on existing example - https://github.com/facebookincubator/velox/blob/main/velox/dwio/parquet/tests/ParquetTpchTest.cpp
Let me share the error messages as the code is quite long.
[code]
I believe something is wrong with the Setup since the message says

[2022-02-04 15:39] mbasmanova commented on #987
@9prady9 Any chance you could open a WIP (work in progress) PR that illustrates the issue?

[2022-02-04 15:39] mbasmanova commented on #987
@aditi-pandit Aditi, do you have support for "<=" operator for DATE type?

[2022-02-04 15:44] mbasmanova commented on #987
@9prady9 Pradeep , I assume the error would go away if you remove .filter("l_shipdate <= cast('1998-09-02' as DATE)"). Would you confirm?

[2022-02-04 15:45] mbasmanova commented on #987
@9prady9 Pradeep, would you double check that SetupTestSuite is being called before the query runs? Perhaps, add functions::prestosql::registerAllFunctions(); to RunQuery method.

[2022-02-04 15:49] 9prady9 commented on #987
Okay, I will try both of them. I am prepping the stand alone, will share in few minutes.

[2022-02-04 16:24] 9prady9 commented on #987
@mbasmanova Removing the filter didn't help, got another error about minus being not supported. It seems just the setup is not correct somehow. However, Adding `functions::prestosql::registerAllFunctions()` in RunQuery did the query.
Can you please enlighten me what is the difference, I was under the impression, I should run this register function only once for the entire program.

[2022-02-04 16:30] mbasmanova commented on #987
@9prady9 Pradeep, glad it is working now. I don't see how you are calling RunQuery method. You need to call it from TEST_F method for GTest to automatically call setup methods for you. If you are calling it directly from main() or similar you need to call setup methods yourself.

[2022-02-04 16:45] 9prady9 commented on #987
Moving that line to `Setup` method worked. Seems like google test `SetUpTestSuite` method isn't running at all for some reason.

@mbasmanova Yes, I am calling `RunQuery` from `TEST_F` macro.

Thank you for replying so quickly! I appreciate the help.

[2022-02-04 16:45] #987 closed

[2022-02-04 16:46] majetideepak commented on #987
@9prady9 You used `static void SetupTestCase()` instead of `static void SetUpTestCase()`.

[2022-02-04 16:50] 9prady9 commented on #987
you mean `SetupTestSuite` instead of `SetUpTestSuite`, yes silly me, thank you for looking into it in any case.

[2022-02-05 02:49] yingsu00 commented on #892
Note that shipinstruct is varchar(25)

[2022-02-06 03:43] yvxiang commented on #812
OK，any plan to use coroutines in the future?

[2022-02-07 04:54] 9prady9 commented on #987
@majetideepak @mbasmanova

Using string based filters for query 6 instead of what @majetideepak has throws `Cannot resolve and(BOOLEAN, BOOLEAN) function` error. So, what other `register*` function needs to be called for this ?

[code]
vs
[code]

[2022-02-07 16:26] mbasmanova commented on #987
@9prady9 This is strange. Can you double check that `functions::prestosql::registerAllFunctions()` call is happening? This is all you should need.

[2022-02-07 16:36] 9prady9 commented on #987
Yes I can confirm this is happening even with the call to `functions::prestosql::registerAllFunctions()`. I edited the existing [example](https://github.com/facebookincubator/velox/blob/main/velox/dwio/parquet/tests/ParquetTpchTest.cpp) to ensure I wasn't doing something wrong in my setup. You should be able to reproduce by applying the above diff to the example.

[2022-02-07 17:33] mbasmanova commented on #987
@9prady9 I was able to reproduce this. The missing piece is a call to `exec::test::registerTypeResolver()`. Try adding that.

[code]

[2022-02-07 18:14] 9prady9 commented on #987
@mbasmanova Yes, that worked. Thank you!

[2022-02-07 18:17] mbasmanova commented on #987
@9prady9 Happy to hear the problem is solved.

[2022-02-08 03:02] kagamiori commented on #980
Hi Karteek, Thank you for reporting this issue! `DriverTest.cancel` was a flaky test and it has been fixed in https://github.com/facebookincubator/velox/pull/982 last week. Could you try rebasing to the latest main and let us know if there is still any problem?

[2022-02-08 05:59] xumingming opened #1006 "Having issue with Velox Slack"
Hello, when I try to register Velox Slack, I was redirected to the following page:

![image](https://user-images.githubusercontent.com/379733/152927331-a32ebc77-a127-4b65-990d-092bcb88281b.png)

It seems that only person from Meta can use the Velox Slack, is it true?

[2022-02-08 08:44] LantaoJin commented on #1006
It still can login via "I have a guest account"

[2022-02-08 09:02] xumingming commented on #1006
@LantaoJin I don't have a "guest account" yet.

[2022-02-08 09:45] LantaoJin commented on #1006
Have you logged in Slack before? You can use that email (account) and click `reset the password`.

[2022-02-08 10:59] xumingming commented on #1006
I used Slack before in other open source projects(Alluxio, Presto), but not for Velox. By doing what you suggested, I got the following email:

![image](https://user-images.githubusercontent.com/379733/152974057-e71651e3-a993-4edb-8898-aa5debb8ffdb.png)

[2022-02-08 11:39] LantaoJin commented on #1006
Could you leave your account here, I have a try to invite you to the channel. @xumingming

[2022-02-08 12:05] xumingming commented on #1006
@LantaoJin xumingmingv at gmail.com

thanks!

[2022-02-08 13:45] #812 closed

[2022-02-09 03:04] LantaoJin commented on #1006
Seems only a person who is already in the org can be invited to the channel now.

[2022-02-09 03:55] xumingming commented on #1006
@LantaoJin by "org" you mean "Meta" or the companies(e.g. Intel, Ahana) that is also participating in the project developing?

So the Velox Slack is closed for the outside world?

[2022-02-09 04:37] LantaoJin commented on #1006
I don't know. I have a guest account of Meta Slack. Slack channels themselves are grouped by enterprises. I guess it may close the registration if you could not find the register page.

[2022-02-10 09:10] 9prady9 commented on #967
The file IO stream issue reported in this issue originally seems to have been resolved by this https://github.com/facebookincubator/velox/commit/d12a1f94272492a6d10eca9ecf237d0ea0f2c5db Once we rebased from latest changes last week, the repetitive IO stream disappeared.

So, I think this particular issue can be closed.

[2022-02-12 03:10] #967 closed

[2022-02-12 05:28] xumingming opened #1032 "Implement presto bit_count function"
Presto bit_count doc here: https://prestodb.io/docs/current/functions/bitwise.html#bit_count

[2022-02-14 08:45] xumingming commented on #1032
seems already implemented in the main branch, closing it.

[2022-02-14 08:45] #1032 closed

[2022-02-14 08:47] xumingming opened #1034 "Unit test run fails"
When I run the unit tests in Clion, some of the tests would fail with the expected message, but the test itself indeed failed, is it expected? or just I used it in the wrong way?

![image](https://user-images.githubusercontent.com/379733/153829992-d39dccbb-1ea0-4d28-aa86-425ac10f58f4.png)

[2022-02-14 16:04] laithsakka commented on #1034
this is not expected

[2022-02-14 16:56] kgpai commented on #1006
Hi @jijufb , Can you help them out ?

[2022-02-14 17:01] jijufb commented on #1006
I can invite external folks to our Slack channel. Please share email address to send invitation.

[2022-02-14 17:25] karteekmurthys commented on #1034
@xumingming would you please share the complete error message. Also, which specific unit test is failing. bitCount has been flaky and fails on linux platforms occasionally. also, what platform are you running on?

[2022-02-14 20:29] jijufb commented on #927
I can invite external folks to our Slack channel. Please share email address to send invitation.

[2022-02-14 20:52] GavinRay97 commented on #927
Thanks! =)

ray.gavin97@gmail.com

[2022-02-14 21:15] jijufb commented on #927
I have send Slack invite to your gmail account.

[2022-02-14 21:20] jijufb commented on #1006
I believe the email address is - xumingmingv@gmail.com.
I have send slack invitation to this email account. Please check and confirm.

Let me know if any issues accessing slack workspace.

[2022-02-14 22:20] tangjiangling commented on #927
Thank you :)

surpass.simple@gmail.com

[2022-02-14 22:54] markjin1990 opened #1040 "Questions about the unsupported PlanNodes in CodeGen"
Hi! I am trying to run presto + velox with CodeGen turned on, and found that most SQL execution will get stuck. This might be caused by the fact that codegen analysis/compilation for some of the plan node types (e.g., LimitNode) are not yet supported ([CodegenASTAnalysis.h](https://github.com/facebookincubator/velox/blob/main/velox/experimental/codegen/CodegenASTAnalysis.h#L58), [CompiledExpressio

[2022-02-14 23:30] jijufb commented on #927
I have send Slack invite to this gmail account.

[2022-02-15 02:24] xumingming commented on #1034
@karteekmurthys the complete error message:

[code]

[2022-02-15 02:31] xumingming commented on #1034
@majetideepak the compiler is clang:

![image](https://user-images.githubusercontent.com/379733/153981368-7f084a7e-d780-4811-8db4-68d232a7e8e5.png)

[2022-02-15 02:47] xumingming commented on #1006
Thanks @jijufb , closing it.

[2022-02-15 02:47] #1006 closed

[2022-02-15 02:53] xumingming commented on #1034
My OS is MacOS. Take BitwiseTest.cpp for example, seems all the tests with `assertUserError` calls in it fails, e.g.:

[code]

shiftLeft, logicalShiftRight, bitCount all fails.

[2022-02-15 11:52] rui-mo opened #1047 "The better way to use OBJECT libraries"
When using below libraries in the computing, OBJECT should be removed to compile a static library.

https://github.com/facebookincubator/velox/blob/main/velox/connectors/hive/CMakeLists.txt#L15
https://github.com/facebookincubator/velox/blob/main/velox/functions/prestosql/CMakeLists.txt#L18
https://github.com/facebookincubator/velox/blob/main/velox/functions/prestosql/aggregates/CMakeLists.txt#L20

[2022-02-16 00:45] markjin1990 opened #1053 "How to expose statistics like "branch misses" in CodeGen?"
[CodegenPerf.cpp](https://github.com/facebookincubator/velox/blob/main/velox/experimental/codegen/benchmark/CodegenPerf.cpp#L34) has shown some critical codegen statistics like `branch misses` and `branch instructions`. However, I have not seen any such statistics exposed during running CodegenPerf or any other benchmark tests for Velox. May I ask how can I enable exposing such statistics in velox

[2022-02-16 03:17] pedroerp commented on #1053
@laithsakka has more context on that codebase; could you help @markjin1990 here?

[2022-02-16 09:10] xumingming commented on #1034
And if I run all the tests: `make unittest`, the following fails:

[code]

[2022-02-16 22:16] mbasmanova commented on #1040
@markjin1990 At this moment we are not actively developing codegen functionality. I'm curious about the motivation for using codegen. Have you have tried non-codegen path already and are you seeing inefficiencies you are hoping to "fix" using codegen?

CC: @laithsakka

[2022-02-16 22:52] markjin1990 commented on #1040
Thank you Marsh for answering the question! At this moment, I p. My long-term plan is to explore opportunities

[2022-02-16 23:01] markjin1990 commented on #1040
Thank you @mbasmanova for answering the question. I am simply playing with the existing codegen in velox and found out that the code compilation time could take >5s in tests like [CodegenBenchmarks.cpp](https://github.com/facebookincubator/velox/blob/main/velox/experimental/codegen/benchmark/CodegenBenchmarks.cpp). That's why I was trying to run prestocpp+velox with codegen turned on to see if the

[2022-02-17 03:08] itsinthebag opened #1059 "LocalMergeNode constructor argument unmatch"
When I run make debug, I'm getting this error after the following commit: _d93c3f19e3cca25337d52ebf822d6ea779197401_
But if I reset to previous commit: _b242f82aa44f163fa49f05467adbc027ee533014_, the error disappear.

`In file included from /prestocpp/velox/velox/core/PlanFragment.h:19,
                 from /prestocpp/./presto_cpp/main/types/PrestoToVeloxQueryPlan.h:19,
                 from /pre

[2022-02-17 13:42] majetideepak commented on #980
The main branch looks good.

[2022-02-17 13:42] #980 closed

[2022-02-17 14:09] yvxiang commented on #927
Thank you very much @jijufb

linyvxiang@gmail.com

[2022-02-17 14:57] majetideepak commented on #1034
@xumingming This is definitely an issue with your setup.
Can you use gdb and step into `assertUserError` to see what is causing the SIGSEGV?

[2022-02-17 15:30] mbasmanova commented on #974
CC: @spershin

[2022-02-17 17:13] laithsakka commented on #1040
Hi @markjin1990,
The work at codegen is suspended for now and hence its not tracked that its still working
with all the changes that are happening in VELOX. since its not being updated nor tracked.

Back to your questions, the codegen for velox was build and meant for Large queries that runs for minutes,
and hours.  In that case the 5s overhead during query compilation wont matter.
It was not meat

[2022-02-17 22:14] mbasmanova opened #1066 "Enhance UnnestOperator to support map unnest column"
UnnestOperator currently supports only one column of type array. It would be nice to allow unnesting a column of type map.

https://prestodb.io/docs/current/sql/select.html#unnest

CC: @aditi-pandit

[2022-02-18 03:19] wubiaoi commented on #927
Thanks!
sywubiao@gmail.com

[2022-02-18 03:24] itsinthebag commented on #1059
@majetideepak thanks for the reply, pull presto_cpp does resolve the issue.

[2022-02-18 03:24] #1059 closed

[2022-02-19 00:56] spershin commented on #974
We are trying to take care of this (along with other issues) at the moment.

[2022-02-19 01:44] markjin1990 opened #1082 "`StringEncodingMode` not defined in velox/functions/lib/string/StringCore.h"
The CodeGen generated code may contain `functions::stringImpl::upper<functions::stringCore::StringEncodingMode::MOSTLY_ASCII>` and when the compiler compiles the generated code during codegen, it may complain "error: no member named 'StringEncodingMode' in namespace 'facebook::velox::functions::stringCore'".

My guess is that `functions::stringCore::StringEncodingMode::MOSTLY_ASCII` stores whether

[2022-02-21 07:45] long1208 commented on #619
company:XYF
mail:13121311543@163.com
thanks!

[2022-02-21 22:46] frankobe commented on #974
@spershin I submit my fix for this issue in https://github.com/facebookincubator/velox/pull/1087. Please take your time to review it as it blocks TPC-DS now

[2022-02-22 02:01] xumingming commented on #1034
After several rounds of rebuild, OS upgrade etc, assertUserError now works as expected, closing the issue.

[2022-02-22 02:01] #1034 closed

[2022-02-22 05:09] xumingming opened #1088 "Naming inconsistency: ColumnHandle should be named as ConnectorColumnHandle?"
[code]

[2022-02-22 06:01] majetideepak opened #1089 "Fix failure when built with TREAT_WARNINGS_AS_ERRORS=ON and Clang version >= 12.0"
The error is below. We should add `-DTREAT_WARNINGS_AS_ERRORS=ON` to one of the CI runs.
[code]

[2022-02-22 19:58] kkeita commented on #1053
@markjin1990  Hello. We do not have a consistent way to export the statistics you are mentioning on the codegen. The example you are seeing was an adoc measurement we did for experimentation.
We do have an API however to produce the desired statistics (codegen/vector_function/Perf.h), but you would need to insert explicit calls to collect the counter values around the code you are interrested in.

[2022-02-23 01:10] majetideepak commented on #1089
We already do enable `TREAT_WARNINGS_AS_ERRORS` by default. Looks like the issue is limited to MacOS > 12.0 toolchain

[2022-02-23 02:46] xumingming commented on #1089
by `MacOS toolchain >= 12.0`, you mean clang version greater than 12.0?

[2022-02-23 02:53] majetideepak commented on #1089
@xumingming That is correct. Fixed it.

[2022-02-24 02:56] utf7 commented on #619
company:https://www.ximalaya.com/

[2022-02-24 03:20] wubiaoi commented on #619
company: meituan
mail: sywubiao@gmail.com
Thanks！

[2022-02-24 04:14] #619 closed

[2022-02-24 04:18] jijufb commented on #619
Bumping this message -
If you are trying to get access to Presto code, please share below details to jiju@fb.com
1. Your full name
2. Company name
3. Company physical address
4. Your email address.

This will help me to initiative NDA process.

If there is already a valid NDA, I should be able to provide access instantaneously.

[2022-02-24 04:21] tangjiangling commented on #619
Thanks a lot.

[2022-02-25 03:55] armsword opened #1096 "Compilation failed on Mac system"

[2022-02-25 05:05] #1096 closed

[2022-02-28 16:16] mbasmanova commented on #974
@spershin Sergey, would you summarize what's the current plan to address this and similar problems?

[2022-02-28 16:43] aditi-pandit commented on #974
Hi Frank,

  I had left a comment on this PR that might have got lost.

  Another approach to this solution could be to handle the order of the arguments in the function VeloxExprConverter::toVeloxExpr in presto_cpp. Is that solution not feasible ? That fix might be cleaner than adding these new signatures into Velox.

[2022-03-10 02:28] ImTangYun commented on #619
company:bigo
mail:candycloud6666@gmail.com

thanks!

[2022-03-10 08:25] zwykmm opened #1170 "Compile error when Create MapType instance use Type::create"
https://github.com/facebookincubator/velox/blob/5176ce40f4612998d792990229b74bdc6cbf11af/velox/type/Type.h#L452

the follow code compile fail:
[code]
Error message:
no matching function for call to 'forward'
Development environment:
clang 13.0.0 c++11

suggest:
[code]

[2022-03-10 11:13] majetideepak commented on #1170
C++17 is the standard used by Velox. How are you building the code? Are you using any editor?

[2022-03-14 21:13] #1066 closed

[2022-03-15 00:47] mbasmanova opened #1210 "ci/circleci: linux-benchmarks-basic fails"
CircleCI job ci/circleci: linux-benchmarks-basic started failing:

https://app.circleci.com/pipelines/github/facebookincubator/velox/6002/workflows/55dc322c-3399-42f3-9e40-e2d8de615a94/jobs/31238

[code]

[2022-03-15 00:48] mbasmanova commented on #1210
@majetideepak Deepak, would you take a look to see if https://github.com/facebookincubator/velox/pull/1200 is responsible for the failure?

[2022-03-15 00:48] mbasmanova commented on #1210
CC: @pedroerp @kagamiori @kgpai @laithsakka

[2022-03-15 00:49] mbasmanova commented on #1210
CC: @aditi-pandit @9prady9

[2022-03-15 01:14] majetideepak commented on #1210
@mbasmanova I will take a look.

[2022-03-15 01:32] dingqiaoyi commented on #619
company : Alibaba cloud
mail: dingqiaoyi@qq.com

thanks

[2022-03-15 01:49] jijufb commented on #619
Share your GitHub user name.

Thanks,
Jiju

From: DING QIAOYI ***@***.***>
Sent: Monday, March 14, 2022 6:32 PM
To: facebookincubator/velox ***@***.***>
Cc: Jiju John ***@***.***>; State change ***@***.***>
Subject: Re: [facebookincubator/velox] How connect presto with velox? (Issue #619)

company : Alibaba cloud
mail: ***@***.******@***.***>

thanks

—
Reply to this email directly, view it on Git

[2022-03-17 02:56] jiangzhx commented on #619
@jijufb
Company name :  analysysdata
Your email address:  jiangzhx@gmail.com

thanks

[2022-03-17 23:30] mbasmanova opened #1237 "Clarify memory reuse in operators"
Operators produce batches of output. In each batch, there are two types of columns: (1) input columns projected as is possibly wrapped in a dictionary; (2) columns calculated by the operator. Columns (1) may use multiple layers of encodings added as they pass through a series of operators. Columns (2) tend to be flat and are candidates for re-use.

Here are some examples.

FilterProject operator r

[2022-03-17 23:37] mbasmanova commented on #977
CC: @kgpai

[2022-03-21 21:26] majetideepak opened #1249 "EXC_BAD_ACCESS when running TPCH benchmarks"
I see a non-deterministic crash when running the TPCH benchmarks (added here https://github.com/facebookincubator/velox/pull/1119) with `num_drivers = 16`.

The benchmark runs all the benchmarks but the crash seems to happen during destruction of q18.

[code]

The stack trace is below.

[code]

[2022-03-22 03:14] rui-mo opened #1254 "An operator is needed to get input from ArrowArrayStream"
A source operator is needed to get input from ArrowArrayStream. The fetched data will be converted into RowVector for Velox's computing.

[2022-03-22 14:01] rui-mo opened #1257 "Abi header being conflict with Arrow's"
We found below header would be confict with Arrow's abi.h when including both:
https://github.com/facebookincubator/velox/blob/main/velox/vector/arrow/Abi.h.
Found one way to solve this issue without changing names, that is to move Velox's Abi.h to the same path as Arrow's, and add velox/vector into include path. In this way, compiler will just use the first found one.

[2022-03-22 15:04] majetideepak opened #1259 "TPC-H Q18 performance"
I ran the tpc-h benchmark(https://github.com/facebookincubator/velox/pull/1119) and observed that the performance does not scale with the number of drivers.
Setup: Data Format = DWRF, SF = 10, hardware:MacBook Pro (32 GB 2667 MHz DDR4, 2.6 GHz 6-Core Intel Core i7);
Below are the results
[code]

Stats for 8 drivers
[code]

[2022-03-22 15:51] majetideepak commented on #1259
I ran Q18 in DuckDB against Parquet format and below are the results.
[code]
The execution profile from DuckDB is
![duckdb](https://user-images.githubusercontent.com/5091159/159522652-c7519a6a-ac1c-4fcd-819d-5d1d43083109.jpg)

[2022-03-23 20:55] #1089 closed

[2022-03-24 12:08] #1088 closed

[2022-03-24 12:35] xumingming opened #1280 "implicit conversion from 'std::numeric_limits<long long>::type' (aka 'long long') to 'double' changes value from 9223372036854775807 to 9223372036854775808"
FAILED: velox/functions/sparksql/CMakeFiles/velox_functions_spark.dir/RegisterArithmetic.cpp.o
ccache /usr/local/opt/llvm/bin/clang++ -DBOOST_ALL_NO_LIB -DBOOST_CONTEXT_DYN_LINK -DBOOST_FILESYSTEM_DYN_LINK -DBOOST_PROGRAM_OPTIONS_DYN_LINK -DBOOST_REGEX_DYN_LINK -DBOOST_SYSTEM_DYN_LINK -DBOOST_THREAD_DYN_LINK -DCODEGEN_ENABLED=1 -DFMT_LOCALE -DGFLAGS_IS_A_DLL=0 -I/usr/local/opt/icu4c/include -I/Use

[2022-03-24 12:46] xumingming commented on #1280
similar to https://github.com/facebookincubator/velox/issues/1089

[2022-03-24 12:46] xumingming commented on #1280
@majetideepak

[2022-03-24 13:05] majetideepak commented on #1280
@xumingming This should be fixed as part of https://github.com/facebookincubator/velox/pull/1240 that got merged yesterday. Can you pull this change and verify?

[2022-03-24 21:22] pedroerp commented on #1249
This is probably because the benchmark global object is initialized/destructed outside of main()'s scope. What I did in the other "basic" benchmarks is to have a global unique pointer and allocate/reset from main. This should solve the issue.

[2022-03-25 00:56] xumingming commented on #1280
@majetideepak similar issue, but in different file: functions/sparksql/Arithmetic.h

[2022-03-25 00:57] xumingming opened #1286 "iterator<std::forward_iterator_tag, std::pair<int, const char *>>' has been explicitly marked deprecated"
[code]
                                               ^

[2022-03-28 13:47] majetideepak commented on #1259
A straightforward improvement is to move the filter as described below. https://github.com/facebookincubator/velox/blob/7e9f87de2a0df36a95596adc10732b8024341744/velox/exec/tests/utils/TpchQueryBuilder.cpp#L311
to the subquery https://github.com/facebookincubator/velox/blob/7e9f87de2a0df36a95596adc10732b8024341744/velox/exec/tests/utils/TpchQueryBuilder.cpp#L292
The results with this change are
[co

[2022-03-28 15:16] majetideepak commented on #1286
This unfortunately is coming straight from the Thrift library.
https://github.com/apache/thrift/blob/66d897667c451ef6560d89b979b7001c57a3eda6/lib/cpp/src/thrift/Thrift.h#L53

[2022-03-28 15:40] #1280 closed

[2022-03-28 15:59] #1259 closed, assigned to nobody

[2022-03-29 09:41] xumingming commented on #1286
@majetideepak can we disable the `deprecated` behaviour when compiling external sources?

[2022-03-29 17:47] majetideepak opened #1307 "Bug with toPlanStats inside PlanNodeStats.cpp"
I see that the `PlanNodeId` is not unique across the pipeline operators. For example, the TPC-H q18 query Velox plan here
 https://github.com/facebookincubator/velox/blob/main/velox/exec/tests/utils/TpchQueryBuilder.cpp#L255 has the following pipeline stats with a common `PlanNodeId` across operators (listed a couple).
[code]
However, toPlanStats uses the PlanNodeId to accumulate the stats
[code]

[2022-03-29 17:47] majetideepak commented on #1307
@mbasmanova Any thoughts here? Thanks.

[2022-03-29 20:32] majetideepak commented on #1286
@xumingming I have a fix here https://github.com/facebookincubator/velox/pull/1310, can you try?

[2022-03-29 22:17] majetideepak commented on #1307
Nevermind! I realized a Plan node here is being split into multiple operators, so they carry the same `PlanNodeId`.
I was confused since the sharing appeared across pipelines, but that is expected.

[2022-03-29 22:17] #1307 closed

[2022-03-30 19:31] #1286 closed

[2022-03-31 12:00] majetideepak commented on #1286
I am using 13.1.6 and I don't see any. What are you on?

[2022-03-31 12:01] majetideepak commented on #1286
Can you paste one that you see after this fix?

[2022-04-01 00:54] jwyles-ahana opened #1328 "Make fails on M1 mac due to unsupported -march=native flag"
Running make after successfully running scripts/setup-macos.sh results in the following error message on M1 mac.

[code]

Looks like this flag is not supported on M1 processors: https://stackoverflow.com/questions/65966969/why-does-march-native-not-work-on-apple-m1

[2022-04-01 00:54] yingsu00 commented on #1328
Related issue: https://github.com/facebookincubator/velox/issues/833

[2022-04-01 01:02] jwyles-ahana commented on #1328
After removing the SIMD related flags we got this error:

[code]

[2022-04-01 01:03] yingsu00 commented on #1328
Looks like  `-march=native` is enabled by default. This causes issue on M1 processors. One possible way to fix this is to detect the architecture in the CMAKE file, and only add those flags on x86 machines.

[2022-04-01 01:03] jwyles-ahana commented on #1328
This is an issue because Buffer.h includes SimdUtil.h by default.

[2022-04-01 01:23] yingsu00 commented on #1328
cc @majetideepak @aditi-pandit

[2022-04-01 10:50] a516072575 commented on #619
@jijufb

company : BEKE
mail: 516072575@qq.com

thanks

[2022-04-02 05:12] xumingming commented on #1286
[code]

[2022-04-02 08:20] dingqiaoyi opened #1337 "Fail to build on Ubuntu after folly v2022.03.14.00 upgrade"
`../folly/IPAddressV4.cpp:73:64:   required from here
../folly/Range.h:1558:68: error: passing ‘const fmt::v7::formatter<folly::Range<const char*> >’ as ‘this’ argument discards qualifiers [-fpermissive]
 1558 |     return formatter<string_view>::format({s.data(), s.size()}, ctx);
      |                                                                    ^
In file incl`

 fmtlib/fmt upgrade to 8.0

[2022-04-02 08:38] dingqiaoyi opened #1339 "Mac build broken due to failed gtest submodule compilation using clang"
$ clang --version
Apple clang version 11.0.3 (clang-1103.0.32.62)
Target: x86_64-apple-darwin21.3.0
Thread model: posix
InstalledDir: /Library/Developer/CommandLineTools/usr/bin

The version of gtest changed to be release-1.10.0 seems to be the cause.

[2022-04-02 08:59] xumingming commented on #1286
[code]

[2022-04-02 09:10] Dream-hu commented on #1339
**new submodule gtest compile failed with clang 1.10.1 because of undeclared identifiers**
some error messages：
cmake --build _build/release -j 8
[536/818] Building CXX object third_party/googletest/googlemock/CMakeFiles/gmock.dir/src/gmock-all.cc.o
FAILED: third_party/googletest/googlemock/CMakeFiles/gmock.dir/src/gmock-all.cc.o
.../third_party/googletest/googlemock/include/gmock/internal/gmock-i

[2022-04-02 09:15] yvxiang opened #1340 "Any plan to implement combine_hash and hash_code?"
I try to connect presto with velox，and find that it doesn't work when with group by statement. Because $operator$hash_code and presto.default.combine_hash is not implement yet. So do we have any plan to support it ?

[2022-04-02 14:42] xumingming commented on #1286
The previous error should be fixed by this googletest commit: https://github.com/google/googletest/commit/f7902802f1a61140e188223fb6d1c95925cbec4a

[2022-04-04 14:24] mbasmanova commented on #1339
CC: @wenleix @mshang816

[2022-04-04 14:29] mbasmanova commented on #1328
CC: @Yuhta @kgpai Jimmy is working on replacing explicit SIMD with xSIMD library calls.

https://github.com/xtensor-stack/xsimd#readme

[2022-04-05 21:28] yingsu00 commented on #858
@ankur4369 Is there any update on this?

[2022-04-06 18:13] majetideepak opened #1369 "Build failure using Clang 13.1.6 due to googletest submodule"
I am trying to build `prestosql/tests/ArithmeticTest.cpp` on my Mac with Clang 13.1.6 and it fails with the following error.
This was also reported here. https://github.com/facebookincubator/velox/issues/1286#issuecomment-1086595439
Essentially, `-Werror` is set by default and warnings are erroring out. The fix for this is merged in googletest commit https://github.com/google/googletest/commit/f79

[2022-04-06 22:05] mbasmanova commented on #1369
I ran into the same issue on my Mac and edited the googletest to workaround. Perhaps, we can upgrade to 1.11? CC: @wenleix @kgpai

[2022-04-07 01:10] mbasmanova commented on #1340
I suggest to SET SESSION optimize_hash_generation=false. This will change the query plan to not require computing these hashes.

[2022-04-07 01:11] #974 closed

[2022-04-07 01:12] mbasmanova commented on #965
@karteekmurthys Is this fixed now?

[2022-04-07 01:13] mbasmanova commented on #942
@9prady9 Pradeep, do you still see this issue or has it been resolved?

[2022-04-07 03:49] dingqiaoyi opened #1374 "A little bit hard to understand the arguments peeling in expression evaluation."
I'm reading the codes of the expression evaluation recently.

I found the vectorized expression evaluation framework is very impressive, especially some features of common subexpression sharing, lazy loading, separating the NULL value handle which is quiet friendly to the intra-core parallelism, as well as the vector reusing strategy.

But I found there is a little bit hard to understand the argum

[2022-04-07 04:53] 9prady9 commented on #942
I haven't revisited this recently. Since it has been reported, I believe we have refactored the API quite a bit and I doubt this will be issue now that source node ids are captured programmatically instead of giving integers. I am closing this for now, will re-open if I encounter it again later, but I doubt it though. Thanks for looking into it.

[2022-04-07 04:53] #942 closed

[2022-04-07 05:54] yingsu00 commented on #1328
Thanks @mbasmanova for the link. But it's much desired to have a non-SIMD code path as the default, since the OS can disable SIMD anyways, even on processors that support it.
Also, I might have missed it, but AFAK, it seems the xSIMD library doesn't support all SIMD intrinsics. For example, I couldn't find its support for pdep and pext instructions that are quite essential to Varint decoding.

[2022-04-07 09:21] mbasmanova commented on #1374
@dingqiaoyi There are a few resources to read about expression evaluation:

- https://facebookincubator.github.io/velox/develop/expression-evaluation.html
- 2.4 Expression Calculation section in https://homepages.cwi.nl/~boncz/snb-challenge/chokepoints-tpctc.pdf

[2022-04-07 09:23] mbasmanova commented on #942
@9prady9 Thank you, clarifying, Pradeep. Glad to hear the issue is resolved.

[2022-04-07 09:25] mbasmanova commented on #1328
Jimmy have been looking into xSIMD closely and would know better, but it is also my understanding that some instructions are missing. We were thinking it wouldn't be too difficult to contribute these to xSIMD.

[2022-04-07 14:08] mbasmanova opened #1376 "Add decimal types"
Decimal types have two parameters: precision and scale. Short decimal type supports max precision of 18. Long decimal type supports max precision of 38. Short decimals can be represented using int64_t. Long decimals can be represented using int128_t.

Scalar operations for decimal types:
 - add
 - subtract
 - multiply
 - divide
 - modulus
 - negation

Aggregate functions:
- sum
- avg
- min
- max
-

[2022-04-07 14:47] rui-mo opened #1377 "Exception cannot be caught"
Found below exception cannot be caught in below code. Instead, the code will stop and print some error messages. If throwing std::runtime_error, it can be caught.
Anything missing here? Thanks for your reply!

[code]

Looks like VELOX_NYI will throw VeloxRuntimeError which extends std::exception.

[code]

[2022-04-07 18:08] majetideepak commented on #1328
The expectation to have a mvp is mid May.

[2022-04-07 23:02] majetideepak commented on #1369
After the recent upgrade to 11.0, I now get the following error
[code]

[2022-04-07 23:20] kgpai commented on #1369
@majetideepak This pr by @kagamiori should fix the problem https://github.com/facebookincubator/velox/pull/1325.

[2022-04-07 23:52] kagamiori commented on #1369
Actually, my PR fixes errors in GTest 1.10 by upgrading to GTest 1.11. I didn't have these errors on my mac when using GTest 1.11 and MacOSX12.3.sdk. My clang version is also 13.1.6. @majetideepak Which GTest and MacOS SDK version are you using?

[2022-04-08 00:57] majetideepak commented on #1369
My bad, I did mean GTest 1.11 that landed today on main. My SDK is also MacOSX12.3.sdk.
@kagamiori are you able to build `velox/functions/prestosql/tests/ArithmeticTest.cpp` ?
Can you try deleting the build directory and try from a clean state?

[2022-04-08 01:30] kagamiori commented on #1369
Hi @majetideepak, I just tried again on my mac by git clone the latest Velox repository and build everything from scratch (in a new directory I never used before, so I think it has a clean state). I didn't got any error and I double-checked that velox/functions/prestosql/tests/ArithmeticTest.cpp is built.

[2022-04-08 13:18] mbasmanova opened #1381 "Unsupported filter in parquet reader: BigintValuesUsingHashTable"
ParquetTpchTest.Q18 is failing on main:

https://circleci.com/api/v1.1/project/github/facebookincubator/velox/36554/output/110/0?file=true&allocation-id=625024fbab5841206bde4e42-0-build%2F7F7AA1C8

[code]

CC: @gggrace14 @majetideepak

[2022-04-08 13:20] mbasmanova commented on #1377
@rui-mo Rui, I'm not sure what the question is about, but I'm seeing that VeloxRuntimeError extends VeloxException which extends std::exception. Are you seeing something different?

[code]

[2022-04-08 13:25] mbasmanova commented on #1381
I wonder if this is due to #1314 - Push down dynamic filters by default

[2022-04-08 14:11] rui-mo commented on #1377
@mbasmanova Thanks for your reply.
Yes, it extends them. But the issue I met is I cannot catch any exception with above catch clauses after throwing exception with VELOX_NYI. I can only got below error message, and the program stopped. If I throw std::runtime_error instead, the catch clauses wored well.

[code]

[2022-04-08 14:28] mbasmanova commented on #1377
@rui-mo I tried your code and it seems to work. I'm running on Mac. What OS do you run on? Which compiler do you use?

[code]

[2022-04-08 14:49] majetideepak commented on #1381
@mbasmanova the test started failing after https://github.com/facebookincubator/velox/pull/1314. Let's disable the test for now. I want to see if this is a positive or negative improvement of always pushing dynamic filters down.

[2022-04-08 15:07] majetideepak commented on #1369
@kagamiori thanks for taking the time to check this. I am still seeing this. Let's keep it open to see if anybody else is hitting this.

[2022-04-08 15:59] parmeet commented on #1369
Thanks! I am seeing same issue on my side as well while compiling latest main of TorchArrow. cc: @wenleix, @kgpai

[2022-04-08 16:48] giulio98 opened #1383 "Build fail on ubuntu 20.04"
I'm trying to build velox on Ubuntu 20.04 using the provided script setup-ubuntu.sh
These are my steps:
[code]

Unfortunately, the build fails with the following here due to folly
![image](https://user-images.githubusercontent.com/79860892/162485843-130002b4-e040-4066-8dc1-828a611b303b.png)

I tried using different releases of folly, to no avail.
I don't know how to fix this problem, can anyone pl

[2022-04-08 17:49] gggrace14 commented on #1381
Fix proposed is to add support for the following IN-list filters to Parquet reader and toDuckDbFilter(). From a quick lookup, [DuckDb should support IN list](https://github.com/facebookincubator/velox/blob/main/velox/external/duckdb/duckdb.hpp#L5577-L5578).

kBigintValuesUsingHashTable
kBigintValuesUsingBitmask

Will look at details, as well as how we support kBytesValues. Will come back and updat

[2022-04-08 18:06] majetideepak commented on #1381
@gggrace14, @mbasmanova  Thanks for looking into this. I also agree that supporting these filter types is best.

[2022-04-08 18:34] majetideepak commented on #1381
I reopened this to track adding support for BigintValuesUsingHashTable filter in the ParquetReader.

[2022-04-08 19:36] majetideepak commented on #1381
I did some investigation into this as well. Looks like the issue existed prior to the changes in https://github.com/facebookincubator/velox/pull/1314 but did not show up since we use SF 0.01 for the ParquetTpchTest and the filter never got pushed down as we used to push only after 10'000 rows. However, it would fail for SF 10. Let me know if I can help with the filter implementation in any way.

[2022-04-08 19:53] gggrace14 commented on #1381
Yeah, that makes a lot of sense. I was thinking why the issues didn't happen before and guess about the 10'000 condition. Thank you, @majetideepak , for helping investigate!

I will be implementing the new filter support. Will ask your help if I have questions :)

[2022-04-11 05:46] jiangzhx commented on #1383
i got same issues on wsl2.

[2022-04-12 11:26] mbasmanova commented on #1376
WIP PR from @karteekmurthys : #1402

[2022-04-12 11:26] mbasmanova commented on #1377
@rui-mo Rui, is this resolved now or would like some help?

[2022-04-12 11:27] mbasmanova commented on #1374
@dingqiaoyi Did you find these documents helpful? Do you have any follow-up questions?

[2022-04-12 11:27] mbasmanova commented on #1340
@yvxiang Yang, have you tried setting session property optimize_hash_generation=false ? Did that resolve the issue you were seeing?

[2022-04-12 11:29] mbasmanova commented on #1339
@dingqiaoyi A recent PR #1325 upgraded gtest to 1.11. Would you rebase onto latest main and retry?

CC: @kgpai @kagamiori

[2022-04-12 11:30] mbasmanova commented on #1170
@zwykmm Have you tried upgrading to C++ 17 ? Do you still experience build failures?

[2022-04-12 11:30] mbasmanova commented on #902
@yingsu00 Was suggestion from Deepak helpful? Is this issue resolved now?

[2022-04-12 11:31] mbasmanova commented on #907
@gggrace14 Ge is adding support for this filter in #1398

[2022-04-12 11:32] mbasmanova commented on #892
@yingsu00 Has this been fixed or is this still an open issue?

[2022-04-12 12:59] rui-mo commented on #1377
@mbasmanova Thanks for your time.
I found the exception was not caught due to missing the dependent library in our project, so the exception thrown did not work well actually. I'm working on fixing the libraries linking issues referring to below code.
[code]
Closed this issue, and thanks for your attention on it!

[2022-04-12 12:59] #1377 closed

[2022-04-12 13:12] mbasmanova commented on #1377
@rui-mo Thank you for clarifying.

[2022-04-12 20:48] karteekmurthys commented on #1376
@mbasmanova thanks for adding the background details and the WIP PR.
Here is a WIP PR for Signature support for Decimal type https://github.com/facebookincubator/velox/pull/1406/

[2022-04-13 15:38] mbasmanova commented on #1374
FYI, we now recommend that all functions are added using Simple Function APIs described in https://facebookincubator.github.io/velox/develop/scalar-functions.html#simple-functions

[2022-04-13 15:48] mbasmanova commented on #1374
I'm not sure I understand the question.

The following diagram shows the differences in these methods: https://facebookincubator.github.io/velox/develop/expression-evaluation.html#evaluation-algorithm

When writing a function, you can assume that if function declares default null behavior it won't be called on null inputs. You can also assume that the engine will do its best to not call function r

[2022-04-14 03:02] sijialouintel commented on #1328
Hi @majetideepak, I am developing on ubuntu 20.04, and get the error that
![image](https://user-images.githubusercontent.com/93312725/163305203-e1dd9709-a8c1-4559-9bcb-3246fc532120.png)
Is it also caused by the compiler flags? Or, is there any solutions for it?

[2022-04-14 04:37] dingqiaoyi commented on #1374
@mbasmanova  My question is about the implementation of that two features.

Take the peeling of encodings as  an example. Similar code snippets can be found both in Expr::evalEcodings （peelEncodings）and Expr::eval （applyFunctionWithPeeling）, but I cannot tell the differences between them.
According to the document,  Expr::evalEncodings are working with the input references of the whole expression

[2022-04-14 06:00] yvxiang commented on #1340
Yes， It works now.    Myabe I'll implement combine_hash and hash_code sometime:)

[2022-04-14 06:03] dingqiaoyi commented on #1383
@giulio98 @jiangzhx
Removing "--masm=intel" from  the COMPILER_FLAGS could solve this problem.
@mbasmanova Is this flag necessary to build velox, generating the assembly code in Intel syntax?
There seems to be a PR working on removing this flag in the setup-macos.sh
https://github.com/facebookincubator/velox/pull/1336

[2022-04-14 06:41] yingsu00 commented on #1328
I'm doubtful whether using xSIMD is worthwhile.

Firstly, its Batch<T, A> construct functionality is pretty limited(e.g. simple arithmetic operation on two batches in a loop), and for such cases, the compilers may already be able to auto-vectorize the code, even  plain code and not SIMD intrinsics.  E.g. this loop would be auto-vectorized on most recent compilers:
[code]
Using xSIMD requires to re

[2022-04-14 10:22] mbasmanova commented on #1340
Nice to hear you are unblocked. To clarify, we specifically do not want to use optimize_hash_generation optimization with Prestissimo/Velox because Velox may uses array-based aggregation and join as well as normalized keys. You can read more about these in https://facebookincubator.github.io/velox/develop/aggregations.html

[2022-04-14 10:22] #1340 closed

[2022-04-14 10:26] mbasmanova commented on #1383
I haven't tried this. Maybe try to see what happens.

@kgpai @mshang816 @Yuhta Krishna, Michael, Jimmy, would you know how to unblock compilation on ubuntu 20.04?

[2022-04-14 12:58] sijialouintel opened #1426 "'__builtin_ia32_tzcnt_u64' was not declared in this scope"
Hi, I am developing on ubuntu 20.04. When building velox, it raised an error:
![image](https://user-images.githubusercontent.com/93312725/163394483-638f15a7-ee38-4fee-8daa-c990dbb93b03.png)
I've tried with gcc 9.3.0 and 9.4.0, which result in the same error.
Could you help figure out the cause of this error?

[2022-04-14 17:14] gggrace14 commented on #1381
#1423  added support for Velox filter BigintValuesUsingHashTable, which converts to conjunction or of DuckDB filters. DuckDB doesn't have a complete support for IN-list filter, due to lack of comparison operation struct for IN-list, as in https://github.com/facebookincubator/velox/blob/main/velox/external/duckdb/duckdb.hpp#L6475-L6480.

[2022-04-14 17:14] #1381 closed

[2022-04-15 00:19] mbasmanova commented on #1374
@dingqiaoyi Thank you for clarifying. I think I might know what you are asking about. Expression evaluation is traversing the expression tree depth first. On the way down, peelEncodings is peeling encodings off of the inputs. On the way up, applyFunctionWithPeeling is peeling encodings off of the intermediate results (just computed). In other words, on the way down we are looking at the raw inputs

[2022-04-15 00:20] mbasmanova commented on #965
This function was added in #1027

[2022-04-15 00:20] #965 closed

[2022-04-15 01:13] mbasmanova commented on #1369
CC: @spershin

[2022-04-15 10:19] mbasmanova commented on #1426
I believe this might be the same issue as discussed in #1383

[2022-04-15 10:19] mbasmanova commented on #1426
CC: @wenleix @kgpai @Yuhta

[2022-04-15 10:20] mbasmanova commented on #1339
@dingqiaoyi Have you tried rebasing onto latest main which uses gtest 1.11? Do you still see the issue?

[2022-04-15 10:26] mbasmanova commented on #1369
@majetideepak @Nayef211 Deepak, Nayef, I see that IndexSequenceFor is defined in googletest/include/gtest/internal/gtest-internal.h

https://chromium.googlesource.com/external/github.com/google/googletest/+/HEAD/googletest/include/gtest/internal/gtest-internal.h

[code]

Would you check if you have that file and if it has the code above?

[2022-04-15 12:28] majetideepak commented on #1369
@mbasmanova the file and the code exist. I am also able to build googletest as a standalone CLion project. But for some reason, it fails as a submodule build in Velox.

[2022-04-15 13:40] majetideepak commented on #1369
I had to delete my local `gtest`, `gmock` install headers (`/usr/local/include/gtest`, `/usr/local/include/gmock`) to resolve this. This is not ideal for all users as they might need these for other projects.

We should move towards the `ExternalProject_Add()` approach sooner and allow users to choose between external deps vs. submodules build.

[2022-04-15 13:44] majetideepak commented on #1369
@mbasmanova thanks for your comment to check that header! That lead me on the path of discovering this.
I noticed my local headers were being included in the build.

[2022-04-18 04:01] dingqiaoyi commented on #1339
@mbasmanova
Now I cloud successfully build the project on my Mac using the main branch staying at this commit
https://github.com/facebookincubator/velox/commit/9d2ae599ad56d2837089b99cd6406185c4bd487b
I believe the PR https://github.com/facebookincubator/velox/pull/1325 works. I will try the lasted main.

[2022-04-18 10:59] rui-mo opened #1436 "Cannot correctly scan bigint and int columns"
We generated ORC files using Spark with below configs, and use Velox's TableScan to read them.
[code]

The first config is used to avoid below exception when scanning bigint column occurring in [SelectiveColumnReader.cpp](https://github.com/facebookincubator/velox/blob/main/velox/dwio/dwrf/reader/SelectiveColumnReader.cpp#L355).
[code]
The second config is mentioned in this [issue](https://github.

[2022-04-19 01:08] zhengxingmao commented on #619
At present, it has entered the second quarter. Is there a time point when this code will be open source. @[jijufb](https://github.com/jijufb)

[2022-04-19 01:13] yingsu00 opened #1441 "make failed due to empty third_party directory"

[2022-04-19 07:23] #1441 closed

[2022-04-19 12:02] xumingming opened #1444 "implement array_union function"

[2022-04-19 15:20] xumingming opened #1446 "setup-macos.sh fails on Apple M1"
env:  Apple M1

error message:

[code]

I have to add `sudo` for `cmake_install` to walk around.

[2022-04-19 17:26] xumingming commented on #1446
also this error:

[code]

[2022-04-19 18:09] xumingming commented on #1328
I run into this issue too. Would like it to be fixed, and will be happy to help.

[2022-04-19 18:32] Yuhta commented on #1328
Hi @yingsu00, sorry for the late reply.

The xSIMD work is mainly for unblocking TorchArrow release in June, which need to support Apple M1.  The current goal is just abstracting out all the `__m256` passed around, and xsimd does satisfy our needs here, otherwise we need to build our own abstraction from scratch and we probably don't have enough time for that.  On AVX2 I have verified there is no

[2022-04-20 07:46] xumingming commented on #1328
mid May is the date when velox can build on Apple M1? @majetideepak

[2022-04-20 13:48] Yuhta commented on #1328
Yes May 20 is our target date.

[2022-04-20 18:03] pedroerp commented on #619
@zhengxingmao this code is currently being merged into prestodb (the java repo). @mshang816 should be able to provide you a more concrete timeline, but my guess is that it should take a few more weeks.

[2022-04-21 00:56] yingsu00 commented on #1446
We also saw the same error recently. @xumingming will you be able to fix the setup-macos.sh by adding the line above? Ideally it will be nice to detect the brew install directory automatically, then link it to /usr/local.

[2022-04-21 01:40] yingsu00 commented on #1328
@Yuhta Thanks for replying. Now I see your concerns and reason why using xSIMD. I wonder if you could provide the before and after results for the following metrics before the code is merged?

- release build time
- release/debug binary size
- DWRF reader microbenchmark performance

[2022-04-21 03:57] xumingming commented on #1446
@yingsu00 sure, will open an PR soon.

[2022-04-21 15:39] Yuhta commented on #1328
@yingsu00

I still cannot build velox with cmake (my working laptop is M1), so I am only building `velox_dwio_dwrf_reader` with buck for now as an example.  The baseline artifacts are cached in FB internal system so cannot measure the build time reliably and I am not including it here.

|Version    |Size (MB)|
|-----------|---------|
|Base (dev) |40       |
|Base (opt) |1.3      |
|New (dev)  |44

[2022-04-21 15:39] #1339 closed

[2022-04-22 16:43] #1383 closed

[2022-04-25 06:00] zhengxingmao commented on #619
Thank you for your reply. I have found it in the prestodb project.

[2022-04-25 10:15] Dream-hu opened #1471 "fix RowSet in LazyVector ensureLoadedRows in constant wrapper branch"
rowSet should be assigned in isConstantMapping branch:
![image](https://user-images.githubusercontent.com/67504811/165069525-ab3a8ac9-a4b4-4430-a5d8-1fc80f7f3821.png)

[2022-04-25 14:25] mbasmanova commented on #1369
@majetideepak Deepak, I now remember that I also had to mode/delete the gtest headers from /usr/local/include as these were used instead of the one in the submodule. @Nayef211 @parmeet Is this something you could try as a workaround.

@kgpai Krishna, let's look into why we are using the headers from the "wrong" location.

[2022-04-25 21:25] Nayef211 commented on #1369
This worked for me @mbasmanova! I also ran into the following error after the recent MacOS update coming from third party libraries

[code]

I was able to resolve this by creating a symlink from `MacOSX12.3.sdk` to `MacOSX12.1.sdk`

[2022-04-25 21:56] majetideepak commented on #1369
@Nayef211 A clean build by deleting the build directory should resolve this. No need to create the symlink.

[2022-04-25 22:24] kgpai commented on #1369
Hi , @majetideepak , I will work on porting gtest along with other and future dependencies to ExternalProject_Add which will first look for external deps and then fallback to our specified submodules should they fail to exist.

[2022-04-25 22:33] Yuhta commented on #1426
I will add in shims for BMI2 like this in my xsimd change

[2022-04-25 23:05] kgpai commented on #1369
FYI, Also I believe theres a bug in our build scripts that makes it look into /usr/local instead of using submodule provided. Will look into that too.

[2022-04-26 00:07] mbasmanova commented on #1471
@kgpai @oerling Is this the crash we are seeing?

[2022-04-26 00:09] mbasmanova commented on #1436
@yingsu00 @oerling @majetideepak I believe we currently only support scanning DWRF files. ORC files need a bit more work.

[2022-04-26 00:10] mbasmanova commented on #1374
@dingqiaoyi Are you still blocked? Anything else we can help with?

[2022-04-26 00:11] mbasmanova commented on #1170
@zwykmm Are you still blocked? Have you been able to resolve the issue by upgrading to C++ 17?

[2022-04-26 03:36] mbasmanova commented on #1471
@Dream-hu You are correct that there is a bug here, but I wonder how did you reproduce this? It seems like this code path may not be possible to hit.

[2022-04-26 05:14] rui-mo commented on #1436
I thought DWRF was a fork of the ORC file format. Are them incompatible with each other? What would be the best way for me to generate a large dataset of DWRF files?

[2022-04-26 05:25] #907 closed

[2022-04-26 05:30] mbasmanova commented on #1436
One option could be to use Presto: `CREATE TABLE t WITH (format = 'DWRF') AS SELECT ... FROM tpch.sf10.xxx`

[2022-04-26 06:11] rui-mo commented on #1436
Got that. Will have a try, thanks.

[2022-04-26 14:12] mbasmanova commented on #1471
@Dream-hu I was able to reproduce this bug and here is a fix: #1477. Thank you for reporting.

[2022-04-26 14:19] sijialouintel commented on #1426
Thanks @mbasmanova @Yuhta for your kind reply. I set up the dev env based on image ubuntu:20.4 and tested it on 3 different servers:
1. Intel(R) Xeon(R) CPU E5-2697 v2 @ 2.70GHz
2. Intel(R) Xeon(R) CPU E5-2699 v3 @ 2.30GHz
3. Intel(R) Xeon(R) Gold 6252 CPU @ 2.10GHz

This error only occurs on the first one. I'm curious about what caused this difference?
I've tried the solution mentioned in https:/

[2022-04-26 18:56] #1471 closed

[2022-04-26 19:58] kgpai commented on #1446
Hi @xumingming , Velox doesnt build on an Apple M1 yet. @Yuhta is working on that and we hope to have this ready by end of May; we will be fixing the scripts for the M1 in that process.

[2022-04-27 00:45] yingsu00 commented on #1446
@kgpai This is a permission issue on directory /usr/local. We got it on Intel processor too (MacOS).

[2022-04-27 03:10] Dream-hu commented on #1471
get,  thx!  btw,  I found this when I was reading the lazy loading related codes, I haven't tested

[2022-04-27 04:23] kgpai commented on #1082
Hi @markjin1990 , StringEncodingMode is no longer used and we just default to ascii or not ascii. The new simple function api allows you to write udfs which can call either ascii only or unicode code paths based on the input. I can point you to some examples if you are interested.

[2022-04-27 14:26] majetideepak opened #1488 "Improve TPC-H query 13 performance"
https://github.com/facebookincubator/velox/pull/1465 added TPC-H query 13 to the TpchQueryBuilder.
However, the final aggregate operators are being run single-threaded. We should ideally get better performance by increasing the number of threads.

[code]

We were able to increase the number of threads by using a `local repartition (c_custkey)` before the final aggregation of `c_custkey` and splitt

[2022-04-27 14:28] majetideepak commented on #1488
CC: @mbasmanova

[2022-04-27 14:37] mbasmanova commented on #1170
@zwykmm I haven't heard from you for some time now. I assume you are no longer blocked. I'm going to close this issue, but feel free to reopen if you need further help.

[2022-04-27 14:37] #1170 closed

[2022-04-27 14:37] mbasmanova commented on #1082
@markjin1990 Is this resolved now?

[2022-04-27 15:16] majetideepak commented on #1488
@mbasmanova added to the description.

[2022-04-27 16:42] pedroerp opened #1490 "Test issue"
creating a test issue. Ignore it.

[2022-04-27 16:43] #1490 closed

[2022-04-27 16:43] pedroerp commented on #1490
Closing it.

[2022-04-27 19:29] markjin1990 commented on #1082
Yes, appreciate it! @kgpai @mbasmanova

[2022-04-27 19:29] #1082 closed

[2022-04-29 14:28] rui-mo opened #1515 "An aggregation failure case"
Hi,
Found if selecting one column as two different outputs, and conducting aggregation on the two columns respectively, the aggregation would fail.

Below test can be used to reproduce this issue.
[code]
The failure is:
[code]
My test branch is: https://github.com/rui-mo/velox/commits/test_agg.

Thanks.

[2022-04-29 17:20] fbalicchia opened #1516 "Build failure on Ubuntu 20.04"
Hi,
first of all thanks for your work, I found it very interesting.
With revision b160102130d5c I've some trouble compiling on Ubuntu 20.04. I retrieve this error
[code]

Here an example on how to reproduce the problem

[code]

Do I need to make some other step or change g++ version? if so which one thank you for help

[2022-05-02 13:53] mbasmanova commented on #1515
@rui-mo Thank you for reporting. Can you workaround by projecting only "a"?

[code]

[2022-05-02 13:56] mbasmanova commented on #1516
This might be the same problem as discussed in #1426

CC: @kgpai @Yuhta Krishna, Jimmy, any suggestions about how to fix / workaround?

[2022-05-03 08:15] fbalicchia commented on #1516
Hi @mbasmanova did you try this https://github.com/facebookincubator/velox/issues/1383#issuecomment-1099028295 ?
If no tell me that I'll try to address on my side

[2022-05-03 12:04] mbasmanova commented on #1516
@fbalicchia I haven't tried this. If you try it, let us know how it works.

[2022-05-03 13:29] Yuhta commented on #1383
What I did: https://github.com/facebookincubator/velox/pull/1505/commits/136ef7f97f9cc6a466eef9a98238fc6a8d688a60#diff-c388f86bda09fbfc530dba49b80d1c22912c27c22a8b412d51b405304ccb8810L509-R509

[2022-05-03 13:31] Yuhta commented on #1516
This will be fixed in #1505

[2022-05-03 13:40] mbasmanova commented on #1383
@Yuhta Thank you for sharing a workaround. Just to clarify, the change is to replace  __builtin_ia32_tzcnt_u64 call with __builtin_ctzll. Is that right?

[2022-05-03 13:41] mbasmanova commented on #1383
CC: @fbalicchia Would you like to try the suggestion above from @Yuhta ?

[2022-05-03 13:55] Yuhta commented on #1383
Yes exactly

[2022-05-03 17:14] kgpai commented on #1516
Hi @fbalicchia ,
Can you paste the contents of /proc/cpuinfo here. It will help us determine if this is Velox not supporting your cpu or something else. As @Yuhta pointed out, with #1505 we should be able to support older intel cpus but we currently dont.

[2022-05-03 21:36] majetideepak commented on #418
@yingsu00 this is probably a good starter for James.

[2022-05-04 08:28] fbalicchia commented on #1516
[code]

[2022-05-04 08:31] fbalicchia commented on #1516
Tell me please if you need other info. Today I think to try #https://github.com/facebookincubator/velox/pull/1505

[2022-05-04 10:29] yingsu00 opened #1533 "Generalize the reader and input interfaces"
Velox will support multiple file formats like Parquet, ORC, Alpha in the future. These readers, like the DWRF reader, shall use some common components like the InputStream's, decoding and decompression utility functions, etc. Further more, they may directly inherit the ColumnReader's that were originally made for DWRF. To prep for the upcoming native Parquet reader, we propose to do the following

[2022-05-04 12:45] mbasmanova commented on #1533
CC: @majetideepak @tanjialiang @oerling @hannes

[2022-05-04 16:11] kgpai commented on #1516
Hi @fbalicchia , cat /proc/cpuinfo should give instruction set supported etc, for e.g this is what I see :

[code]
Can you post something similar ?

[2022-05-04 16:44] fbalicchia commented on #1516
Ok, @mbasmanova thanks for the explanation. I'll close the issue thanks

[2022-05-04 16:44] #1516 closed

[2022-05-04 18:17] frankobe commented on #1533
cc @liushengxuan

[2022-05-04 19:18] fbalicchia commented on #1516
Hi, @mbasmanova @Yuhta the fix works for me thanks !.  I saw that some internal tests on cicd fail but I' haven't permission to see details but from my side, on my console, it works. Yes I have other hardware Apple M1 but I haven't tested it yet

[2022-05-04 19:38] jwyles-ahana opened #1541 "Implement array_sum function"

[2022-05-04 20:33] yingsu00 commented on #1541
`array_sum` was implemented using `reduce` function in Presto. `reduce` was already implemented in Velox, however as we discussed offline, we will not be calling the `reduce` function due to performance considerations, but implement this function in plain Velox code. We will see if we can use `xsimd::reduce(begin, end, init, add {}) ` to get good perf.

[2022-05-05 01:34] yingsu00 commented on #1533
cc @majetideepak @aditi-pandit

[2022-05-05 01:44] majetideepak commented on #874
@frankobe is this of interest to your team?

[2022-05-05 08:42] Dream-hu opened #1546 "check the availableInRun() of the next PageRun in current allocation_ whether satisfied with the preferredSize in AllocationPool::newRun"
![image](https://user-images.githubusercontent.com/67504811/166889326-4ef89b31-6679-44c5-98a3-56db58d92234.png)

[2022-05-05 10:17] rui-mo commented on #1515
@mbasmanova yep, we can workaround this issue in this way.

[2022-05-05 16:59] ecopty opened #1548 "Implement the GCS connector"
Add support for Google Cloud Storage connector, will support basic read/write of object storage files.

The design and implementation will be very similar to that one of S3.

[2022-05-05 17:27] mbasmanova commented on #1548
CC: @majetideepak

[2022-05-05 21:15] frankobe commented on #874
This should be a good onboarding task. @shiyu-bytedance can you take this

[2022-05-06 09:03] fbalicchia commented on #1383
@mbasmanova sorry I read only now.. Yes I'll try

[2022-05-06 15:40] baibaichen opened #1555 "Add documentation for HashTable"
It would be great to add documentation for HashTable on the [Join](https://facebookincubator.github.io/velox/develop/joins.html) page since it is very important data structure for join and aggregation.

Design consideration：

1. Why convert  to Row in case of join and aggregation and how does it affect performance? Actually it surprised me that there are many random read in hash probe.
2. What's t

[2022-05-06 15:43] mbasmanova commented on #1555
CC: @oerling

[2022-05-09 04:10] zhenghao-bot opened #1560 "incorrect conversion of BOOLEAN vector in DuckWrapper"
In Velox, BOOLEAN is represented in 1 bit. However, I found BOOLEAN is represented in 1 byte in `duckVector`.

https://github.com/facebookincubator/velox/blob/0e5e014ffa2bc484dc4bb3d8365196c9d0c48ecf/velox/duckdb/conversion/DuckWrapper.cpp#L170-L184

When I try to read a column of BOOLEANs from Parquet, I receive the incorrect result.

- Actual: `1 0 0 0 0 0 0 0  0 0 0 0 0 0 0`
- Expected: `1 0 1

[2022-05-09 04:47] zhenghao-bot opened #1561 "Add support for BLOB vector in DuckWrapper"
BLOB type hasn't been supported in DuckWrapper:

https://github.com/facebookincubator/velox/blob/0e5e014ffa2bc484dc4bb3d8365196c9d0c48ecf/velox/duckdb/conversion/DuckWrapper.cpp#L270-L274

I am willing to contribute a pull request if it is needed.

[2022-05-09 04:54] yingsu00 commented on #1533
- PR1: https://github.com/facebookincubator/velox/pull/1526

[2022-05-09 13:54] frankliee opened #1562 "Does Velox support compiling and debugging on M1 chip Mac ?"

[2022-05-09 14:30] mbasmanova commented on #1562
@Yuhta Jimmy is working on this.

[2022-05-09 14:31] mbasmanova commented on #1562
See PR #1528

[2022-05-09 15:08] mbasmanova commented on #1560
CC: @majetideepak @yingsu00

[2022-05-09 15:09] mbasmanova commented on #1561
@zhenghao-bot Do you have a use case for BLOB vectors?

[2022-05-09 15:11] mbasmanova commented on #1546
@Dream-hu It is hard to read a screenshot. Would you provide a text-based explanation of the problem and proposed solution? Would you like to send a PR?

CC: @oerling

[2022-05-09 15:15] mbasmanova commented on #1561
CC: @majetideepak @yingsu00

Got it. Would you like to send a PR to fix this?

[2022-05-09 15:17] zhenghaoz commented on #1561
Sure😀

[2022-05-09 20:55] alexey-milovidov opened #1564 "Motivation for this project"
I checked the description and the list of the issues and pull requests of Velox and found out that the problems this project is trying to solve are already solved better with more mature and full featured engines like ClickHouse.

There are also some experimental and research projects like DuckDB and Apache Datafusion (not as mature as ClickHouse but trying to keep up). And there are some abandone

[2022-05-09 22:03] pedroerp commented on #1564
Hi @alexey-milovidov thanks for reaching out! We understand that the amount of documentation we have about Velox’s main motivations and current status is lean; we are working on improving it before we make a broader public announcement in the near future. We’ll also be sharing more details in our VLDB’22 paper, which will be available soon.

As per our understanding based on the information public

[2022-05-10 01:27] frankliee commented on #1562
Thanks. I guess many people want to develop Velox on M1 Mac.

[2022-05-10 02:26] yingsu00 opened #1568 "Provide full positions list for ORC row group index in various tests."
Blocking https://github.com/facebookincubator/velox/issues/1533 and https://github.com/facebookincubator/velox/pull/1559

In TestColumnReader.cpp, the tests fabricates the ORC/DWRF input streams to test the ColumnReader's. Some tests creates `RowIndex` so the `ColumnReader`'s can test loading the stride dictionaries. However they don't provide the addresses for the streams after the stride diction

[2022-05-10 02:27] yingsu00 commented on #1568
cc @oerling @zzhao0 @HuamengJiang

[2022-05-10 05:51] yingsu00 commented on #1568
cc @frankobe

[2022-05-10 13:01] rui-mo opened #1573 "Adding validation logic in Substrait-to-Velox conversion"
A Substrait plan validation can be used to determine whether to offload the computing to Velox. If the validation fails, the compute will fallback to Spark for execution.

Instead of just trying the plan conversions and catching the exceptions, a separate validation logic is needed because there are some differences between the validation and the real conversion, including:

- In real conversion,

[2022-05-10 13:19] mbasmanova commented on #1573
@rui-mo Rui, thank you for creating an issue to describe the new validation logic.

Would you give some examples? My reading of the attached PR suggests that one difference is that validation compiles the filter and project expressions using ExprSet and returns false if compilation throws (e.g. a function doesn't exist) while conversion doesn't have that logic.

Would you give some examples?

[2022-05-11 02:48] rui-mo commented on #1573
Thanks for your comment.

Generally, the code relating to the plan node creation can be not needed. For example, in aggregation node creation, because Spark's partial avg outputs two columns of sum and count, if detecting final avg, we need to add a project node before aggregation to combine them into the column of row(double, bigint). But in validation, this logic is not needed.

For example, the

[2022-05-11 11:12] mbasmanova commented on #1573
@rui-mo Rui, thank you for the clarifications. These are helpful.

I realized that I'm lacking visibility into the end-to-end workflow you are working on.

I'm imagining you are integrating Spark's front-end with Velox-based evaluation engine. I'm picturing the following steps:

1. Generate query plan using Spark and convert it into Substrait plan.
2. Convert Substrait plan to Velox plan.
3. Creat

[2022-05-11 12:30] cjgdev opened #1580 "Slack OSS Workspace Invite"
Hi, my apologies for posting this on the issue tracker (it’s not a code issue), but I’m trying to follow the instructions in the README for joining the Velox Slack OSS workspace. I’ve tried sending an email to velox@fb.com, but I’ve not received an acknowledgement in a couple of days. If it’s just a matter of waiting then I will wait, but if there’s anything that can be done to expedite the proces

[2022-05-11 12:47] mbasmanova commented on #1580
CC: @jijufb

[2022-05-11 14:45] rui-mo commented on #1573
Below points were verified currently:

- In read rel validation, the input types and the filter conditions.
- In project rel validation, the input types, whether the expressions can be converted into Velox and compiled (whether the function name and type match with Velox's registrations).
- In aggregate rel validation, the input types, grouping columns (should be field only, expression is not acce

[2022-05-11 14:55] jijufb commented on #1580
Hi Christopher, sorry for the delay. We did not receive email for your request. Checking with IT on the actual reason.

Can you share your email address to send slack invitation?

[2022-05-11 15:02] jijufb commented on #1580
I have give access. Please check.

[2022-05-11 15:06] mbasmanova commented on #1374
@dingqiaoyi  We haven't heard from you in awhile. I assume you are no longer blocked and will close this issue. Feel free to reopen if you have any further questions.

[2022-05-11 15:06] #1374 closed

[2022-05-11 17:36] cjgdev commented on #1580
I can confirm I have access, thank you.

[2022-05-11 17:36] #1580 closed

[2022-05-11 17:48] usurai commented on #327
Hi @mbasmanova, I pushed a PR addressing this issue a while ago, it's my first in velox. Could you please tell if there is anything I need to do to get it into review process? I've sent email to [velox@fb.com](mailto:velox@fb.com) to request access to the OSS slack workspace but haven't hear reply. Thanks!

[2022-05-11 18:03] mbasmanova commented on #327
CC: @jijufb Jiju, would you help @usurai get access to Slack?

[2022-05-11 18:04] mbasmanova commented on #327
@usurai Would you share a link to the PR?

[2022-05-11 18:05] usurai commented on #327
It's https://github.com/facebookincubator/velox/pull/1466
Thanks!

[2022-05-11 18:06] jijufb commented on #327
HI usurai, can you send your email address to provide access to slack channel?

[2022-05-11 18:22] usurai commented on #327
Hi @jijufb, my email is crowdwei@gmail.com. Thanks!

[2022-05-11 18:24] jijufb commented on #327
Invitation has send to your email address to access slack channels.

[2022-05-11 18:27] usurai commented on #327
I've got in, thanks for your help!

[2022-05-12 00:58] zhouyuan commented on #1436
@mbasmanova
tried to generate DWRF format based data from presto. Spark seems problematic on reading these files as it used Apache ORC based reader.

[code]
Note: as DWRF does not support `Date` format, the related columns are converted to `Timestamp` format in the new table

[code]

[2022-05-12 07:36] leoYY commented on #1369
Hi, @mbasmanova I also encountered the same error in my workspace.
And I found that
[code]
${Boost_INCLUDE_DIRS} = '/usr/local/include'
It make compile command for gtest  like

[code]
I hope this may help.

[2022-05-12 07:52] rui-mo commented on #1573
Thanks for your insightful comment.
Yeah, as you said. The validation for a single operator happens on Spark's driver, but the real creation happens on its executor. Current unsupported plan nodes mainly are TableScan node (WIP supporting and verifying more filter expressions) and Project node (similar). Your suggestion is great for us, and we may need some time to stabilize the validation logic a

[2022-05-12 11:58] majetideepak opened #1592 "ld: warning: direct access in function"
I recently updated my local dependencies by running `setup-macos.sh`. I now see a lot of warnings similar to the one below
[code]

[2022-05-12 11:59] majetideepak commented on #1592
cc: @mbasmanova

[2022-05-12 12:08] mbasmanova commented on #1369
@kgpai Any update on this?

[2022-05-14 04:45] yingsu00 opened #1617 "[Refactoring] Remove DWRF specific logic from SeekableInputStream"
In https://github.com/facebookincubator/velox/issues/1533, we stated that the SeekableInputStream and IO related classes will be moved to facebook::velox::dwio::common::io.

This issue is a preparation for the move.

Note that `SeekableInputStream` and its children used to represent the "ORC input stream” in ORC/DWRF(https://orc.apache.org/specification/ORCv0/) and has two functions that are ORC/D

[2022-05-14 04:46] yingsu00 commented on #1617
PRs:
- https://github.com/facebookincubator/velox/pull/1526
- https://github.com/facebookincubator/velox/pull/1559

1559 has some issues and I'm preparing another PR to change the signature of loadIndices()

[2022-05-14 04:53] yingsu00 opened #1618 "[Refactoring] Move SeekableInputStream, BufferredInput, (de)compressor related classes to dwio::common::io"
From https://github.com/facebookincubator/velox/issues/1533 we mentioned the SeekableInputStream related classes shall be moved. This issue is to track the move itself.

# 1.  `SeekableInputStream` and its subclasses (except `PagedInputStream` at this time) will be moved.

[code]
We rename `InputStream.h/cpp` to `SeeableInputStream.h/cpp` to differentiate from `velox/dwio/common/InputStream.h/cpp`

[2022-05-14 04:57] yingsu00 opened #1619 "[Refactoring] Move some DWRF utility headers to dwio::common"
This is a sub issue of https://github.com/facebookincubator/velox/issues/1533

Utility headers

## 1 dwio/dwrf/common/Common.h

- StreamIdentifier
   StreamIdentifier and StreamKind are specific to DWRF. Therefore they should remain here.
- CompressionKind
   this is required for Parquet too. Move it to a separate dwio/common/Common.h

## 2 Move facebook::velox::dwrf::StreamUtil.h to facebook::vel

[2022-05-14 05:01] yingsu00 opened #1620 "[Refactoring] Generalize the ColumnReader and SelectiveColumnReader classes"
This is a sub issue of https://github.com/facebookincubator/velox/issues/1533

ColumnReader, SelectiveColumnReader and SelectiveStructColumnReader classes need to be moved to `facebook::velox::dwio::common::reader`.  However we need to note that some of their contents are just related to DWRF and ORC. For example:

- StripeStream and FlatMapContext are specific to DWRF
[code]

- RowIndex is DWRF s

[2022-05-14 05:05] yingsu00 opened #1621 "[Refactoring] Move DuckDB parquet reader to a separate folder"
This is a sub issue of https://github.com/facebookincubator/velox/issues/1533

We will make the new Parquet reader in a new directory, and will not remove or touch the current DuckDB Parquet Reader. With a new configuration option, the user can choose to register the new native Parquet reader, or the existing DuckDB Parquet reader.

In order to parse the Parquet file metadata and PageHeader, we ne

[2022-05-14 05:14] yingsu00 opened #1622 "[Refactoring] Make Velox support Parquet thrift code generation"
This is a sub issue of https://github.com/facebookincubator/velox/issues/1533

We will make the Parquet thrift cpp code automatically generated. The thrift definition is from https://github.com/apache/parquet-cpp/blob/master/src/parquet/parquet.thrift . This is similar to Protobuf for DWRF: velox/dwio/dwrf/proto

Note that we may need to install fb-thrift in Velox. This requires us to update the s

[2022-05-14 08:11] yingsu00 opened #1624 "Introduce native ParquetReader and ParquetRowReader"
The ParquetReader shall parse the file metadata successfully.
Depends on https://github.com/facebookincubator/velox/issues/1621

[2022-05-15 10:21] usurai opened #1626 "Benchmark HivePartitionFunction"
As a follow-up of #1466, a benchmark of `HivePartitionFunction` should be added.

[2022-05-17 10:45] markjin1990 opened #1634 "Simple query execution blocked in TPCH dataset"
**Problem Description**
This is a follow-up of the issue we discussed on 05/12 weekly meeting when presenting our TPCH benchmark results. The query execution of a simple SQL,
`SELECT Min(ps.supplycost) FROM tpch.partsupp AS ps, tpch.supplier AS s WHERE s.suppkey = ps.suppkey AND s.name = 'Supplier#002301894'`, on the tpch dataset got blocked in the "partsupp" table scan stage (Stage 2 in the scree

[2022-05-18 01:56] kaka11chen commented on #619
company: aloudata
mail: [kaka11.chen@gmail.com](mailto:kaka11.chen@gmail.com)

Thanks!

[2022-05-18 12:52] mbasmanova commented on #1564
@alexey-milovidov Alexey, did Pedro's reply answer your questions? Do you have any follow-up questions?

[2022-05-18 17:24] #1626 closed

[2022-05-18 23:52] mbasmanova commented on #1634
@markjin1990 Have you tried reproducing this problem in a e2e test?

[2022-05-18 23:54] markjin1990 commented on #1634
Will give it a try and post updates :)

[2022-05-18 23:55] majetideepak opened #1650 "Build failure with gcc 11 due to fmt"
While building Velox on amazonlinux2022, I encountered the following error

[code]

[2022-05-19 01:56] majetideepak commented on #1650
Another related failure
[code]

[2022-05-19 03:29] baibaichen commented on #1555
IIUC,  We only need buffer join-keys in probing case, however non-join key columns are also converted to row, that's why i can't understand.

[2022-05-19 15:09] majetideepak opened #1654 "Googletest dependencies must be guarded"
When Velox testing is disabled (`VELOX_BUILD_TESTING=OFF`), I presume we do not need googletest. However, `velox/common/memory/Memory.h` defines `FRIEND_TEST` and includes the `gtest/gtest_prod.h` header.
This can also be reproduced when building presto_cpp with tests disabled.

[2022-05-19 22:25] majetideepak commented on #1650
This seems to be a pilot error. On a fresh install, I do not see these errors. I will re-open it if I hit this again.

[2022-05-19 22:25] #1650 closed

[2022-05-20 02:31] alexey-milovidov commented on #1564
Thank you, no follow-up questions.

[2022-05-20 02:36] #1564 closed

[2022-05-23 03:11] chakpongchung opened #1674 "undefined reference to `clock_gettime'"
building on master branch with glibc 2.31. Any idea?

[2022-05-24 22:20] mbasmanova commented on #685
PR #1246
PR #1692
PR #1691

[2022-05-25 01:27] aditi-pandit opened #1697 "Add degrees mathematical function"
Add degrees math function that converts angles in radians to angles in degrees

(https://prestodb.io/docs/current/functions/math.html#degrees)

[2022-05-25 01:31] aditi-pandit commented on #1697
@pramodsatya

[2022-05-25 14:04] majetideepak opened #1704 "Tests and benchmarks must be decoupled"
Some of the tests and benchmarks are coupled to allow the re-use of shared functionality.
See `velox/vector/CMakeLists.txt` for example. The vector benchmarks couple with the testing classes to say access `VectorMaker` functionality.
This is not ideal as it introduces a dependency between benchmarks and the whole testing framework.
A better approach is to move the shared functionality into its own

[2022-05-25 19:59] pramodsatya commented on #1697
#1714

[2022-05-26 05:37] aditi-pandit commented on #685
Doc https://docs.google.com/document/d/1YiBv7tuWK8lqXTXcgyTWkLYFEA1Rama8wrifdL5nNFw/edit has a description of the functional requirements for Window functions and high-level design thinking.

There are many TODO's in the doc that are being actively worked on.

[2022-05-26 05:38] aditi-pandit commented on #685
PR #1695

[2022-05-26 06:45] #1654 closed

[2022-05-26 07:52] rui-mo opened #1722 "Two cases of HashJoin with incorrect result"
Hi,
We found incorrect result when using Anti and Semi join with a filter on the payload.

This issue can be reproduced with the unit tests in below commit:
https://github.com/rui-mo/velox/commit/b96ceaa1c1fa4fb0b403475e953b07f732f9e373.

The tested queries are:
for Anti join:
[code]
for Semi join:
[code]

[2022-05-26 09:40] rui-mo opened #1724 "Pre-projection for aggregation and join"
We noted the aggregation function can only accept field and literal as args, and if there is computing like sum(col_a * col_b), a project node needs to added before aggregation.
Similar case for join. Only fields can be accepted as join keys.
Will Velox support args of expressions in aggregation or join?
Thanks.

Reference:
https://github.com/facebookincubator/velox/blob/main/velox/exec/HashAggreg

[2022-05-26 09:46] rui-mo opened #1725 "Double type support for In filter"
For the filter of In expression, we noted there are only BytesValues and BigintValues implemented. Will double type be supported in the future? Thanks.

Reference:
https://github.com/facebookincubator/velox/blob/main/velox/type/Filter.h#L40-L45

[2022-05-26 12:28] mbasmanova commented on #1722
@rui-mo Thank you for reporting. Have you had a chance to debug to see what's wrong? We'll take a look as well.

[2022-05-26 12:28] mbasmanova commented on #1722
CC: @gggrace14 @spershin

[2022-05-26 12:29] mbasmanova commented on #1724
@rui-mo As you noted the application needs to add a projection node before aggregation of join. This is by design.

[2022-05-26 12:38] rui-mo commented on #1724
OK, in Spark, the args of aggregation and join can be expressions, so we are wondering will Velox do the same thing in the future.

[2022-05-26 12:50] mbasmanova commented on #1725
Thank you for clarifying. You can represent this using a MultiRange filter with DoubleRange/FloatRange used as individual filters (a = 1 or a = 3). That said, equality filters for doubles are tricky.

[code]

[2022-05-26 12:52] mbasmanova commented on #1724
We do not plan to support this. Velox doesn't include an optimizer and expects the application to optimize the plan before passing it to Velox.

[2022-05-26 12:55] rui-mo commented on #1722
Thanks, just found this issue when testing TPC-H q21. Looks like if no filter, the result is correct.

[2022-05-26 12:58] mbasmanova commented on #1722
Got it. Interestingly, we have all TPC-H queries tested for correctness against Presto and didn't see any failures. Will take a look. CC: @aditi-pandit

[2022-05-26 13:06] rui-mo commented on #1722
Got that. Thank you, if there is something wrong with our usage, like the unit tests show, please kindly point out.

[2022-05-26 13:12] mbasmanova commented on #1722
Thank you for including a repro. It is super helpful. Will post here what I find.

[2022-05-26 14:26] rui-mo commented on #1725
Got that. Thank you. Does Velox plan to support DoubleValues as well in the long term? Or the IN expression for double is tricky and no need to support.

[2022-05-26 14:30] mbasmanova commented on #1725
IN list for floating point numbers has the same challenges as equality filter, hence, in general is discouraged. (Results are unreliable.)

[2022-05-26 14:36] Yuhta commented on #1725
You probably should use `array_min` instead of `IN`:

[code]

[2022-05-26 16:55] mbasmanova commented on #1722
@rui-mo Rui, here is a fix for anti join: https://github.com/facebookincubator/velox/pull/1728

[2022-05-26 17:02] mbasmanova commented on #685
Per offline discussion with @aditi-pandit , the plan is:

- Add support for row_number, rank and nth_value functions. This requires changes to the WindowFunction interface to pass channel indices of the inputs and calculation of peers in the operator.
- Add integration with Presto.

This will give us first milestone with 3 functions working end to end with default frame.

Next steps would be
  (1)

[2022-05-26 22:11] sungho-park-23 opened #1732 "Serialization Performance Issues (Discrepancy from Arrow)"
I've seen that Velox's PrestoPage serialization time takes much longer than Arrow's RecordBatch serialization from benchmarking through unit tests.

For a row vector with 2 columns of integer and float, the difference can get pretty big when the vector size is scaled up. At row size 1'000'000, the difference is from around 400 ms to 20 ms.

This disparity is seen across all different data types (a

[2022-05-26 22:12] sungho-park-23 commented on #1732
@frankobe Tagging you so that you can follow

[2022-05-27 01:46] #1724 closed

[2022-05-28 00:40] yingsu00 opened #1734 "Update DuckDB Thrift library header files include guards"
Currently the DuckDB parquet reader uses parquet_amalgamation.hpp which include the full Thrift header files. For example /usr/local/include/thrift/tbase.h was copied into parquet_amalgamation.hpp:
[code]
However, the namespace was modified from apache::thrift to duckdb_apache::thrift while the include guards were not updated. This caused compilation failures (apache::thrift namespace not found) w

[2022-05-28 03:06] rui-mo commented on #1722
Thanks for your great work! Verified locally with the two commits, works well for us.

[2022-05-28 03:06] #1722 closed

[2022-05-28 03:07] rui-mo commented on #1725
Thanks for your quick answering.

[2022-05-28 03:07] #1725 closed

[2022-05-31 14:00] majetideepak opened #1739 "Test utilities must be free from googletest dependency."
Test utilities should ideally contain helper classes to build other tests. Any testing should be done in the tests that invoke these util classes.
Example: `velox/dwio/dwrf/test/utils/E2EWriterTestUtil.cpp` does some test checks, which introduces a dependency on googletest. These checks must ideally be performed in the tests where the methods in  `utils/E2EWriterTestUtil.cpp` are invoked. This hel

[2022-05-31 22:58] yingsu00 commented on #1734
cc @frankobe

[2022-06-01 00:26] aditi-pandit commented on #872
@pramodsatya

[2022-06-01 07:40] usurai opened #1747 "Identify work items to add ORC reader support"
Hi folks, I've been investigated on [adding ORC reader support based on `DwrfReader`](https://github.com/facebookincubator/velox/issues/858) and wanna share my findings:
1. Since the `.proto` file of DWRF and ORC have diverged a lot, it's essential to add `.proto` of ORC
<details>
<summary>The divergences include but not limited to</summary>

- DWRF has metadata for caching stripe info in `PostScr

[2022-06-02 03:22] lsyldliu opened #1752 "[Discuss] Flink on Velox supports"
Hi, guys

I'm focusing on flink sql in flink community, now we are investigate the native vectorized execution solution of batch sql. We found that velox is an universal open vectorized execution plugin, it can support presto and spark now. Moreover, Flink is very similar to Spark, they are both rpc-based and JVM-based compute engine, also the overall architecture is similar, so we think flink on

[2022-06-02 06:45] karteekmurthys opened #1753 "Re-enable Decimal FlatVector changes."
Creating this issue to track re-enabling of reverted PR: https://github.com/facebookincubator/velox/pull/1742.

[2022-06-02 06:45] karteekmurthys commented on #1753
cc: @majetideepak @aditi-pandit

[2022-06-02 18:32] frankobe commented on #1732
Per @pedroerp suggestion, we can add a microbenchmark for Velox serialization part first to ensure no regression

[2022-06-03 01:44] pedroerp commented on #1752
Hi @lsyldliu, thanks for reaching out! As we work on expanding Velox's reach and growing our open soruce community, we are certainly interested in providing integrations with other widely adopted big data systems such as Flink.

Some of our close partners from Intel (cc: @davecohn) have expressed interest in the past in having an open source stream processing Velox integration available, so his te

[2022-06-03 02:42] jijufb commented on #1752
Hi @lsyldliu, please send your work email to jiju@fb.com and I can send you invite to access Velox Slack channel.

[2022-06-03 14:39] majetideepak commented on #1753
@kgpai any update on when this will land? Thanks.
CC: @pedroerp @mbasmanova

[2022-06-03 15:11] Yuhta commented on #1753
There is some regression on Prestissimo and other internal AI systems.  We are waiting for them to provide repro test cases so we can diagnose the issue.

[2022-06-03 16:32] FelixYBW commented on #1752
@lsyldliu Yes, we definitely can reuse the native part for Spark and Flink, maybe some JVM part as well. You may ping me (@Binwei Yang) in Slack channel and we can have a sync offline.

[2022-06-03 20:40] sungho-park-23 commented on #1732
@pedroerp Can you point me to how I can add a microbenchmark for Velox?

[2022-06-03 22:43] yingsu00 commented on #1734
cc @hannes

[2022-06-04 03:40] lsyldliu commented on #1752
Thanks for your attention, I'm very glad to hear that velox community is interested in integration with flink. Due to I'm not familiar with velox currently, so I want to get some help from community about how integrate velox with flink, it seems that Gluten is very good to me. I will study it first.

[2022-06-04 03:43] lsyldliu commented on #1752
@jijufb Thank you very much, I'm from alibaba, my work email is ron9.liu@gmail.com.

[2022-06-04 03:50] lsyldliu commented on #1752
@FelixYBW Okay, it sounds like good news to me.

[2022-06-04 19:04] kgpai commented on #1753
@majetideepak @karteekmurthys @Yuhta
I hope to get this checked in by next week. I will keep you folks in loop.

[2022-06-05 23:08] yingsu00 commented on #1734
@jwyles-ahana Would you please create another PR that updates the script to put `bitwise_cast` into duckdb_apache::thrift namespace and adjust all call sites within DuckDB Parquet reader? Thank you!

[2022-06-06 18:21] karteekmurthys opened #1771 "DuckDB Amalgamation causing wrong operator overloading"
Querying DuckDB HUGEINT_T(129 bit) decimal literals involves converting the string literal into HUGEINT_T structures.
Just like any other string to integer conversion, this involves shifting the hugeint_t result to left by 1 position (multiply by 10) and adding the newly extracted digit from the string to the final result. This is the method invoked as one of the steps:
[code]
The multiply operati

[2022-06-06 19:52] mbasmanova commented on #1722
@rui-mo Glad to hear the issue is resolved now. Thank you for the confirmation.

[2022-06-06 22:07] majetideepak commented on #1771
@mbasmanova Is there a reason for amalgamating DuckDb instead of treating it as a submodule?

[2022-06-06 22:30] mbasmanova commented on #1771
This was easier to add to internal build system. @Yuhta Jimmy, do you think we could add DuckDB via tp2?

[2022-06-07 22:47] kgpai commented on #1753
#1781 is the PR that reintroduces @karteekmurthys changes.

[2022-06-10 04:07] shiyu-bytedance commented on #874
@majetideepak @mbasmanova https://github.com/facebookincubator/velox/pull/1797
PTAL! Thank you!

[2022-06-10 18:38] kgpai commented on #1753
Closing issue.

[2022-06-10 18:39] #1753 closed

[2022-06-10 20:04] zhztheplayer opened #1803 "How to use a single thread for plan execution?"
(edit: previously titled as "How to support a pull model in plan execution?")

It seems to me that these basic components, `Driver` / `Task` are all designed for a push-based execution model (Data is produced from Velox and send to subsequent endpoints).

So is there a easy way to make Velox properly work with a pull-based system? Which means, I don't want to adopt a new thread or coroutine to con

[2022-06-10 22:33] mbasmanova commented on #1803
@zhztheplayer Hongze, thank you for the question. I'm wondering which system are you trying to integrate with and what would be the overall flow you are looking for.

CC: @laithsakka @oerling

[2022-06-11 09:30] zhztheplayer commented on #1803
It's Spark SQL. We'd like to conform to Spark's tasking model that a single instance of Spark task will play the role of a "driver" for plan execution. This driver drives a single thread and should actively pull data from Velox to its definition, e.g. a shuffle writer or a file writer, etc.

I also see Velox supports InlineLikeExecutor. Is using it a recommended way in cases like mine?

[2022-06-13 07:56] yetingsky opened #1806 "why separate store tag and row in hashtable"
In velox's use case, hashtable will not have equal key row (equal key row will be chained, and not inserted into hashtable), store meta and data together (just like folly f14table does) will improve performance？

[2022-06-14 02:15] rui-mo commented on #1803
Hi @mbasmanova, Hongze is my colleague and is working on Gluten. As he said, we are currently using below TaskCursor and creates a thread in Velox for each thread in Spark.

https://github.com/facebookincubator/velox/blob/main/velox/exec/tests/utils/Cursor.cpp#L145-L151

[2022-06-14 12:23] mbasmanova commented on #1803
@rui-mo Rui, thank you for clarifying. Welcome, Hongze. I'd like to understand the question better.

Do you use core::QueryCtx::createForTest() or pass in your own QueryCtx? QueryCtx allows to specify a folly::Executor for Velox to use for execution.

Spark is written in Java / Scala. Velox is written in C++. Are you looking to run Velox on the thread created and managed by the JVM?

Velox operato

[2022-06-15 01:08] pedroerp commented on #1806
from @oerling:

"We expect to miss in joins using the bit fields alone most of the time. So no pointer access needed and more coverage of table in cache.

For group by having tags in the same line as the pointers would likely be better. The layout for this case would be 16 * 8 bits for tags and 48 * 16 bits for pointers. This would fit in 2 lines. We have considered this. There are setters and get

[2022-06-15 02:52] yetingsky commented on #1806
Thanks.

[2022-06-15 02:52] #1806 closed

[2022-06-15 03:27] zhztheplayer commented on #1803
Yes. It should be ideal to let Spark manage all the threads in a Spark application. Spark has some thread local task contexts that would not be visible from non-task threads.

the API you'd like to use for driving the operators? Is it synchronous or asynchronous?

The API is synchronous with regard to the single thread principle.
Actually we want to iterate over Velox's results by an Arrow [Record

[2022-06-15 04:01] JkSelf opened #1814 "Cannot access memory at address in StringDictionaryEncoder::addKey"
We encounter the following exceptions when using the Writer API to write DWRF file with large num rows.

`
  0x00007f0f39221859 in __GI_abort () at abort.c:79
#2  0x00007f0f385a9f1f in ?? () from /usr/lib/jvm/java-8-openjdk-amd64/jre/lib/amd64/server/libjvm.so
#3  0x00007f0f38eeb143 in ?? () from /usr/lib/jvm/java-8-openjdk-amd64/jre/lib/amd64/server/libjvm.so
#4  0x00007f0f38d3cd30 in JVM_handle_

[2022-06-15 04:03] JkSelf commented on #1814
Here is the code for test.

` // Batches has only one RowVector here.
    uint64_t nullCount = 0;
    std::vector<RowVectorPtr> batches{std::make_shared<RowVector>(
        pool_.get(), type, nullptr, num_rows_, vecs_, nullCount)};

    auto sink = std::make_unique<facebook::velox::dwio::common::FileSink>(absoluate_path);
    auto config = std::make_shared<facebook::velox::dwrf::Config>();
    con

[2022-06-15 04:03] mbasmanova commented on #1814
@JkSelf Do you happen to have a repro I could run?

[2022-06-15 04:04] mbasmanova commented on #1814
@JkSelf The stack trace is a bit difficult to parse. Any chance you could attach it as a gist with proper formatting, e.g. one line per frame?

[2022-06-15 04:08] mbasmanova commented on #1814
@JkSelf

How large is the row count in this case? Are you creating a single vector with very large number of rows and trying to write it to a file?

[2022-06-15 04:10] JkSelf commented on #1814
![image](https://user-images.githubusercontent.com/11972570/173734994-2c1a2343-5a68-4e1f-b7d4-1eb07f450397.png)

Here is the stack error.

[2022-06-15 04:11] JkSelf commented on #1814
Yes, I create a single vector with about 1174096 num rows to write a file.

[2022-06-15 04:12] mbasmanova commented on #1814
@JkSelf Does the image above come from a gdb? Any chance you could reproduce this in a unit test that I can run?

[2022-06-15 04:13] mbasmanova commented on #1814
My guess is that you are creating a vector of strings using StringViews which point to freed or uninitialized memory.

[2022-06-15 04:15] JkSelf commented on #1814
It maybe hard to run in a unit test. Here is my code to add the dwrf write in Gluten. And It can pass in small datasets.

[2022-06-15 04:15] JkSelf commented on #1814
https://github.com/oap-project/gluten/pull/205/files

[2022-06-15 04:22] JkSelf commented on #1814
If so, Why the small dataset can pass?

[2022-06-15 04:22] mbasmanova commented on #1814
Could be because the memory doesn't actually get freed / reallocated in this case.

[2022-06-15 04:29] JkSelf commented on #1814
Is it reasonable to create a single vector with very large number of rows and write it to a file?

[2022-06-15 04:31] mbasmanova commented on #1814
It is fine. You need to check the total size in bytes of the data in the vector. If you have very large strings you may end up using a lot of memory. Still, this should work. Try the same with inline strings (length < 12).

[2022-06-15 05:18] miaoever commented on #1803
@zhztheplayer could you share an example of how do you use the `InlineLikeExecutor `? At Meta, we're exactly using the ` InlineLikeExecutor` to match the Spark thread/task model in our Velox-Spark integration.

[2022-06-15 12:35] zhztheplayer commented on #1803
I tried something like this, then the program had hanged by the time TaskCursor's queue was full:

[code]
Other codes was same as https://github.com/oap-project/gluten/blob/9a9d920f3570441229ba5f443f8e34f21e0cba72/cpp/velox/compute/VeloxPlanConverter.cc

[2022-06-15 16:09] aditi-pandit commented on #872
@pramodsatya tried some benchmarking of optimizations for starts-with, ends-with and contains special cases (Patterns like: foo%, %bar and %foo%).

We tried these expressions on tpc-h like usage (columns, data generated, and predicates from the queries) and have some good early results. https://docs.google.com/spreadsheets/d/1K6sByosNr2j2cj6U3AwJNgb1AqJPG5EKQhluvhuCf88/edit#gid=0

There will be PR

[2022-06-15 17:13] aditi-pandit commented on #685
PR# https://github.com/facebookincubator/velox/pull/1816

[2022-06-16 05:21] JkSelf commented on #1814
@mbasmanova  This issue is caused by the wrong vector construction in my side. Thanks for your help! And I will close this issue.

[2022-06-16 05:21] #1814 closed

[2022-06-16 05:42] kgpai commented on #1562
@frankliee Yes this is supported now. Feel free to open this issue should you encounter any issues.

[2022-06-16 09:18] zhztheplayer commented on #1803
E.g. there is `TaskContext` that is only visible for task threads.

https://github.com/apache/spark/blob/2fa98a6a0971cafeb98a2148a962cf8d79381842/core/src/main/scala/org/apache/spark/TaskContext.scala#L52

Currently we have a workaround to get the correct instance of `TaskContext` from Velox's executor threads. But that will seem like a suboptimal solution so we still want to get some suggestions

[2022-06-16 12:08] mbasmanova commented on #1814
@JkSelf Thank you for the update. Glad to hear the issue is resolved.

[2022-06-16 12:19] mbasmanova commented on #1803
@zhztheplayer Thank you for clarifying further. It is not clear to me now to run Velox plan single-threaded in a general case. Maybe if pipeline is restricted to certain types of operators, e.g. TableScan, Aggregation, FilterProject, we can write a new single-threaded driver. Do you have an idea how that might look like? Would you like to prototype something?

[2022-06-16 12:34] mbasmanova commented on #1803
@zhztheplayer Let's try to put together something for a simple TableScan -> FilterProject -> Aggregation plan. We can add a new method Task::next() that would be used instead of Task::start().

`RowVectorPtr Task::next(bool* isBlocked, ContinueFuture* future);`

We would then require that the caller calls Task::addSplit() and Task::noMoreSplits() first, then calls Task::next() in a loop until it r

[2022-06-17 18:14] majetideepak opened #1836 "Build failure with GCC 11: error: function may return address of local variable [-Werror=return-local-addr]"
When using the g++ version `11.2.1 20220401 (Red Hat 11.2.1-10)`, I see the below warnings.
[code]

[2022-06-17 18:19] Yuhta commented on #1836
This is fine because `data` here is a `StringView` and the underlying `StringView::data()` is still valid

[2022-06-17 18:32] majetideepak commented on #1836
If the StringView is inline, then this will be returning the address of a local variable?

[2022-06-17 19:21] Yuhta commented on #1836
The `StringView` here cannot be inlined because it's guaranteed to be longer than 12 bytes.  We can put an assert here to make sure.

[2022-06-17 19:32] majetideepak commented on #1836
I doubt the compiler can infer the StingView cannot be inlined based on the assert.

[2022-06-17 19:36] Yuhta commented on #1836
In this case we can just suppress the warning locally then

[2022-06-17 19:38] majetideepak commented on #1836
okay. Let's put an assert and suppress the warning locally.

[2022-06-17 19:39] majetideepak commented on #1836
I will work on this since I have access to GCC 11 handy.

[2022-06-17 19:40] Yuhta commented on #1836
Thanks @majetideepak

[2022-06-18 06:35] usurai commented on #1562
Hi, thanks for the effort for supporting the M1.
However, I still cannot get Velox up and running on M1 due to errors thrown by `setup-macos.sh`, there are two issues:
1. permission denied when installing range-v3
2. folly build failure due to

I use M1 mac running macOS 12.4, my clang is `Apple clang version 13.1.6 (clang-1316.0.21.2.5)`.
When executing `CPU_TARGET="arm64" ./scripts/setup-macos.s

[2022-06-19 14:38] leoYY commented on #1328
Hi @Yuhta,
I found that:
in scripts/setup-helper-functions.sh, CPU_TARGET will be setup in function "get_cxx_flags".
But it was initialized by code above manually
[code]
Is there any consideration here?

[2022-06-19 17:01] kgpai commented on #1328
Hi @leoYY ,
We have details here https://github.com/facebookincubator/velox#setting-up-on-macos , on how you can get Velox running on an M1. Let us know if you run into any problems.

[2022-06-20 09:28] limbolism opened #1842 "Is there any documentation on performance testing?"
I would like to know the performance difference between using velox and not using velox, is there any documentation on this?

[2022-06-20 22:34] #1836 closed

[2022-06-21 00:11] pedroerp commented on #1842
@limbolism can you elaborate on your question? You mean the difference between using Velox to interpret an expression, vs. having it hard-coded in, say, a cpp program? Or the question in related to a particular compute engine, like Presto or Spark?

[2022-06-21 21:45] markjin1990 commented on #1634
**Update: We believe that we have found the root cause for this issue.**
### Root Cause
In a nutshell, the SQL execution is blocked when some of the downstream tasks consuming the data from the outputBuffers of the upstream task complete & abort early without notifying the upstream task and all producers in the upstream task will keep dumping data into outputBuffers until they are blocked by `maxS

[2022-06-22 08:25] limbolism commented on #1842
yes, I would like to know the performance reports related to the compute engine like presto

[2022-06-23 15:00] mbasmanova commented on #1634
@markjin1990 Mark, thank you for the update. Looking forward to the PR with the fix.

[2022-06-23 15:51] mbasmanova commented on #1842
@majetideepak @aditi-pandit @frankobe Folks from Ahana and ByteDance have been running some performance testing. Deepak, Frank, anything you can share here?

[2022-06-23 16:40] kgpai commented on #1562
Also FYI, I think the script to build folly isnt being invoked right, you shouldnt get '-mavx2 -mfma -mavx -mf16c -masm=intel -mlzcnt -std=c++17 -arch arm64 ' as that means compile for intel but for arm.

[2022-06-23 18:16] mbasmanova commented on #1634
I wonder if this is a similar: https://github.com/facebookincubator/velox/pull/1332

[2022-06-23 19:53] chakpongchung opened #1859 "vectorized processing for take"
https://stackoverflow.com/questions/72735678/how-to-vectorize-arrowcomputetake

Is there a similar feature in Velox?

[2022-06-23 21:12] frankobe commented on #1634
@mbasmanova The root cause is similar that the exchange source is not closed to free the memory as the downstream stage is terminated early. However your fix is for local exchange, we will fix it for remote exchange

[2022-06-24 16:20] usurai commented on #1562
With the help of @kgpai, we found that the folly build failure was due to my change to `cmake_install` causing the invalidation of build flags. To do the setup on M1 Mac, change the owner of `/usr/local/lib` and `/usr/local/include` to you, and invoke `setup-macos.sh` with `CPU_TARGET="arm64"`.
Per @kgpai, there's been effort going on to move the installation out of '/usr/local/` to the build dire

[2022-06-24 16:43] pedroerp commented on #1859
Hi @chakpongchung, it depends on what you intend to do with the results. In Velox you could do this zero-copy by wrapping input_array and take_array and creating a DictionaryVector, for instance. Could you explain a bit more about the use case?

[2022-06-24 16:44] kgpai commented on #1859
Hi chakpongchung , Can you add more details here. What feature are you exactly looking for ?

[2022-06-24 17:09] mbasmanova commented on #1562
@usurai Thank you for the update. I'm happy to hear you are unblocked. Thank you, @kgpai .

[2022-06-24 17:09] #1562 closed

[2022-06-24 18:46] chakpongchung commented on #1859
Use Case: I am taking a subset of a really large input_array. It is used in places where OpenMP-like and MPI-like parallelism are used. So vectorization seems to be the next low-hanging fruit.

Context and use cases also added to the original StackOverflow post.

[2022-06-25 03:16] stdpain opened #1869 "compile error when building deps"
when I building velox, I got a compile error

https://github.com/facebook/folly/issues/1801

I remove the flags `-masm=intel` it works.

[2022-06-27 17:13] pedroerp commented on #1869
@kgpai I believe you have a PR out for this?

[2022-06-28 02:57] wenphan-ahana opened #1881 "Testing repo permissions"

[2022-06-28 02:57] #1881 closed

[2022-06-28 05:18] karteekmurthys opened #1882 "Linux build failures due to folly::ssl::openssl dependency in velox"
PrestoCPP linux CircleCI build failing because of folly::ssl dependency:

[code]
Circle CI:
https://app.circleci.com/pipelines/github/facebookexternal/presto_cpp/5466/workflows/21fe2321-0705-4488-b27f-9a2f9eb97b36/jobs/21074

@aditi-pandit @pramodsatya

[2022-06-28 05:50] mbasmanova commented on #1882
CC: @kgpai @mshang816

[2022-06-28 15:00] aditi-pandit commented on #1882
Thanks @mshang816.

[2022-06-28 18:12] majetideepak opened #1884 "Add support for right semijoin"
TPC-H Q4 will benefit from this implementation.

[2022-06-29 00:45] frankobe commented on #1634
@tanjialiang You can try the following two PRs to fix the remote exchange
https://github.com/facebookincubator/velox/pull/1886
https://github.com/facebookexternal/presto_cpp/pull/789

[2022-06-29 01:42] pedroerp commented on #1859
Arrow also supports dictionary encoded data:

[2022-06-29 07:27] rui-mo opened #1890 "Performance regression with row construct"
Hi,
We are tesing the performance of TPC-H q17 integrated with Spark. Becuase spark has two columns of output, sum and count, for partial avg, we need to use row_construct to combine them to a RowType vector for the computing of final agg in Velox. But we found some performance issue may be related to the [RowFunction](https://github.com/facebookincubator/velox/blob/main/velox/functions/prestosql/

[2022-06-29 07:29] rui-mo commented on #1890
Raised an issue here @marin-ma @FelixYBW.

[2022-06-29 16:29] kagamiori commented on #1890
Hi Rui, Thank you for bringing this up. Could you also provide the query plans in Spark before and after the query rewritings?
CC: @mbasmanova

[2022-06-29 19:51] mshang816 commented on #1882
This issue is fix after this PR (https://github.com/facebookexternal/presto_cpp/pull/788) is merged into presto_cpp main branch. Closing this issue.

[2022-06-29 19:51] #1882 closed

[2022-07-01 03:09] pedroerp opened #1915 "Split DuckDB amalgamated file"
Split DuckDB amalgamated file to improve build times by parallelizing compilation units.

[2022-07-01 03:10] pedroerp commented on #1915
#1911 #1912 and #1913

[2022-07-01 03:11] pedroerp commented on #1915
Submitted upstream fixes to DuckDB:

[2022-07-01 03:13] pedroerp commented on #164
Mostly done. See #1551 and other related PRs. The remaining work for now is to remove the single threaded limitation in dbgen.

[2022-07-01 04:02] pedroerp commented on #1915
Hooking up new amalgamated filed #1916

[2022-07-01 07:34] yingsu00 opened #1918 "Unify include ordering"
Right now there're some discrepancies in the #include ordering. Some files put the system includes before the velox ones, while some the opposite. Furthermore, the .h file for the corresponding cpp is usually not separated by the rest includes.

Examples:
RLEv2.cpp
[code]
PagedInputStream.cpp
[code]
compression.cpp
[code]
ColumnSelector.cpp
[code]
BufferedInput.cpp
[code]
It will be nice to unify

[2022-07-01 16:56] kagamiori commented on #1918
Hi @yingsu00, Thank you for bringing this up. Just to add relevant information: we internally follow a coding style as follows (and yes, there are files not following this style unfortunately).

CC: @pedroerp @mbasmanova

[2022-07-04 03:51] rui-mo commented on #1890
@mbasmanova One thing we found is that this issue seems to be already fixed on the latest Velox main branch. Below is some test results we got:

| Time(s) | Old Velox main | Latest Velox main |
|---------|------------------|---------------------|
| Q17 avg	| 197.66 | 117.25 |
| Q17 sum/count | 125.21 | 119.35 |

About changing to use `context->moveOrCopyResult(row, rows, result);`, below are some

[2022-07-04 03:58] rui-mo commented on #1890
Found latest Velox is still using below implementation in RowFuntion, but the performance regression has been fixed based on our test. Does it still need to be changed?

[code]

[2022-07-05 16:59] mbasmanova commented on #1890
@rui-mo Rui, glad to hear you are getter better performance using latest Velox. The problem you pointed out is still valid, but may need surface in the workloads are you testing right now. I'm working on fixing this in #1921

[2022-07-06 18:42] #1915 closed

[2022-07-07 01:16] rui-mo commented on #1890
Thanks for your great work! Closing this issue.

[2022-07-07 01:16] #1890 closed

[2022-07-07 03:39] zhztheplayer commented on #1803
@mbasmanova Just to update, we've adopt these 2 PRs and they seem to work good as expected until now. Thank you very much for all the help :)

And I guess this can be closed now?

[2022-07-07 03:43] mbasmanova commented on #1803
@zhztheplayer Hongze, thank you for the update. I'm glad the new Task::next API is working for your use case. I'll close this issue now.

[2022-07-07 03:43] #1803 closed

[2022-07-07 18:34] karteekmurthys opened #1968 "Fuzzer Expression tests for Decimal functions"
The fuzzer test for decimal functions like "decimal_add" tries to resolve return type without binding the input arguments. This leads to test failures as the return type relies on input argument precision and scale.

https://app.circleci.com/pipelines/github/facebookincubator/velox/9911/workflows/572b620b-a5d1-46d2-bb14-592dfab8d16f/jobs/56835

[2022-07-07 19:56] majetideepak opened #1969 "Enable ASAN in CI tests"
Enabling address sanitizer in CI testing will help catch critical bugs.

[2022-07-07 19:58] majetideepak opened #1970 "Add nightly CI tests for fuzzer and TpchBenchmark"
Current fuzz testing per commit has limited coverage. The scope here is to add a nightly with larger coverage.
TpchBenchmark should also be run nightly to catch regressions.

[2022-07-07 23:21] pedroerp commented on #1970
Thanks Deepak. I'll take a look at a nightly fuzzer run first.

[2022-07-08 00:59] zhouyuan opened #1975 "Optimized CXX_FLAGS for new Intel platform"
Hi Velox developers,

The` CXX_FLAGS` were configured to pick only a small set of CPU features, is this an intended configuration to work with Meta local building env?
https://github.com/facebookincubator/velox/blob/main/scripts/setup-helper-functions.sh#L103

These flags prevents GCC to do more optimizations when compiling, and the library compiled with these flags are missing some important opti

[2022-07-08 01:10] mbasmanova commented on #1975
CC: @Yuhta @kgpai

[2022-07-08 01:11] kgpai commented on #1975
Hi zhouyuan,

To an extent yes, velox is built with these flags so we can target the largest set of users. For e.g certain bmi/avx instructions are not present on Google collab. Adding more finer grained profiles increases testing burden as we need to ensure we have appropriate CI jobs to ensure things don't break.
Hope this helps.

-Krishna.

[2022-07-08 01:16] kgpai commented on #1975
Also to clarify we take the conservative approach only for binaries that are to distributed externally, we do try and apply the maximum optimizations to internal builds. One nice change/ feature to add would be to override these flags if CXX_FLAGS is set .

[2022-07-11 08:07] rui-mo opened #1985 "Scan batch size cannot be adjusted through configuration"
The scan batch size cannot not be adjusted through configuration. If estimated row size is less than 1024, the batch size is limited to be 1k.

[code]

[2022-07-11 09:01] zhejiangxiaomai commented on #1975
Change CXX_FLAGS  to -march=native -mno-avx512f, we can compile successfully. But it does not contain any avx512 Instruction. we will make new PR to fix  avx512 compile problem, when we need delete  -mno-avx512f in the future.

[2022-07-11 16:09] pedroerp opened #1987 "Flaky TestHiveWindowQueries.testWindow"
Opening this Issue here for visibility, but our internal build system reported that Presto's TestHiveWindowQueries.testWindow is flaky. @aditi-pandit could you take a look when you have moment?

[2022-07-11 18:09] pedroerp opened #1989 "Enabling top-level nulls on Complex and Dictionary Vector breaks UnsafeRowDeserializer"
Having the fuzzer vector generator to add top-level nulls to complex vector (particularly rowVectors) and dictionaries, breaks the UnsafeRow deserialization tests. They were explicitly disabled in:

We should remove both `complexHasNulls` and `dictionaryHasNulls` options. In order to reproduce, enable both options, run the tests and check the stack traces.

[2022-07-12 13:48] #1975 closed

[2022-07-13 06:45] #1869 closed

[2022-07-15 03:32] zzpzbl6685 opened #2016 "can not run CPU_TARGET="arm64" ./scripts/setup-macos.sh on mac m1"
env mac m1

CPU_TARGET="arm64" ./scripts/setup-macos.sh:
-- Build files have been written to: /Users/lengpi/Desktop/work/velox/range-v3/_build
+ ninja -C _build install
ninja: Entering directory `_build'
[0/1] Install the project...
-- Install configuration: "Release"
CMake Error at cmake_install.cmake:53 (file):
  file cannot create directory: /usr/local/lib/cmake/range-v3.  Maybe need
  administ

[2022-07-15 06:44] c21 opened #2018 "Any interest in running Velox in h2oai db-benchmark?"
h2oai db-benchmark (https://h2oai.github.io/db-benchmark/) is a OLAP benchmark, and many popular systems (Spark, Arrow, Polars, ClickHouse) has run the benchmark and share the result on it.

For Velox folks, are you interested in running the benchmark and publish the result? Quite many eyes are on the benchmark and I think it's good for Velox to marketing if performance number looks good (disclaim

[2022-07-17 09:10] yingsu00 opened #2029 "Build failure (Undefined symbols "InternalMetadata::~InternalMetadata()" ) with latest protobuf"
make debug fails with "Undefined symbols" error. This happens on the latest protobuf.

protobuf is installed as a dependency by scripts/setup-macos.sh:
[code]
Then run make (successful), but make debug throws the following error:

[code]
Please see examples at https://github.com/facebookincubator/velox/pull/2027 and https://github.com/facebookincubator/velox/pull/2026

The temp workaround is to ad

[2022-07-18 03:53] yingsu00 opened #2032 "[Refactoring] Move dwrf::E2EFilterTestBase to dwio::common"
This is a sub issue of https://github.com/facebookincubator/velox/issues/1533

Both Parquet and Dwrf e2e filter tests will inherit this class. To remove the dependency of Parquet tests on dwrf::E2EFilterTestBase, we need to remove Dwrf specific contents from it and move to dwio::common.

This is part of the native parquet refactoring task.

[2022-07-18 03:53] yingsu00 commented on #2032
cc @zzhao0 @oerling @HuamengJiang @weizheng10

[2022-07-18 03:55] yingsu00 commented on #1734
Changes merged to DuckDB and backported to Velox. Closing.

[2022-07-18 03:55] #1734 closed

[2022-07-18 03:56] yingsu00 commented on #1621
Resolved by PR #1767

[2022-07-18 03:56] #1621 closed

[2022-07-18 03:57] yingsu00 commented on #1617
Resolved by the above mentioned PRs. Closing.

[2022-07-18 03:57] #1617 closed

[2022-07-18 14:18] Yuhta commented on #1426
This should be already fixed

[2022-07-18 20:56] yingsu00 commented on #2029
cc @mbasmanova @pedroerp

[2022-07-18 23:59] kevinwilfong commented on #2029
I think https://github.com/facebookincubator/velox/pull/2042 will fix this

[2022-07-19 06:06] yingsu00 commented on #2029
Thank you @kevinwilfong for looking into this! Our scan is dependent on the performance of google::protobuf::io::ZeroCopyInputStream in protobuf. Linking against a debug version might degrade the performance. Do you have any other ideas to fix it?

[2022-07-19 06:15] rui-mo opened #2048 "Status missing with toPlanStats on certain pattern"
Hi,

We are using below function to get the map of plan node status with `toPlanStats(task_->taskStats())`. Link: [toPlanStats](https://github.com/facebookincubator/velox/blob/main/velox/exec/PlanNodeStats.cpp#L102-L121).

    const TaskStats& taskStats)

But found there is one missing status on below pattern. We suppose to get a map with size 5 but actually only get 4.

[code]

We printed the pla

[2022-07-19 09:41] zhanglistar opened #2050 "Is there any roadmap?"
Thanks in advance.

[2022-07-19 16:27] mbasmanova commented on #2048
@rui-mo This is because Filter over Project nodes are mapped to a single operator FilterProject. Runtime statistics are collected at a per-operator basis and then mapped back to the plan node. FilterProject operator is mapped to the Project node. No operator is mapped to Filter node in this case, hence, Filter node doesn't have stats.

[2022-07-20 02:23] rui-mo commented on #2048
Thanks for your clarify. We will make the change accordingly.

[2022-07-20 02:24] #2048 closed

[2022-07-20 12:51] dingqiaoyi commented on #2050
I'm also interested in when the GA version will be released.
Is it likely to be released this year？@pedroerp @mbasmanova

[2022-07-20 13:03] mbasmanova commented on #2050
@dingqiaoyi We do not have a publicly sharable roadmap. Some of the major in-progress items are:

- decimal support
- window function support
- new optimized Parquet reader
- integration with Presto and Spark

Is there something specific you are interested in?

CC: @majetideepak

[2022-07-20 13:11] dingqiaoyi commented on #2050
Is there an expected time for Velox fully supporting TPC-H and TPC-DS ?

[2022-07-20 13:23] mbasmanova commented on #2050
TPC-H is already supported with Presto. @rui-mo Rui, do we have it supported with Spark as well?

TPC-DS will take a few more months.

[2022-07-20 13:38] rui-mo commented on #2050
Yes, we've supported TPC-H in Spark with most operators offloaded into Velox.

[2022-07-21 02:13] zhanglistar commented on #2050
Very glad to see the progress and we are very eager to use and improve performance of spark and presto now, and also we will contribute back if we have improvements.

[2022-07-21 08:41] alexey-milovidov opened #2072 "Technical design decisions and ideas that are not present in ClickHouse"
Please list some novel and interesting ideas that are not already present in ClickHouse.

[2022-07-21 08:53] barsondei opened #2073 "Projection got incorrect result with LazyVector"
![image](https://user-images.githubusercontent.com/5222277/180172516-036e3431-36b8-48c8-b6d4-6c689a3249f0.png)

I add the following test case to ExprTest.cpp and got incorrect result.
[code]

[2022-07-21 11:51] mbasmanova commented on #2072
@alexey-milovidov Alexey, there is a paper about Velox in the upcoming VLDB.

Velox: Meta’s Unified Execution Engine - https://vldb.org/2022/?papers-industrial

[2022-07-21 11:53] mbasmanova commented on #2073
@barsondei Barson, thank you for reporting a problem. Do you want to propose a fix? It's ok if not, we'll take a look anyway.

CC: @kagamiori @laithsakka @kevinwilfong @kgpai @Yuhta

[2022-07-21 12:08] mbasmanova commented on #2073
@barsondei Just an FYI, there is a simpler way to create vectors for testing:

[code]

[2022-07-21 12:23] mbasmanova commented on #2073
@barsondei This is something I ran into awhile ago and worked around by setting final selection to false in FilterProject operator.

[code]

We have 2 expressions, c0 + c1 and if (c1 >= 0, c1, 0), which are evaluated independently, e.g. evaluation of the first expression is not aware of the second expression. The first expression has default null behavior, hence, it is evaluated only for rows wher

[2022-07-21 15:03] barsondei commented on #2073
You ran into this problem with 2 independent expressions：c0 + c1,  if (c1 >= 0, c1, 0)。
I think this is why you work around this problem in FilterProject::project method, but not in FilterProject::filter method。
In my case, the bug can also occur with 1 expression in FilterProject::filter。

I just found the bug，when I'm learning the code of expression evaluation recently。
I saw a lot of logic deal

[2022-07-21 15:04] barsondei commented on #2073
You ran into this problem with 2 independent expressions：c0 + c1,  if (c1 >= 0, c1, 0)。
I think this is why you work around this problem in FilterProject::project method, but not in FilterProject::filter method。
In my case, the bug can also occur with 1 expression in FilterProject::filter。

I just found the bug，when I'm learning the code of expression evaluation recently。
I saw a lot of logic deal

[2022-07-21 15:13] mbasmanova commented on #2073
@barsondei Would you explain how to reproduce this bug?

[2022-07-21 15:23] mbasmanova commented on #2073
@barsondei I'm a bit confused. `row_constructor(c0 + c1, if (c1 >= 0, c1, 0))` is not a filter expression. Any chance you can share a full repro?

[2022-07-21 15:27] barsondei commented on #2073
bitmap has 2 benifits：
1）reduce expression evaluation with null behavior
2) load minimum row set in lazy load logic

the expression is evaluated only on non-null values is OK。but need to use finalSelection as RowSet in lazy load logic

[2022-07-21 15:33] barsondei commented on #2073
how about：element_at( row_constructor(c0 + c1, if (c1 >= 0, c1, 0)), 0)  > 0 ？

I construct the expression just to prove the bug。The expression not has any business meaning。

[2022-07-21 15:39] mbasmanova commented on #2073
This doesn't seem to be necessary. If the column is not used outside of the expression, there is no need to load rows that will be participate in expression evaluation. Only if the column is used somewhere else, then the loading needs to occur for all rows. The thinking is that the caller of the expression evaluation has the context on whether any columns are used outside of the specified expressi

[2022-07-21 15:58] barsondei commented on #2073
I’m not clear with the logic of LazyVector's creation in TableScan operator。
If it only load rows specified with bitmap，the bug will occur when run SQL in end to end environment：
SQL：
[code]

[2022-07-21 16:18] mbasmanova commented on #2073
@barsondei Thank you for an example query. I implemented it in a unit test and I'm seeing failures evaluating this query. Will investigate. BTW, let me know if you'd like to help with investigating or fixing.

[code]

[2022-07-21 16:23] barsondei commented on #2073
OK。I‘m pleasure to fix it。

[2022-07-21 21:25] bikramSingh91 opened #2079 "sum(float) aggregation function gives wrong results"
The sum aggregation function for result-type float currently uses double as an intermediate. During execution the accumulator ends up writing intermediate values as double which then get read directly as floats (by using a reinterpret_cast). Due to the difference in memory layouts that double and floats use, the output float value turn out to be wrongly read.
Possible solution:
The simple solution

[2022-07-22 07:02] rui-mo opened #2086 "Question about output batch size of join and aggregation"
Hi,

We noticed there was a config controlling the output batch size of join and aggregation at below two places:

[Aggregation](https://github.com/facebookincubator/velox/blob/main/velox/exec/HashAggregation.cpp#L35)
[HashProbe](https://github.com/facebookincubator/velox/blob/main/velox/exec/HashProbe.cpp#L63)

We are wondering why the default value is 1024. Would that be too small？We previously

[2022-07-22 07:03] rui-mo commented on #2086
hi @zhouyuan, raised an issue here.

[2022-07-22 13:47] Yuhta commented on #2086
@mbasmanova Can you help answering this when you have time?  Thanks.

[2022-07-22 16:51] kevinwilfong commented on #2029
With the latest release of Protobuf this issue is fixed.

[2022-07-22 16:51] #2029 closed

[2022-07-23 02:25] pedroerp commented on #2032
Let me look at this one. I've been meaning to learn more about this part of the codebase anyway.

[2022-07-23 03:33] pedroerp commented on #2032
First moving the dwrf/test/utils files: #2093 2093

[2022-07-23 19:36] alexey-milovidov commented on #2072
@mbasmanova there is no link to read the paper.

[2022-07-25 13:51] mbasmanova commented on #2086
@rui-mo Rui, we haven't had a chance to fine tune this parameter. I can imagine that 1024 could be small in certain cases, but wonder if you could describe a specific query shape where this becomes a problem and also share how big the problem is, e.g. what is the performance difference between different batch sizes. It would be helpful to put together a benchmark that we could use to illustrate th

[2022-07-25 14:16] mbasmanova commented on #2072
@alexey-milovidov Alexey, I assume the paper will become available after the conference in a month or so. Would you like to join our Slack? Maybe we could provide a draft of the paper there. CC: @pedroerp @jijufb

[2022-07-26 00:58] pedroerp commented on #2072
@alexey-milovidov if you send me an email at pedroerp@fb.com I can share the current camera ready.

[2022-07-26 05:17] rui-mo commented on #2086
Hi @FelixYBW @marin-ma, about the batch size issue, can you help put the test data here if you still keep it?

[2022-07-26 06:36] marin-ma commented on #2086
@rui-mo Thanks for reporting the issue. @mbasmanova In our case, we were testing the performance of TPC-H Q21 with Gluten + Velox on spark. In gluten, we are using columnar ShuffleExchange operator to replace Spark's row-based shuffle. Columnar shuffle is sensitive to the input batch size, which means its performance gets worse with small input batch size (the output data from hash join is the inp

[2022-07-26 08:18] mbasmanova commented on #2073
@barsondei @kgpai @bikramSingh91 @oerling

I looked into this problem some more.

We evaluate an expression `array_constructor(c0 + c1, if(c1 >= 0, c1, 0))` over lazy vectors. First, we evaluate c0 + c1. It happens so that c0 has a null in the last position, hence, we end up loading c1 for all positions but last. Next, we evaluate if(c1 >= 0, c1, 0) expression over already loaded vector and end up

[2022-07-26 08:38] mbasmanova commented on #2086
@rui-mo Rui, it should not be necessary to change the value in the code. You can simply specify a different value in the QueryConfig. See an example in velox/exec/tests/HashJoinTest.cpp

[code]

[2022-07-26 08:41] mbasmanova commented on #2086
I'm curious what's the motivation for using columnar shuffle. Do you see improved performance? CC: @beroyfb @miaoever @spershin @xiaoxmeng

[2022-07-26 08:43] mbasmanova commented on #2086
This makes sense. I'm curious which operator do you use for shuffle. Would it make sense for that operator to buffer enough rows before sending these to shuffle? Such buffering logic exists in velox/exec/PartitionedOutput.cpp, but I'm not sure if you are using this operator or some other custom operator.

[2022-07-26 08:46] rui-mo commented on #2086
Hi @mbasmanova, yes, we implemented a PR to set this config through query context. The value is acquired from Spark config, and its default value is 32k. But we found join with filter still had small batch size with this config. So we raised this issue to ask about it. Thanks!

[2022-07-26 08:55] mbasmanova commented on #2086
I see. The problem is that join with filter does not respect the kPreferredOutputBatchSize configuration property. The questions would be whether to modify HashProbe operator to always respect kPreferredOutputBatchSize configuration property or introduce a separate operator to merge small bathes into larger ones.

CC: @oerling @xiaoxmeng

[2022-07-26 15:50] barsondei commented on #2073
@mbasmanova
I don't quite understand the description:

Would you explain it in more detail?

[2022-07-26 16:42] mbasmanova commented on #2073
@barsondei

In Expr::evalWithNulls, we have 2 code paths: (1) expression propagates nulls, (2) expression doesn't propagate nulls.

In (1), we don't need to do anything since nulls in any input produce null results. If one sub-expression has nulls in positions 1, 5, 10, then no other sub-expression needs to be evaluated for these positions.

In (2), we have to evaluate all sub-expressions independ

[2022-07-26 17:57] barsondei commented on #2073
@mbasmanova I got it.
The major difference between the option 2)、3) you proposed above and my [PR#2089](https://github.com/facebookincubator/velox/pull/2089) is that it's no need to set finalSelection to false when evaluating with null-propagating expression.  It make sense due to most function propagates nulls.
With the implement of option 2, expression1 `array_constructor(c0 + c1, if(c1 >= 0, c1

[2022-07-26 18:22] mbasmanova commented on #2073
Just to clarify,

array_constructor doesn't propagate nulls, hence, array_constructor(c0 + c1, if(c1 >= 0, c1, 0)) expression would go via path #2.

This expression would go via path #1, assuming array_constructor_propagate_nulls is a hypothetical function that acts like array_constructor, but propagates nulls.

This would be my preference as well. However, we may need to keep the code in Expr::ev

[2022-07-26 23:43] yingsu00 commented on #2032
Thank you very much @pedroerp !

[2022-07-27 06:27] rui-mo commented on #2086
Hi Masha, we are using a custom operator for columnar shuffle. But I think you are right, we can add some operator before shuffle to buffer enough rows. Currently we have a custom implementation for that, and it combines the shuffle outputs to certain batch size. I think we can also use that operator to combine the inputs for shuffle.

[2022-07-27 09:45] FelixYBW commented on #2086
It make sense to add an coalesce operator after each filter, either it's from filter operator or hash join. Rapids-plugin does in this way. Photon either didn't buffer enough rows after filter, they didn't add coalesce operator.

Thank you, Masha. We may close this issue.

[2022-07-27 12:02] mbasmanova commented on #2086
Closing per @FelixYBW comment. Feel free to reopen if needed.

[2022-07-27 13:55] rui-mo commented on #2086
Thanks for your answering! Closing this issue.

[2022-07-27 13:55] #2086 closed

[2022-07-27 17:17] kgpai opened #2116 "Resolve to most specific function when there are multiple matching signatures"
If you have a function 'foo' with a generic simple function implementation `registerFunction<foo, bool, Generic<T1>, Generic<T1>` and a more specialized (likely optimized) implementation of foo `VELOX_REGISTER_VECTOR_FUNCTION(udf_special_foo, "foo")` for some types, then currently the simple function will win over the more specific function. We should change this to have the more specific function

[2022-07-27 17:18] kgpai commented on #2116
#2105 is a stop gap fix for the above problem but not a full solution.

[2022-07-27 17:27] mbasmanova commented on #2116
CC: @kagamiori @aditi-pandit @majetideepak

[2022-07-27 18:01] kgpai opened #2119 "Move top level dependencies that are used by VELOX_MINIMAL to use Cmake ExternalProject"
Move  dependencies required for Velox Minimal to use ExternalProject:

1. Folly
2. Fmt
3. Boost
4. Gflags etc..

The full list is in this [document](https://docs.google.com/document/d/1XyEOypAIsIpjt9ZVCEQK03SPWNttPGl6ttLB1F_M9OQ/edit#heading=h.oedfxlrw42cy).

Note: We plan to move all Velox dependencies to cmake, however we are initially starting with this list in the interests of expediency . Not

[2022-07-27 18:15] kgpai opened #2121 "Create build of VELOX_MINMAL with third party libraries statically linked"
Creating a static build , will allow us to create conda builds for TorchArrow and also validate #2119 . It will also enable us to cross compile to other architectures (like ARM).

[2022-07-27 18:21] pedroerp commented on #2119
@mshang816 @spershin: This would also help with Prestissimo macOS builds (assuming we eventually do the same for any specific dependencies there)

[2022-07-27 18:26] kgpai opened #2122 "Cross compile and create Apple M1 Arm binary"
MacOS allows you to target arm arch, with static builds enabled, it should be possible for us to cross compile and create ARM binary from MacOS CI executors. This should be run as a CI job on every PR to ensure we are always portable.

[2022-07-27 18:27] pedroerp commented on #2032
No problem! This is finished, closing it.

[2022-07-27 18:27] #2032 closed

[2022-07-27 18:38] kgpai opened #2123 "Enable Velox builds/Tests on AWS Gavitron instances"
AWS Gavitron (ARM) instances are available on Circle CI. We should enable velox builds/test on them to ensure portability.

[2022-07-27 18:50] pedroerp commented on #164
This is finished. DuckDB dbge locks were removed as part: https://github.com/duckdb/duckdb/pull/4049

[2022-07-27 18:50] #164 closed

[2022-07-27 18:55] kgpai opened #2124 "Move off of custom linux images and use ubuntu:latest to build/test Velox"
When dependencies are moved as per #2119 , then we should move to ubuntu:latest and not have custom images with preinstalled dependencies.

[2022-07-27 19:00] kgpai opened #2125 "Enable ASAN/TSAN/UBSAN/Unit tests for Linux & MacOS"
Currently Unit tests arent run for MacOs builds ; this needs to be fixed. We should also enable ASAN/TSAN/UBSAN for Linux and MacOS.

[2022-07-27 22:48] pedroerp opened #2130 "velox/common/caching/tests/AsyncDataCacheTest.ssd is flaky"
Just caught the error in circleCI running on main branch:

The test is flaky, but you can usually reproduce it by running it 10+ times. The failed assert is:

[code]

and the test prints a bunch of these error messages right before:

[code]

[2022-07-28 18:42] pedroerp commented on #1970
Adding Fuzzer nightly run here: #2092

[2022-07-29 03:15] oerling commented on #2073
It would be OK to say that final  selection is goes false in contexts where a row has been dropped because of a null in a previous argument of a null propagating expression.

Loading a row or two extra is not a big deal, most of the time. Avoiding a whole load is the prize we are going for with lazy vectors.

Something like select if (a,b,c), if(a, b, c +d), … should not load c if a were true acro

[2022-07-29 16:54] mbasmanova opened #2149 "Verify min(date) and max(date) aggregate functions end-to-end"
Currently, min and max aggregate functions with DATE input types produce DATE intermediate results. We need to double check whether this matches intermediate types expected by the Presto planner and if not update the implementation. We would also like to add an e2e test to ensure min(date) and max(date) work properly.

[code]

CC: @spershin @pramodsatya

[2022-07-29 19:30] pedroerp commented on #1970
First nightly fuzzer run finished successfully:

[2022-07-29 20:46] pedroerp opened #2153 "Save test output as JUnit XML and show it in circleCI jobs"
CircleCI supports reading test output using JUnit format and shows a nicely formatted output in the "Test" tabs:

Currently it's hard to dig through the logs and find out which specific test failed. Gtest seems to support a flag that controls the output type already.

[2022-08-01 03:13] dingqiaoyi opened #2160 "Is there any plan on integrating the RaptorX into Velox data sources?"
I noticed that we are woking on some native readers like ORC and Parquet having optimizations of file handle cache and data cache.
Is there any plan to fully support the hierarchical caching ideas from the prestodb RaptorX?

[2022-08-01 10:00] yvxiang commented on #2149
also needed for min_by/max_by aggregate functions :)

[2022-08-01 13:00] rui-mo opened #2161 "Is there any plan for a MultiRange with AND sematics?"
Hi,

We noticed there were two levels of filters in HiveTableHandle ([link](https://github.com/facebookincubator/velox/blob/main/velox/connectors/hive/HiveConnector.h#L78-L84)), the subfieldFilters and remainingFilter. For subfieldFilters, there were several kinds of ranges in [Filter.h](https://github.com/facebookincubator/velox/blob/main/velox/type/Filter.h#L34-L54). My question is about MultiRa

[2022-08-01 14:21] UranusSeven opened #2162 "How to generate the TPC-H data?"
Hi guys, I want to run the TPC-H benchmark. Is there a convenient way to generate the required data?

[2022-08-01 14:30] mbasmanova commented on #2161
@rui-mo Rui, thank you for the question.

Here, a recommendation would be to further analyze the filter and check whether y and z are > x. If they are, then the filter can be simplified to just `a in (y, z)`. If y < x, but z > x, then filter will become `a = z`.

[2022-08-01 14:48] majetideepak commented on #2162
@UranusSeven Presto has a TPC-H connector that can be used to generate Parquet and DWRF format data.
Velox recently added a TPC-H connector, Parquet writer. It already has a DWRF writer. But I think there is no ready-to-use tool to connect the TPC-H connector to these writes.

CC: @pedroerp

[2022-08-01 15:18] majetideepak commented on #2162
Yes, I used the Presto TPC-H connector to test.

[2022-08-01 15:25] UranusSeven commented on #2162
Cool. Thanks for your help : )

[2022-08-01 15:25] #2162 closed

[2022-08-01 15:38] pedroerp commented on #2162
The TPC-H Connector unit test suite has some examples of how you can use it in Velox:

[2022-08-01 15:48] mbasmanova commented on #2160
@dingqiaoyi Velox support RAM and SSD caching. RaptorX supports only SSD caching. Are there any further caching optimizations you have in mind?

CC: @oerling @tanjialiang

[2022-08-01 15:50] majetideepak commented on #2160
I believe the "Fragment result set cache" is the only missing layer in Velox.

[2022-08-01 15:53] majetideepak commented on #2160
Note that the coordinator in the Velox world is still the Java implementation. So RaptorX can be used on the coordinator for meta store and file list caches.
RaptorX reference: https://ahana.io/blog/configuring-raptorx-a-multi-level-caching-with-presto/

[2022-08-02 01:23] shiyu-bytedance opened #2175 "Add this table to velox aggregate developer page"
<img width="913" alt="Screen Shot 2022-08-01 at 6 22 42 PM" src="https://user-images.githubusercontent.com/105019964/182271708-1370d47a-850b-46e5-b59f-c61041f10f48.png">

This table can be added to the velox developer 's aggregate page to make understanding aggregates easier.

[2022-08-02 01:35] mbasmanova commented on #2175
CC: @xiaoxmeng

There are additional usage pattern when spilling is enabled or when an aggregate function is used in a streaming application.

For spilling, extractAccumulator and addSingleGroupIntermediateResults are used in single and partial aggregation.

Streaming applications use the same instance of an Aggregate class to add raw and intermediate results. In this case, a single instance recei

[2022-08-02 21:30] kgpai opened #2192 "Move row_constructor vector function to special form"
Currently row_constructor cannot be expressed with a function signature and thus needs to be moved to special form.

[2022-08-03 14:25] majetideepak opened #2198 "SumTest.sumDouble failing often in CI"
[ RUN      ] SumTest.sumDouble
../../velox/exec/tests/utils/QueryAssertions.cpp:597: Failure
Value of: false
  Actual: false
Expected: true
Expected 1, got 1
1 extra rows, 1 missing rows
1 of extra rows:
	-4.7537139293722525E29 | 4463.235924376847

1 of missing rows:
	4617.17236328125 | 4463.235924376847

[2022-08-03 18:50] pedroerp commented on #2198
Masha already assigned it, but @xiaoxmeng is working on it.

[2022-08-05 10:21] zhanglistar commented on #418
What's the status now? Thanks.

[2022-08-05 16:18] aditi-pandit commented on #418
DATE support has been added in Velox. current_date, from_iso8601_date and to_iso8601 functions are not yet supported though.

I'm closing this issue as most work on this has completed. We will add separate issues for the missing work items.

[2022-08-05 16:18] #418 closed

[2022-08-05 19:33] majetideepak commented on #2079
This problem arises for ShortDecimal -> LongDecimal as well. I have a fix. Assigning this issue to me.

[2022-08-08 18:59] xiaoxmeng commented on #2198
https://github.com/facebookincubator/velox/pull/2183 has fixed this issue. Thanks!

[2022-08-08 18:59] #2198 closed

[2022-08-08 22:59] pramodsatya commented on #2149
#2189 added in Velox to address the initialization issue for min(date) aggregate, https://github.com/facebookexternal/presto_cpp/pull/827 adds e2e test in presto_cpp

[2022-08-09 03:07] majetideepak commented on #2079
Resolved with https://github.com/facebookincubator/velox/pull/2150

[2022-08-09 03:07] #2079 closed

[2022-08-09 06:59] rui-mo opened #2237 "Lazy vector has smaller loaded size than expected"
Hi,

We are debugging one issue on lazy vector inside a dictionary vector, which causes invalid access to the loadedVector. It would be great if you could provide us with some advice.

We printed some logs and found below clues.
In [FilterProject](https://github.com/facebookincubator/velox/blob/main/velox/exec/FilterProject.cpp#L121-L123), rows has the same size as input (assume it is size_a), and

[2022-08-09 21:48] Yuhta commented on #2237
Can you reproduce it using `PlanBuilder`?  It's not clear under which case lazy vector would have a size larger than the base vector.

[2022-08-10 03:56] rui-mo commented on #2237
Hi Yuhta, I raised a [PR](https://github.com/facebookincubator/velox/pull/2246) on this issue and it can solve the failure in our test. I would be nice if you could help take a review. Also tried to reproduce this issue locally with `PlanBuilder`, but the test did not trigger this error. I guess this issue can only occur on certain case. Here is the link if you also want to take a look: [test](htt

[2022-08-10 13:53] Yuhta commented on #2237
When you create `lazy` in the test, why the length of `lazy` is claimed to be `kOuterSize` but the underlying vector is only `kInnerSize `?  That is the cause of the issue, and that inconsistency is what we need to find out to fix.

[2022-08-10 15:12] mbasmanova commented on #2175
@shiyu-bytedance PR #2250 updates the documentation to clarify usage of Aggregate class methods in different aggregation workflows.

[2022-08-10 15:58] #2175 closed

[2022-08-11 01:52] rui-mo commented on #2237
This is just for illustration of the issue we found. Do you suggest the loaded size should be the same as expected? And we need to find out why they are different and solve the bug to make them consistent.

[2022-08-11 01:55] #1884 closed

[2022-08-11 06:24] dingqiaoyi commented on #2160
Sorry for the late reply. It took me some days to read the codes of both PrestoDB and Velox.

According to this [post](https://prestodb.io/blog/2022/05/10/faster-presto-queries-with-parquet-page-index), there are three kinds of caches in the worker side, which are data cache, file metadata cache and stage result cache.
After looking into the codes in more detail, I believe the Velox data cache is

[2022-08-11 06:30] rui-mo commented on #2237
Hi @Yuhta, I noticed this [PR](https://github.com/facebookincubator/velox/pull/2089) for fixing the missing rows in lazy vector. Tried it locally, and found our issue could be solved. What we are testing is also conditional expressions as below, so the case can be similar.

[code]
Closing this issue. Thanks for your time.

[2022-08-11 06:30] #2237 closed

[2022-08-11 10:28] mbasmanova opened #2262 "Add Presto functions"
Velox includes many of the PrestoSQL functions, but a few are still missing. It would great to add these.

Function coverage map: https://facebookincubator.github.io/velox/functions/coverage.html

A subset of missing functions that would be most helpful to add.

### Array functions

all_match (lambda function)
any_match (lambda function)
array_average
array_frequency
array_has_duplicates
array_nor

[2022-08-11 10:28] mbasmanova commented on #2262
CC: @majetideepak @aditi-pandit

[2022-08-11 13:20] majetideepak opened #2263 "Build failure when native Parquet Reader is enabled"
I hit the following build error when I enable the native Parquet Reader in the TPCHBenchmark

[code]

[2022-08-11 13:22] majetideepak commented on #2263
@pedroerp I am unable to set the Assignees or Labels. I used to be able to before. Did anything change? Thanks.

[2022-08-11 13:53] Yuhta commented on #2237
Yes that is the expected behavior.

[2022-08-11 14:32] Yuhta commented on #2263
I cannot reproduce the issue with `make debug EXTRA_CMAKE_FLAGS="-DVELOX_ENABLE_PARQUET=ON"` on my laptop.  Can you share the command and the full output?

[2022-08-11 14:44] Yuhta opened #2267 "Nullability annotation missing in Mac M1 build"
[code]

[2022-08-11 15:14] majetideepak commented on #2263
This issue can be reproduced if you already have a local thrift library installed. In my case
[code]
This is on macOS. The change I made is to `parquet::registerParquetReaderFactory(parquet::ParquetReaderType::NATIVE)` to the below file
https://github.com/facebookincubator/velox/blob/c1175118d362d42b0a7a692994aa3b86cb5a63f0/velox/benchmarks/tpch/TpchBenchmark.cpp#L101

[2022-08-11 15:20] pedroerp commented on #2263
I think your permission must have expired or something; I just added it back. Could you git it another try?

(it also shows now as "invited" so you might need to check if you got an email or something)

[2022-08-11 15:22] majetideepak commented on #2263
@pedroerp thank you!  The permission issue is fixed.

[2022-08-11 15:23] Yuhta commented on #2263
@majetideepak Can you add a check in the cmake to see if thrift is already installed, then use that path, instead of using the one in arrow?

[2022-08-11 15:30] majetideepak commented on #2263
@Yuhta unfortunately, the CMake module `FindThrift.cmake` is not present in the standard path. Arrow has it own here `arrow_ep/src/arrow_ep/cpp/cmake_modules/FindThrift.cmake`. Since `ExternalProject_Add` does not download the project during cmake time, we cannot find thrift.
Should we have our own `velox/third_party/cmake_modules`?

[2022-08-11 15:37] majetideepak commented on #2263
Thanks. I will add a PR for this since I already have the environment.

[2022-08-11 17:10] #2267 closed

[2022-08-11 17:17] mbasmanova opened #2270 "Add support for converting MAP and ARRAY types from Velox to Substrait and back"
See velox/substrait/tests/VeloxToSubstraitTypeTest.cpp

[code]

[2022-08-11 17:18] mbasmanova commented on #2270
CC: @zhejiangxiaomai

[2022-08-11 19:34] c404err commented on #908
@majetideepak @leoluan2009 How can I reproduce the error?

[2022-08-12 00:30] #2263 closed

[2022-08-15 20:29] pramodsatya commented on #2262
Thanks for sharing the list of missing functions. Following functions have been added:
Date and Time functions
week, week_of_year: https://github.com/facebookincubator/velox/pull/2287

JSON functions
is_json_scalar: https://github.com/facebookincubator/velox/pull/2291
json_array_length: https://github.com/facebookincubator/velox/pull/2294

Working on the following functions:
Mathematical functions

[2022-08-16 03:20] zhanglistar commented on #2072
@alexey-milovidov I have studied both clickhouse and velox project for a long time. From high level, velox is native unified execution engine which is a library(not managing data) which may accelerate upper application execution like Spark(intel/gluten) or Presto(c++ worker using velox), even Flink and ML. It provides lots of things
 in the doc: https://facebookincubator.github.io/velox/

While Cl

[2022-08-16 10:53] LastSmiling opened #2303 "the parameter will be truncated in simd::crc32U64 when called by UniqueValueHasher"
[code]

[code]

in the code,  value.data() is uint64_t,  but in crc32U64, the first parameter is uint32_t, which will be truncated to same 4 byte length values